// Button size
@mixin button-size($fontSize, $lineHeight, $minWidth, $paddingVertical, $paddingHorizontal) {
  font-size: $fontSize;
  line-height: $lineHeight;
  min-width: $minWidth;
  padding: $paddingVertical $paddingHorizontal;
}
//
//Button default style
@mixin button-default ($color, $background, $border, $transitionSpeed, $transitionEasing) {
  background-color: $background;
  border: $borderRadius;
  color: $color;
  @if $transitionSpeed > 0 {
    @include triple-transition (background-color, $transitionSpeed, $transitionEasing, border, $transitionSpeed, $transitionEasing, color, $transitionSpeed, $transitionEasing);
  }
}
//
//Button hover and focus styles
@mixin button-hover-focus ($colorHoverFocus, $backgroundHoverFocus, $borderHoverFocus) {
  &:hover,
  &:focus,
  &:active {
    background-color: $backgroundHoverFocus;
    border: $borderHoverFocus;
    color: $colorHoverFocus;
  }
}
//
//Button activ style
@mixin button-active ($colorActive, $backgroundActive, $borderActive, $colorActiveHoverFocus, $backgroundActiveHoverFocus, $borderActiveHoverFocus) {
  &.active {
    background-color: $backgroundActive;
    border: $borderActive;
    color: $colorActive;
    &:hover,
    &:focus,
    &:active {
      background-color: $backgroundActiveHoverFocus;
      border: $borderActiveHoverFocus;
      color: $colorActiveHoverFocus;
    }
  }
}
//
//Button disabled style
@mixin button-disabled ($colorDisabled, $backgroundDisabled, $borderDisabled) {
  &.disabled,
  &[disabled],
  &.disabled:hover,
  &[disabled]:hover {
    background-color: $backgroundDisabled;
    border: $borderDisabled;
    color: $colorDisabled;
  }
}
