// Button size
@mixin button-size($fontSize, $lineHeight, $minWidth, $paddingVertical, $paddingHorizontal) {
  font-size: $fontSize;
  line-height: $lineHeight;
  min-width: $minWidth;
  padding: $paddingVertical $paddingHorizontal;
}
//
//Button default style
@mixin button-default ($color, $background, $border, $transitionSpeed, $transitionEasing) {
  background-color: $background;
  border: $border;
  color: $color;
  @if $transitionSpeed > 0 {
    @include triple-transition (background-color $transitionSpeed $transitionEasing, border $transitionSpeed $transitionEasing, color $transitionSpeed $transitionEasing);
  }
}
//
//Button hover and focus styles
@mixin button-hover-focus ($color, $background, $border) {
  &:hover,
  &:focus,
  &:active {
    background-color: $background;
    border: $border;
    color: $color;
  }
}
//
//Button disabled style
@mixin button-disabled ($color, $background, $border) {
  &[disabled],
  &[disabled]:hover {
    background-color: $background;
    border: $border;
    color: $color;
  }
}
