//Link default style
@mixin link-default ($fontSize, $fontWeight, $color, $textDecoration) {
  @if $fontSize != 0 {
    font-size: $fontSize;
  }
  @if $fontWeight != 0 {
    font-weight: $fontWeight;
  }
  color: $color;
  @if $textdecoration != 0 {
    text-decoration: $textDecoration;
  }
}
//Link hover, focus and active style
@mixin link-hover-focus ($fontWeight, $color, $textDecoration) {
  &:hover,
  &:focus,
  &:active {
    @if $fontWeight != 0 {
      font-weight: $fontWeight;
    }
    color: $color;
    @if $textdecoration != 0 {
      text-decoration: $textDecoration;
    }
  }
}
//Link visited style
@mixin link-visited($fontWeight, $color, $textDecoration) {
  &:visited {
    @if $fontWeight != 0 {
      font-weight: $fontWeight;
    }
    color: $color;
    @if $textdecoration != 0 {
      text-decoration: $textDecoration;
    }
  }
}
//Link visited hover, focus and active style
@mixin link-visited-hover ($fontWeight, $color, $textDecoration) {
  &:visited:hover,
  &:visited:focus,
  &:visited:active {
    @if $fontWeight != 0 {
      font-weight: $fontWeight;
    }
    color: $color;
    @if $textdecoration != 0 {
      text-decoration: $textDecoration;
    }
  }
}