//reset appearance of inputs and buttons
button,
input[type="button"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
keygen,
output,
select,
textarea {
  @extend %appearance-none;
  @extend %border-radius-0;
}
//
//reset appearance of fieldset
fieldset {
  @extend %border-0;
  @extend %margin-0;
  padding: 1rem 0;
}
//
//default style for input elements
button,
input,
keygen,
output,
select,
option,
optgroup,
textarea {
  @extend %box-sizing-border-box;
  @extend %display-block;
  font-family: $defaultFontFamily;
  font-size: $defaultTextFontSize;
  line-height: $defaultTextFontSize * $lineHeightFactor;
  padding: $inputElementsPaddingTopBottom $inputElementsPaddingLeftRight;
}
//button and input height fix for firefox
input::-moz-focus-inner,
button::-moz-focus-inner {
  @extend %border-0;
  @extend %padding-0;
}
//
//html classes for forms
//
//BLOCK
.form-group {
  @extend %clearfix;
  @extend %position-relative;
}
//
//ELEMENTS
//input field
.form-group__field {
  @extend %float-left;
  @extend %width-100;
}
//label
.form-group__label {
  @extend %display-block;
  @extend %float-none;
  padding: $inputElementsPaddingTopBottom * 2 0 $inputElementsPaddingTopBottom / 2 0;
}
//addon
.form-group__addon {
  @extend %box-sizing-border-box;
  @extend %display-block;
  padding: $inputElementsPaddingTopBottom $inputElementsPaddingLeftRight;
  @extend %position-absolute;
  @extend %text-align-center;
}
//
//MODIFIERS
//addon right positioned
.form-group__addon_right {
  @extend %right-0;
}
//addon not clickable
.form-group__addon_not-clickable {
  pointer-events: none;
}
//addons width and margins
//fields paddings
@for $i from 0 through $stepsAddonWidth {
  .form-group__addon_width-#{$i} {
    width: $firstAddonWidth + $i * $intervalAddonWidth;
  }
  .form-group__addon_margin-left-#{$i} {
    margin-left: $firstAddonWidth + $i * $intervalAddonWidth;
  }
  .form-group__addon_margin-right-#{$i} {
    margin-right: $firstAddonWidth + $i * $intervalAddonWidth;
  }
  .form-group__field_padding-left-#{$i} {
    padding-left: ($firstAddonWidth + $i * $intervalAddonWidth) + $extraPaddingAddonInput;
  }
  .form-group__field_padding-right-#{$i} {
    padding-right: ($firstAddonWidth + $i * $intervalAddonWidth) + $extraPaddingAddonInput;
  }
}
