//Set all elements of the grid to border-box
//to prevent alignement problems when applying borders
.cont,
.flex-cont,
.row,
.c {
  @extend %box-sizing-border-box;
}
//Set min-width of flex-cont to 100
.flex-cont {
  @extend %min-width-100;
}
//Body should not scale for viewports smaller than $w0
body {
  min-width: $w0;
}
//Set margin auto to container to center it in the viewport
.cont {
  @extend %margin-auto;
}
//Clearfix
//apply bootstrap clearfix to row to prevent uncorrect alignement and reflow
.row {
  @extend %clearfix;
}
//Apply gutter to grid elements (responsive)
.cont,
.flex-cont,
.c {
  padding-left: $gGutter;
  padding-right: $gGutter;
}
.row {
  margin-left: -($gGutter);
  margin-right: -($gGutter);
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  .cont,
  .flex-cont,
  .c {
    padding-left: $gTabletGutter;
    padding-right: $gTabletGutter;
  }
  .row {
    margin-left: -($gTabletGutter);
    margin-right: -($gTabletGutter);
  }
}
@media screen and (min-width: $w5) {
  .cont,
  .flex-cont,
  .c {
    padding-left: $gDesktopGutter;
    padding-right: $gDesktopGutter;
  }
  .row {
    margin-left: -($gDesktopGutter);
    margin-right: -($gDesktopGutter);
  }
}
//
//CONTAINER WIDTHS
//Set container widths based on viewport size
//container is 100% up to $w3min (smartphones)
.cont {
  width: 100%;
}
//tablet
@media screen and (min-width: $w3) and (max-width: $w5min) {
  .cont {
    width: $w3 - $contExtraLeftRightMargin;
  }
}
//desktop
@media screen and (min-width: $w5) {
  .cont {
    width: $w5 - $contExtraLeftRightMargin;
  }
}
//
//COLUMN ELEMENTS
.c {
  @extend %float-left; //Float all column elements to generate responsive grid
  @extend %width-100; //Default width of column elements
}
//
//GRID ELEMENTS WIDTHS
//Column elements responsive width classes
//First set of classes without breakpoint index. Applies to every viewport.
.c5 {
  width: 5%;
}
.c10 {
  width: 10%;
}
.c15 {
  width: 15%;
}
.c16 {
  width: 16.6666%;
}
.c15 {
  width: 15%;
}
.c20 {
  width: 20%; 
}
.c25 {
  width: 25%;
}
.c30 {
  width: 30%;
}
.c33 {
  width: 33.3333%;
}
.c35 {
  width: 35%;
}
.c40 {
  width: 40%;
}
.c45 {
  width: 45%;
}
.c50 {
  width: 50%;
}
.c55 {
  width: 55%;
}
.c60 {
  width: 60%;
}
.c65 {
  width: 65%;
}
.c66 {
  width: 66.666%;
}
.c70 {
  width: 70%;
}
.c75 {
  width: 75%;
}
.c80 {
  width: 80%;
}
.c83 {
  width: 83.3333%;
}
.c85 {
  width: 85%;
}
.c90 {
  width: 90%;
}
.c95 {
  width: 95%;
}
//Set of responsive grid classes with breakpoint index to target specific viewports.
@media screen and (min-width: $w2) {
  .c5-2 {
    width: 5%;
  }
  .c10-2 {
    width: 10%;
  }
  .c15-2 {
    width: 15%;
  }
  .c16-2 {
    width: 16.6666%;
  }
  .c20-2 {
    width: 20%;
  }
  .c25-2 {
    width: 25%;
  }
  .c30-2 {
    width: 30%;
  }
  .c33-2 {
    width: 33.3333%;
  }
  .c35-2 {
    width: 35%;
  }
  .c40-2 {
    width: 40%;
  }
  .c45-2 {
    width: 45%;
  }
  .c50-2 {
    width: 50%;
  }
  .c55-2 {
    width: 55%;
  }
  .c60-2 {
    width: 60%;
  }
  .c65-2 {
    width: 65%;
  }
  .c66-2 {
    width: 66.666%;
  }
  .c70-2 {
    width: 70%;
  }
  .c75-2 {
    width: 75%;
  }
  .c80-2 {
    width: 80%;
  }
  .c83-2 {
    width: 83.3333%;
  }
  .c85-2 {
    width: 85%;
  }
  .c90-2 {
    width: 90%;
  }
  .c95-2 {
    width: 95%;
  }
  .c100-2 {
    width: 100%;
  }
}
@media screen and (min-width: $w3) {
  .c5-3 {
    width: 5%;
  }
  .c10-3 {
    width: 10%;
  }
  .c15-3 {
    width: 15%;
  }
  .c16-3 {
    width: 16.6666%;
  }
  .c20-3 {
    width: 20%;
  }
  .c25-3 {
    width: 25%;
  }
  .c30-3 {
    width: 30%;
  }
  .c33-3 {
    width: 33.3333%;
  }
  .c35-3 {
    width: 35%;
  }
  .c40-3 {
    width: 40%;
  }
  .c45-3 {
    width: 45%;
  }
  .c50-3 {
    width: 50%;
  }
  .c55-3 {
    width: 55%;
  }
  .c60-3 {
    width: 60%;
  }
  .c65-3 {
    width: 65%;
  }
  .c66-3 {
    width: 66.666%;
  }
  .c70-3 {
    width: 70%;
  }
  .c75-3 {
    width: 75%;
  }
  .c80-3 {
    width: 80%;
  }
  .c83-3 {
    width: 83.3333%;
  }
  .c85-3 {
    width: 85%;
  }
  .c90-3 {
    width: 90%;
  }
  .c95-3 {
    width: 95%;
  }
  .c100-3 {
    width: 100%;
  }
}
@media screen and (min-width: $w4) {
  .c5-4 {
    width: 5%;
  }
  .c10-4 {
    width: 10%;
  }
  .c15-4 {
    width: 15%;
  }
  .c16-4 {
    width: 16.6666%;
  }
  .c20-4 {
    width: 20%;
  }
  .c25-4 {
    width: 25%;
  }
  .c30-4 {
    width: 30%;
  }
  .c33-4 {
    width: 33.3333%;
  }
  .c35-4 {
    width: 35%;
  }
  .c40-4 {
    width: 40%;
  }
  .c45-4 {
    width: 45%;
  }
  .c50-4 {
    width: 50%;
  }
  .c55-4 {
    width: 55%;
  }
  .c60-4 {
    width: 60%;
  }
  .c65-4 {
    width: 65%;
  }
  .c66-4 {
    width: 66.666%;
  }
  .c70-4 {
    width: 70%;
  }
  .c75-4 {
    width: 75%;
  }
  .c80-4 {
    width: 80%;
  }
  .c83-4 {
    width: 83.3333%;
  }
  .c85-4 {
    width: 85%;
  }
  .c90-4 {
    width: 90%;
  }
  .c95-4 {
    width: 95%;
  }
  .c100-4 {
    width: 100%;
  }
}
@media screen and (min-width: $w5) {
  .c5-5 {
    width: 5%;
  }
  .c10-5 {
    width: 10%;
  }
  .c15-5 {
    width: 15%;
  }
  .c16-5 {
    width: 16.6666%;
  }
  .c20-5 {
    width: 20%;
  }
  .c25-5 {
    width: 25%;
  }
  .c30-5 {
    width: 30%;
  }
  .c33-5 {
    width: 33.3333%;
  }
  .c35-5 {
    width: 35%;
  }
  .c40-5 {
    width: 40%;
  }
  .c45-5 {
    width: 45%;
  }
  .c50-5 {
    width: 50%;
  }
  .c55-5 {
    width: 55%;
  }
  .c60-5 {
    width: 60%;
  }
  .c65-5 {
    width: 65%;
  }
  .c66-5 {
    width: 66.666%;
  }
  .c70-5 {
    width: 70%;
  }
  .c75-5 {
    width: 75%;
  }
  .c80-5 {
    width: 80%;
  }
  .c83-5 {
    width: 83.3333%;
  }
  .c85-5 {
    width: 85%;
  }
  .c90-5 {
    width: 90%;
  }
  .c95-5 {
    width: 95%;
  }
  .c100-5 {
    width: 100%;
  }
}
@media screen and (min-width: $w6) {
  .c5-6 {
    width: 5%;
  }
  .c10-6 {
    width: 10%;
  }
  .c15-6 {
    width: 15%;
  }
  .c16-6 {
    width: 16.6666%;
  }
  .c20-6 {
    width: 20%;
  }
  .c25-6 {
    width: 25%;
  }
  .c30-6 {
    width: 30%;
  }
  .c33-6 {
    width: 33.3333%;
  }
  .c35-6 {
    width: 35%;
  }
  .c40-6 {
    width: 40%;
  }
  .c45-6 {
    width: 45%;
  }
  .c50-6 {
    width: 50%;
  }
  .c55-6 {
    width: 55%;
  }
  .c60-6 {
    width: 60%;
  }
  .c65-6 {
    width: 65%;
  }
  .c66-6 {
    width: 66.666%;
  }
  .c70-6 {
    width: 70%;
  }
  .c75-6 {
    width: 75%;
  }
  .c80-6 {
    width: 80%;
  }
  .c83-6 {
    width: 83.3333%;
  }
  .c85-6 {
    width: 85%;
  }
  .c90-6 {
    width: 90%;
  }
  .c95-6 {
    width: 95%;
  }
  .c100-6 {
    width: 100%;
  }
}
//
//OFFSET
//Classes for grid elements offset
.o0 {
  margin-left: 0;
}
.o5 {
  margin-left: 5%;
}
.o10 {
  margin-left: 10%;
}
.o15 {
  margin-left: 15%;
}
.o16 {
  margin-left: 16.6666%;
}
.o20 {
  margin-left: 20%;
}
.o25 {
  margin-left: 25%;
}
.o30 {
  margin-left: 30%;
}
.o33 {
  margin-left: 33.3333%;
}
.o35 {
  margin-left: 35%;
}
.o40 {
  margin-left: 40%;
}
.o45 {
  margin-left: 45%;
}
.o50 {
  margin-left: 50%;
}
.o55 {
  margin-left: 55%;
}
.o60 {
  margin-left: 60%;
}
.o65 {
  margin-left: 65%;
}
.o66 {
  margin-left: 66.666%;
}
.o70 {
  margin-left: 70%;
}
.o75 {
  margin-left: 75%;
}
.o80 {
  margin-left: 80%;
}
.o83 {
  margin-left: 83.3333%;
}
.o85 {
  margin-left: 85%;
}
.o90 {
  margin-left: 90%;
}
.o95 {
  margin-left: 95%;
}
@media screen and (min-width: $w2) {
  .o0-2 {
    margin-left: 0;
  }
  .o5-2 {
    margin-left: 5%;
  }
  .o10-2 {
    margin-left: 10%;
  }
  .o15-2 {
    margin-left: 15%;
  }
  .o16-2 {
    margin-left: 16.6666%;
  }
  .o20-2 {
    margin-left: 20%;
  }
  .o25-2 {
    margin-left: 25%;
  }
  .o30-2 {
    margin-left: 30%;
  }
  .o33-2 {
    margin-left: 33.3333%;
  }
  .o35-2 {
    margin-left: 35%;
  }
  .o40-2 {
    margin-left: 40%;
  }
  .o45-2 {
    margin-left: 45%;
  }
  .o50-2 {
    margin-left: 50%;
  }
  .o55-2 {
    margin-left: 55%;
  }
  .o60-2 {
    margin-left: 60%;
  }
  .o65-2 {
    margin-left: 65%;
  }
  .o66-2 {
    margin-left: 66.666%;
  }
  .o70-2 {
    margin-left: 70%;
  }
  .o75-2 {
    margin-left: 75%;
  }
  .o80-2 {
    margin-left: 80%;
  }
  .o83-2 {
    margin-left: 83.3333%;
  }
  .o85-2 {
    margin-left: 85%;
  }
  .o90-2 {
    margin-left: 90%;
  }
  .o95-2 {
    margin-left: 95%;
  }
}
@media screen and (min-width: $w3) {
  .o0-3 {
    margin-left: 0;
  }
  .o5-3 {
    margin-left: 5%;
  }
  .o10-3 {
    margin-left: 10%;
  }
  .o15-3 {
    margin-left: 15%;
  }
  .o16-3 {
    margin-left: 16.6666%;
  }
  .o20-3 {
    margin-left: 20%;
  }
  .o25-3 {
    margin-left: 25%;
  }
  .o30-3 {
    margin-left: 30%;
  }
  .o33-3 {
    margin-left: 33.3333%;
  }
  .o35-3 {
    margin-left: 35%;
  }
  .o40-3 {
    margin-left: 40%;
  }
  .o45-3 {
    margin-left: 45%;
  }
  .o50-3 {
    margin-left: 50%;
  }
  .o55-3 {
    margin-left: 55%;
  }
  .o60-3 {
    margin-left: 60%;
  }
  .o65-3 {
    margin-left: 65%;
  }
  .o66-3 {
    margin-left: 66.666%;
  }
  .o70-3 {
    margin-left: 70%;
  }
  .o75-3 {
    margin-left: 75%;
  }
  .o80-3 {
    margin-left: 80%;
  }
  .o83-3 {
    margin-left: 83.3333%;
  }
  .o85-3 {
    margin-left: 85%;
  }
  .o90-3 {
    margin-left: 90%;
  }
  .o95-3 {
    margin-left: 95%;
  }
}
@media screen and (min-width: $w4) {
  .o0-4 {
    margin-left: 0;
  }
  .o5-4 {
    margin-left: 5%;
  }
  .o10-4 {
    margin-left: 10%;
  }
  .o15-4 {
    margin-left: 15%;
  }
  .o16-4 {
    margin-left: 16.6666%;
  }
  .o20-4 {
    margin-left: 20%;
  }
  .o25-4 {
    margin-left: 25%;
  }
  .o30-4 {
    margin-left: 30%;
  }
  .o33-4 {
    margin-left: 33.3333%;
  }
  .o35-4 {
    margin-left: 35%;
  }
  .o40-4 {
    margin-left: 40%;
  }
  .o45-4 {
    margin-left: 45%;
  }
  .o50-4 {
    margin-left: 50%;
  }
  .o55-4 {
    margin-left: 55%;
  }
  .o60-4 {
    margin-left: 60%;
  }
  .o65-4 {
    margin-left: 65%;
  }
  .o66-4 {
    margin-left: 66.666%;
  }
  .o70-4 {
    margin-left: 70%;
  }
  .o75-4 {
    margin-left: 75%;
  }
  .o80-4 {
    margin-left: 80%;
  }
  .o83-4 {
    margin-left: 83.3333%;
  }
  .o85-4 {
    margin-left: 85%;
  }
  .o90-4 {
    margin-left: 90%;
  }
  .o95-4 {
    margin-left: 95%;
  }
}
@media screen and (min-width: $w5) {
  .o0-5 {
    margin-left: 0;
  }
  .o5-5 {
    margin-left: 5%;
  }
  .o10-5 {
    margin-left: 10%;
  }
  .o15-5 {
    margin-left: 15%;
  }
  .o16-5 {
    margin-left: 16.6666%;
  }
  .o20-5 {
    margin-left: 20%;
  }
  .o25-5 {
    margin-left: 25%;
  }
  .o30-5 {
    margin-left: 30%;
  }
  .o33-5 {
    margin-left: 33.3333%;
  }
  .o35-5 {
    margin-left: 35%;
  }
  .o40-5 {
    margin-left: 40%;
  }
  .o45-5 {
    margin-left: 45%;
  }
  .o50-5 {
    margin-left: 50%;
  }
  .o55-5 {
    margin-left: 55%;
  }
  .o60-5 {
    margin-left: 60%;
  }
  .o65-5 {
    margin-left: 65%;
  }
  .o66-5 {
    margin-left: 66.666%;
  }
  .o70-5 {
    margin-left: 70%;
  }
  .o75-5 {
    margin-left: 75%;
  }
  .o80-5 {
    margin-left: 80%;
  }
  .o83-5 {
    margin-left: 83.3333%;
  }
  .o85-5 {
    margin-left: 85%;
  }
  .o90-5 {
    margin-left: 90%;
  }
  .o95-5 {
    margin-left: 95%;
  }
}
@media screen and (min-width: $w6) {
  .o0-6 {
    margin-left: 0;
  }
  .o5-6 {
    margin-left: 5%;
  }
  .o10-6 {
    margin-left: 10%;
  }
  .o15-6 {
    margin-left: 15%;
  }
  .o16-6 {
    margin-left: 16.6666%;
  }
  .o20-6 {
    margin-left: 20%;
  }
  .o25-6 {
    margin-left: 25%;
  }
  .o30-6 {
    margin-left: 30%;
  }
  .o33-6 {
    margin-left: 33.3333%;
  }
  .o35-6 {
    margin-left: 35%;
  }
  .o40-6 {
    margin-left: 40%;
  }
  .o45-6 {
    margin-left: 45%;
  }
  .o50-6 {
    margin-left: 50%;
  }
  .o55-6 {
    margin-left: 55%;
  }
  .o60-6 {
    margin-left: 60%;
  }
  .o65-6 {
    margin-left: 65%;
  }
  .o66-6 {
    margin-left: 66.666%;
  }
  .o70-6 {
    margin-left: 70%;
  }
  .o75-6 {
    margin-left: 75%;
  }
  .o80-6 {
    margin-left: 80%;
  }
  .o83-6 {
    margin-left: 83.3333%;
  }
  .o85-6 {
    margin-left: 85%;
  }
  .o90-6 {
    margin-left: 90%;
  }
  .o95-6 {
    margin-left: 95%;
  }
}
