//---------------------------
//DEFINE MIXINS
//---------------------------
@mixin grid ($suffix) {
  @for $i from 1 through $colNumber {
    %c_#{$i}#{$suffix} {
      width: 100% / $colNumber * $i;
    }
  }
}
//-------------------------------
//INCLUDE ALL GRID PLACEHOLDERS IN CSS
//------------------------------
//Clearfix
//apply bootstrap clearfix to row to prevent uncorrect alignement and reflow
%row {
  @extend %clearfix;
}
//define reverse row placeholders
%row_reverse {
  float: right !important; // overrrride float: left
}
@media screen and (max-width: $w3min) {
  %row_reverse-smart {
    float: right !important; // overrrride float: left
  }
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %row_reverse-tablet {
    float: right !important; // overrrride float: left
  }
}
@media screen and (min-width: $w5) {
  %row_reverse-desktop {
    float: right !important; // overrrride float: left
  }
}
//-------------------------------
//COLUMN ELEMENTS
//-------------------------------
%c {
  @extend %float-left; //Float all column elements to generate responsive grid
}
//-------------------------------
//GRID ELEMENTS WIDTHS AND OFFSETS
//-------------------------------
//Column elements responsive width classes
//First set of classes without breakpoint index. Applies to every screen.
@include grid('');
@media screen and (min-width: $w2) {
  @include grid('-2');
}
@media screen and (min-width: $w3) {
  @include grid('-3');
}
@media screen and (min-width: $w4) {
  @include grid('-4');
}
@media screen and (min-width: $w5) {
  @include grid('-5');
}
@media screen and (min-width: $w6) {
  @include grid('-6');
}
