//======================
//GRID SYSTEMS
//======================
$colNumber: 24 !default; //Number of responsive columns
$contExtraLeftRightMargin: 60px !default; //container extra margin on desktop screens. ONLY PIXELS. 
$gGutter: 0.5rem !default; //default gutter
$gTabletGutter: 0.75rem !default; //gutter for tablets
$gDesktopGutter: 1rem !default; //gutter for desktop screens
