//Link default style
@mixin link-default ($color, $fontWeight, $textDecoration, $textTransform) {
  @if $fontWeight !=normal {
    font-weight: $fontWeight;
  }
  color: $color;
  text-decoration: $textDecoration;
  @if $textTransform !=none {
    text-transform: $textTransform;
  }
}
//Link hover and focus style
@mixin link-hover-focus ($color, $textDecoration) {
  &:hover,
  &:focus {
    color: $color;
    text-decoration: $textDecoration;
  }
}
//Link hover and focus style
@mixin link-active ($color, $textDecoration) {
  &:active {
    color: $color;
    text-decoration: $textDecoration;
  }
}
//Link visited style
@mixin link-visited($color, $textDecoration) {
  &:visited {
    color: $color;
    text-decoration: $textDecoration;
  }
}
//Link visited hover, focus and active style
@mixin link-visited-hover-focus ($color, $textDecoration) {
  &:visited:hover,
  &:visited:focus {
    color: $color;
    text-decoration: $textDecoration;
  }
}
