//---------------------------
//mixin for text 
//---------------------------
@mixin font-sizing ($fontSize, $lineHeight, $letterSpacing) {
  font-size: $fontSize;
  @if $letterSpacing !=0 {
    letter-spacing: $letterSpacing;
  }
  @if $lineHeight !=0 {
    line-height: $lineHeight;
  }
}

@mixin text-style ($color, $fontWeight, $fontStyle, $textTransform, $textDecoration) {
  color: $color;
  @if $fontStyle !=normal {
    font-style: $fontStyle;
  }
  @if $fontWeight !=normal {
    font-weight: $fontWeight;
  }
  
  @if $textDecoration !=none {
    text-decoration: $textDecoration;
  }
  @if $textTransform !=none {
    text-transform: $textTransform;
  }
}


@mixin text-variation ($color, $fontWeight, $fontStyle, $textTransform, $textDecoration) {
  color: $color;
  @if $fontStyle !=normal {
    font-style: $fontStyle;
  }
  @if $fontWeight !=normal {
    font-weight: $fontWeight;
  }
  @if $textDecoration !=none {
    text-decoration: $textDecoration;
  }
  @if $textTransform !=none {
    text-transform: $textTransform;
  }
}