//RESPONSIVE MULTI COLUM LAYOUT (columns number changes based on viewport width) --- USE CLASSES .col2 to .col6
//
$column-gap: 1rem; //Use rem
$colum-width: auto;
$column-rule-type: solid;
$column-rule-width: 1px;
$column-rule-color: #ccc;
//
.col2,
.col3,
.col4,
.col5,
.col6 {
    @include column-design ($column-gap, $colum-width, $column-rule-type, $column-rule-width, $column-rule-color);
}
@media (max-width: $w0 - 1px) {
    .col2,
    .col3,
    .col4,
    .col5,
    .col6 {
        @include column-count (1);
    }
}
@media (min-width: $w0) and (max-width: $w1 - 1px) {
    .col2,
    .col3,
    .col4 {
        @include column-count (1);
    }
    .col5,
    .col6 {
        @include column-count (2);
    }
}
@media (min-width: $w1) and (max-width: $w2 - 1px) {
    .col2,
    .col3 {
        @include column-count (1);
    }
    .col4,
    .col5,
    .col6 {
        @include column-count (2);
    }
}
@media (min-width: $w2) and (max-width: $w3 - 1px) {
    .col2 {
        @include column-count (2);
    }
    .col3,
    .col4,
    .col5,
    .col6 {
        @include column-count (3);
    }
}
@media (min-width: $w3) and (max-width: $w4 - 1px) {
    .col2 {
        @include column-count (2);
    }
    .col3 {
        @include column-count (3);
    }
    .col4,
    .col5,
    .col6 {
        @include column-count (4);
    }
}
@media (min-width: $w4) and (max-width: $w5 - 1px) {
    .col2 {
        @include column-count (2);
    }
    .col3 {
        @include column-count (3);
    }
    .col4 {
        @include column-count (4);
    }
    .col5,
    .col6 {
        @include column-count (5);
    }
}
@media (min-width: $w5) {
    .col2 {
        @include column-count (2);
    }
    .col3 {
        @include column-count (3);
    }
    .col4 {
        @include column-count (4);
    }
    .col5 {
        @include column-count (5);
    }
    .col6 {
        @include column-count (6);
    }
}
