//DOCUMENTATION:

/*

!!NOTE: Include the polyfill script rem.js to ensure support for ie10 and ie8

*/

//TRYOUT COLOR CLASSES ---------------
//Use for developement if you need, than you can delete this classes
$c1: #855bc3;
$c2: #629fe6;
$c3: #5fe093;
.c1 {
    background-color: $c1;
}
.c2 {
    background-color: $c2;
}
.c3 {
    background-color: $c3;
}
.c1-2 {
    background-color: lighten($c1, 5%);
}
.c2-2 {
    background-color: lighten($c2, 5%);
}
.c3-2 {
    background-color: lighten($c3, 5%);
}
.c1-3 {
    background-color: darken($c1, 5%);
}
.c2-3 {
    background-color: darken($c2, 5%);
}
.c3-3 {
    background-color: darken($c3, 5%);
}
//VARIABLES -----------------------------------------------------------------------------------------------------------
//CONTAINER MARGINS
$cont-extra-left-right-margin: 100px; //!ONLY PIXELS. 
//CSS RULES -------------------------------------------------------------------------------
html {
    font-size: 1rem;
}
html,
body {
    @extend %reset-margins-paddings;
}
html,
body,
.flex-cont {
    width: 100%;
}
body {
    min-width: $w0;
}
html,
body,
.cont,
.flex-cont,
.row {
    @extend %box-sizing-border-box;
}
.cont {
    @extend %margin-auto;
}
//clearfix
.clearfix,
.row {
    @extend %clearfix;
}
//cont, row and g margins and paddings for left and right alignement
$contRowGdefaultMargins: 0.75rem;
$contRowGtabletMargins: 0.5rem;
$contRowGsmartMargins: 0.25rem;
@media screen and (max-width: $w2 - 1px) {
    .cont,
    .flex-cont {
        padding-left: $contRowGsmartMargins;
        padding-right: $contRowGsmartMargins;
        .row {
            margin-left: -($contRowGsmartMargins);
            margin-right: -($contRowGsmartMargins);
            .g {
                padding-left: $contRowGsmartMargins;
                padding-right: $contRowGsmartMargins;
            }
        }
    }
}
@media screen and (min-width: $w2) and (max-width: $w5 - 1px) {
    .cont,
    .flex-cont {
        padding-left: $contRowGtabletMargins;
        padding-right: $contRowGtabletMargins;
        .row {
            margin-left: -($contRowGtabletMargins);
            margin-right: -($contRowGtabletMargins);
            .g {
                padding-left: $contRowGtabletMargins;
                padding-right: $contRowGtabletMargins;
            }
        }
    }
}
@media screen and (min-width: $w5) {
    .cont,
    .flex-cont {
        padding-left: $contRowGdefaultMargins;
        padding-right: $contRowGdefaultMargins;
        .row {
            margin-left: -($contRowGdefaultMargins);
            margin-right: -($contRowGdefaultMargins);
            .g {
                padding-left: $contRowGdefaultMargins;
                padding-right: $contRowGdefaultMargins;
            }
        }
    }
}
//cont width
@media screen and (max-width: $w3 - 1px) {
    .cont {
        width: 100%;
    }
}
@media screen and (min-width: $w3) and (max-width: $w4 - 1px) {
    .cont {
        width: $w3 - $cont-extra-left-right-margin;
    }
}
@media screen and (min-width: $w4) and (max-width: $w5 - 1px) {
    .cont {
        width: $w4 - $cont-extra-left-right-margin;
    }
}
@media screen and (min-width: $w5) and (max-width: $w6 - 1px) {
    .cont {
        width: $w5 - $cont-extra-left-right-margin;
    }
}
@media screen and (min-width: $w6) and (max-width: $w7 - 1px) {
    .cont {
        width: $w6 - $cont-extra-left-right-margin;
    }
}
@media screen and (min-width: $w7) and (max-width: $w8 - 1px) {
    .cont {
        width: $w7 - $cont-extra-left-right-margin;
    }
}
@media screen and (min-width: $w8) and (max-width: $w9 - 1px) {
    .cont {
        width: $w8 - $cont-extra-left-right-margin;
    }
}
@media screen and (min-width: $w9) {
    .cont {
        width: $w9 - $cont-extra-left-right-margin;
    }
}
.g5-10,
.g10-10,
.g15-10,
.g16-10,
.g20-10,
.g25-10,
.g30-10,
.g33-10,
.g35-10,
.g40-10,
.g45-10,
.g50-10,
.g55-10,
.g60-10,
.g65-10,
.g66-10,
.g70-10,
.g75-10,
.g80-10,
.g83-10,
.g85-10,
.g90-10,
.g95-10,
.g100-10,
.g5-9,
.g10-9,
.g15-9,
.g16-9,
.g20-9,
.g25-9,
.g30-9,
.g33-9,
.g35-9,
.g40-9,
.g45-9,
.g50-9,
.g55-9,
.g60-9,
.g65-9,
.g66-9,
.g70-9,
.g75-9,
.g80-9,
.g83-9,
.g85-9,
.g90-9,
.g95-9,
.g100-9,
.g5-8,
.g10-8,
.g15-8,
.g16-8,
.g20-8,
.g25-8,
.g30-8,
.g33-8,
.g35-8,
.g40-8,
.g45-8,
.g50-8,
.g55-8,
.g60-8,
.g65-8,
.g66-8,
.g70-8,
.g75-8,
.g80-8,
.g83-8,
.g85-8,
.g90-8,
.g95-8,
.g100-8,
.g5-7,
.g10-7,
.g15-7,
.g16-7,
.g20-7,
.g25-7,
.g30-7,
.g33-7,
.g35-7,
.g40-7,
.g45-7,
.g50-7,
.g55-7,
.g60-7,
.g65-7,
.g66-7,
.g70-7,
.g75-7,
.g80-7,
.g83-7,
.g85-7,
.g90-7,
.g95-7,
.g100-7,
.g5-6,
.g10-6,
.g15-6,
.g16-6,
.g20-6,
.g25-6,
.g30-6,
.g33-6,
.g35-6,
.g40-6,
.g45-6,
.g50-6,
.g55-6,
.g60-6,
.g65-6,
.g66-6,
.g70-6,
.g75-6,
.g80-6,
.g83-6,
.g85-6,
.g90-6,
.g95-6,
.g100-6,
.g5-5,
.g10-5,
.g15-5,
.g16-5,
.g20-5,
.g25-5,
.g30-5,
.g33-5,
.g35-5,
.g40-5,
.g45-5,
.g50-5,
.g55-5,
.g60-5,
.g65-5,
.g66-5,
.g70-5,
.g75-5,
.g80-5,
.g83-5,
.g85-5,
.g90-5,
.g95-5,
.g100-5,
.g5-4,
.g10-4,
.g15-4,
.g16-4,
.g20-4,
.g25-4,
.g30-4,
.g33-4,
.g35-4,
.g40-4,
.g45-4,
.g50-4,
.g55-4,
.g60-4,
.g65-4,
.g66-4,
.g70-4,
.g75-4,
.g80-4,
.g83-4,
.g85-4,
.g90-4,
.g95-4,
.g100-4,
.g5-3,
.g10-3,
.g15-3,
.g16-3,
.g20-3,
.g25-3,
.g30-3,
.g33-3,
.g35-3,
.g40-3,
.g45-3,
.g50-3,
.g55-3,
.g60-3,
.g65-3,
.g66-3,
.g70-3,
.g75-3,
.g80-3,
.g83-3,
.g85-3,
.g90-3,
.g95-3,
.g100-3,
.g5-2,
.g10-2,
.g15-2,
.g16-2,
.g20-2,
.g25-2,
.g30-2,
.g33-2,
.g35-2,
.g40-2,
.g45-2,
.g50-2,
.g55-2,
.g60-2,
.g65-2,
.g66-2,
.g70-2,
.g75-2,
.g80-2,
.g83-2,
.g85-2,
.g90-2,
.g95-2,
.g100-2,
.g5-1,
.g10-1,
.g15-1,
.g16-1,
.g20-1,
.g25-1,
.g30-1,
.g33-1,
.g35-1,
.g40-1,
.g45-1,
.g50-1,
.g55-1,
.g60-1,
.g65-1,
.g66-1,
.g70-1,
.g75-1,
.g80-1,
.g83-1,
.g85-1,
.g90-1,
.g95-1,
.g100-1 {
    @extend %box-sizing-border-box;
    float: left;
}
//grdid width classes ---------------------
@media screen and (max-width: $w4 - 1px) {
    .g5-1 {
        width: 5%;
    }
    .g10-1 {
        width: 10%;
    }
    .g15-1 {
        width: 15%;
    }
    .g16-1 {
        width: 16.6666%;
    }
    .g15-1 {
        width: 15%;
    }
    .g20-1 {
        width: 20%;
    }
    .g25-1 {
        width: 25%;
    }
    .g30-1 {
        width: 30%;
    }
    .g33-1 {
        width: 33.3333%;
    }
    .g35-1 {
        width: 35%;
    }
    .g40-1 {
        width: 40%;
    }
    .g45-1 {
        width: 45%;
    }
    .g50-1 {
        width: 50%;
    }
    .g55-1 {
        width: 55%;
    }
    .g60-1 {
        width: 60%;
    }
    .g65-1 {
        width: 65%;
    }
    .g66-1 {
        width: 66.666%;
    }
    .g70-1 {
        width: 70%;
    }
    .g75-1 {
        width: 75%;
    }
    .g80-1 {
        width: 80%;
    }
    .g83-1 {
        width: 83.3333%;
    }
    .g85-1 {
        width: 85%;
    }
    .g90-1 {
        width: 90%;
    }
    .g95-1 {
        width: 95%;
    }
    .g100-1 {
        width: 100%;
    }
}
@media screen and (min-width: $w1) {
    .g5-2 {
        width: 5%;
    }
    .g10-2 {
        width: 10%;
    }
    .g15-2 {
        width: 15%;
    }
    .g16-2 {
        width: 16.6666%;
    }
    .g20-2 {
        width: 20%;
    }
    .g25-2 {
        width: 25%;
    }
    .g30-2 {
        width: 30%;
    }
    .g33-2 {
        width: 33.3333%;
    }
    .g35-2 {
        width: 35%;
    }
    .g40-2 {
        width: 40%;
    }
    .g45-2 {
        width: 45%;
    }
    .g50-2 {
        width: 50%;
    }
    .g55-2 {
        width: 55%;
    }
    .g60-2 {
        width: 60%;
    }
    .g65-2 {
        width: 65%;
    }
    .g66-2 {
        width: 66.666%;
    }
    .g70-2 {
        width: 70%;
    }
    .g75-2 {
        width: 75%;
    }
    .g80-2 {
        width: 80%;
    }
    .g83-2 {
        width: 83.3333%;
    }
    .g85-2 {
        width: 85%;
    }
    .g90-2 {
        width: 90%;
    }
    .g95-2 {
        width: 95%;
    }
    .g100-2 {
        width: 100%;
    }
}
@media screen and (min-width: $w2) {
    .g5-3 {
        width: 5%;
    }
    .g10-3 {
        width: 10%;
    }
    .g15-3 {
        width: 15%;
    }
    .g16-3 {
        width: 16.6666%;
    }
    .g20-3 {
        width: 20%;
    }
    .g25-3 {
        width: 25%;
    }
    .g30-3 {
        width: 30%;
    }
    .g33-3 {
        width: 33.3333%;
    }
    .g35-3 {
        width: 35%;
    }
    .g40-3 {
        width: 40%;
    }
    .g45-3 {
        width: 45%;
    }
    .g50-3 {
        width: 50%;
    }
    .g55-3 {
        width: 55%;
    }
    .g60-3 {
        width: 60%;
    }
    .g65-3 {
        width: 65%;
    }
    .g66-3 {
        width: 66.666%;
    }
    .g70-3 {
        width: 70%;
    }
    .g75-3 {
        width: 75%;
    }
    .g80-3 {
        width: 80%;
    }
    .g83-3 {
        width: 83.3333%;
    }
    .g85-3 {
        width: 85%;
    }
    .g90-3 {
        width: 90%;
    }
    .g95-3 {
        width: 95%;
    }
    .g100-3 {
        width: 100%;
    }
}
@media screen and (min-width: $w3) {
    .g5-4 {
        width: 5%;
    }
    .g10-4 {
        width: 10%;
    }
    .g15-4 {
        width: 15%;
    }
    .g16-4 {
        width: 16.6666%;
    }
    .g20-4 {
        width: 20%;
    }
    .g25-4 {
        width: 25%;
    }
    .g30-4 {
        width: 30%;
    }
    .g33-4 {
        width: 33.3333%;
    }
    .g35-4 {
        width: 35%;
    }
    .g40-4 {
        width: 40%;
    }
    .g45-4 {
        width: 45%;
    }
    .g50-4 {
        width: 50%;
    }
    .g55-4 {
        width: 55%;
    }
    .g60-4 {
        width: 60%;
    }
    .g65-4 {
        width: 65%;
    }
    .g66-4 {
        width: 66.666%;
    }
    .g70-4 {
        width: 70%;
    }
    .g75-4 {
        width: 75%;
    }
    .g80-4 {
        width: 80%;
    }
    .g83-4 {
        width: 83.3333%;
    }
    .g85-4 {
        width: 85%;
    }
    .g90-4 {
        width: 90%;
    }
    .g95-4 {
        width: 95%;
    }
    .g100-4 {
        width: 100%;
    }
}
@media screen and (min-width: $w4) {
    .g5-5 {
        width: 5%;
    }
    .g10-5 {
        width: 10%;
    }
    .g15-5 {
        width: 15%;
    }
    .g16-5 {
        width: 16.6666%;
    }
    .g20-5 {
        width: 20%;
    }
    .g25-5 {
        width: 25%;
    }
    .g30-5 {
        width: 30%;
    }
    .g33-5 {
        width: 33.3333%;
    }
    .g35-5 {
        width: 35%;
    }
    .g40-5 {
        width: 40%;
    }
    .g45-5 {
        width: 45%;
    }
    .g50-5 {
        width: 50%;
    }
    .g55-5 {
        width: 55%;
    }
    .g60-5 {
        width: 60%;
    }
    .g65-5 {
        width: 65%;
    }
    .g66-5 {
        width: 66.666%;
    }
    .g70-5 {
        width: 70%;
    }
    .g75-5 {
        width: 75%;
    }
    .g80-5 {
        width: 80%;
    }
    .g83-5 {
        width: 83.3333%;
    }
    .g85-5 {
        width: 85%;
    }
    .g90-5 {
        width: 90%;
    }
    .g95-5 {
        width: 95%;
    }
    .g100-5 {
        width: 100%;
    }
}
@media screen and (min-width: $w5) {
    .g5-6 {
        width: 5%;
    }
    .g10-6 {
        width: 10%;
    }
    .g15-6 {
        width: 15%;
    }
    .g16-6 {
        width: 16.6666%;
    }
    .g20-6 {
        width: 20%;
    }
    .g25-6 {
        width: 25%;
    }
    .g30-6 {
        width: 30%;
    }
    .g33-6 {
        width: 33.3333%;
    }
    .g35-6 {
        width: 35%;
    }
    .g40-6 {
        width: 40%;
    }
    .g45-6 {
        width: 45%;
    }
    .g50-6 {
        width: 50%;
    }
    .g55-6 {
        width: 55%;
    }
    .g60-6 {
        width: 60%;
    }
    .g65-6 {
        width: 65%;
    }
    .g66-6 {
        width: 66.666%;
    }
    .g70-6 {
        width: 70%;
    }
    .g75-6 {
        width: 75%;
    }
    .g80-6 {
        width: 80%;
    }
    .g83-6 {
        width: 83.3333%;
    }
    .g85-6 {
        width: 85%;
    }
    .g90-6 {
        width: 90%;
    }
    .g95-6 {
        width: 95%;
    }
    .g100-6 {
        width: 100%;
    }
}
@media screen and (min-width: $w6) {
    .g5-7 {
        width: 5%;
    }
    .g10-7 {
        width: 10%;
    }
    .g15-7 {
        width: 15%;
    }
    .g16-7 {
        width: 16.6666%;
    }
    .g20-7 {
        width: 20%;
    }
    .g25-7 {
        width: 25%;
    }
    .g30-7 {
        width: 30%;
    }
    .g33-7 {
        width: 33.3333%;
    }
    .g35-7 {
        width: 35%;
    }
    .g40-7 {
        width: 40%;
    }
    .g45-7 {
        width: 45%;
    }
    .g50-7 {
        width: 50%;
    }
    .g55-7 {
        width: 55%;
    }
    .g60-7 {
        width: 60%;
    }
    .g65-7 {
        width: 65%;
    }
    .g66-7 {
        width: 66.666%;
    }
    .g70-7 {
        width: 70%;
    }
    .g75-7 {
        width: 75%;
    }
    .g80-7 {
        width: 80%;
    }
    .g83-7 {
        width: 83.3333%;
    }
    .g85-7 {
        width: 85%;
    }
    .g90-7 {
        width: 90%;
    }
    .g95-7 {
        width: 95%;
    }
    .g100-7 {
        width: 100%;
    }
}
@media screen and (min-width: $w7) {
    .g5-8 {
        width: 5%;
    }
    .g10-8 {
        width: 10%;
    }
    .g15-8 {
        width: 15%;
    }
    .g16-8 {
        width: 16.6666%;
    }
    .g20-8 {
        width: 20%;
    }
    .g25-8 {
        width: 25%;
    }
    .g30-8 {
        width: 30%;
    }
    .g33-8 {
        width: 33.3333%;
    }
    .g35-8 {
        width: 35%;
    }
    .g40-8 {
        width: 40%;
    }
    .g45-8 {
        width: 45%;
    }
    .g50-8 {
        width: 50%;
    }
    .g55-8 {
        width: 55%;
    }
    .g60-8 {
        width: 60%;
    }
    .g65-8 {
        width: 65%;
    }
    .g66-8 {
        width: 66.666%;
    }
    .g70-8 {
        width: 70%;
    }
    .g75-8 {
        width: 75%;
    }
    .g80-8 {
        width: 80%;
    }
    .g83-8 {
        width: 83.3333%;
    }
    .g85-8 {
        width: 85%;
    }
    .g90-8 {
        width: 90%;
    }
    .g95-8 {
        width: 95%;
    }
    .g100-8 {
        width: 100%;
    }
}
@media screen and (min-width: $w8) {
    .g5-9 {
        width: 5%;
    }
    .g10-9 {
        width: 10%;
    }
    .g15-9 {
        width: 15%;
    }
    .g16-9 {
        width: 16.6666%;
    }
    .g20-9 {
        width: 20%;
    }
    .g25-9 {
        width: 25%;
    }
    .g30-9 {
        width: 30%;
    }
    .g33-9 {
        width: 33.3333%;
    }
    .g35-9 {
        width: 35%;
    }
    .g40-9 {
        width: 40%;
    }
    .g45-9 {
        width: 45%;
    }
    .g50-9 {
        width: 50%;
    }
    .g55-9 {
        width: 55%;
    }
    .g60-9 {
        width: 60%;
    }
    .g65-9 {
        width: 65%;
    }
    .g66-9 {
        width: 66.666%;
    }
    .g70-9 {
        width: 70%;
    }
    .g75-9 {
        width: 75%;
    }
    .g80-9 {
        width: 80%;
    }
    .g83-9 {
        width: 83.3333%;
    }
    .g85-9 {
        width: 85%;
    }
    .g90-9 {
        width: 90%;
    }
    .g95-9 {
        width: 95%;
    }
    .g100-9 {
        width: 100%;
    }
}
@media screen and (min-width: $w9) {
    .g5-10 {
        width: 5%;
    }
    .g10-10 {
        width: 10%;
    }
    .g15-10 {
        width: 15%;
    }
    .g16-10 {
        width: 16.6666%;
    }
    .g20-10 {
        width: 20%;
    }
    .g25-10 {
        width: 25%;
    }
    .g30-10 {
        width: 30%;
    }
    .g33-10 {
        width: 33.3333%;
    }
    .g35-10 {
        width: 35%;
    }
    .g40-10 {
        width: 40%;
    }
    .g45-10 {
        width: 45%;
    }
    .g50-10 {
        width: 50%;
    }
    .g55-10 {
        width: 55%;
    }
    .g60-10 {
        width: 60%;
    }
    .g65-10 {
        width: 65%;
    }
    .g66-10 {
        width: 66.666%;
    }
    .g70-10 {
        width: 70%;
    }
    .g75-10 {
        width: 75%;
    }
    .g80-10 {
        width: 80%;
    }
    .g83-10 {
        width: 83.3333%;
    }
    .g85-10 {
        width: 85%;
    }
    .g90-10 {
        width: 90%;
    }
    .g95-10 {
        width: 95%;
    }
    .g100-10 {
        width: 100%;
    }
}
//grid shift classes ----------------------------------------
@media screen and (max-width: $w4 - 1px) {
    .s0-1 {
        margin-left: 0;
    }
    .s5-1 {
        margin-left: 5%;
    }
    .s10-1 {
        margin-left: 10%;
    }
    .s15-1 {
        margin-left: 15%;
    }
    .s16-1 {
        margin-left: 16.6666%;
    }
    .s20-1 {
        margin-left: 20%;
    }
    .s25-1 {
        margin-left: 25%;
    }
    .s30-1 {
        margin-left: 30%;
    }
    .s33-1 {
        margin-left: 33.3333%;
    }
    .s35-1 {
        margin-left: 35%;
    }
    .s40-1 {
        margin-left: 40%;
    }
    .s45-1 {
        margin-left: 45%;
    }
    .s50-1 {
        margin-left: 50%;
    }
    .s55-1 {
        margin-left: 55%;
    }
    .s60-1 {
        margin-left: 60%;
    }
    .s65-1 {
        margin-left: 65%;
    }
    .s66-1 {
        margin-left: 66.666%;
    }
    .s70-1 {
        margin-left: 70%;
    }
    .s75-1 {
        margin-left: 75%;
    }
    .s80-1 {
        margin-left: 80%;
    }
    .s83-1 {
        margin-left: 83.3333%;
    }
    .s85-1 {
        margin-left: 85%;
    }
    .s90-1 {
        margin-left: 90%;
    }
    .s95-1 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w1) {
    .s0-2 {
        margin-left: 0;
    }
    .s5-2 {
        margin-left: 5%;
    }
    .s10-2 {
        margin-left: 10%;
    }
    .s15-2 {
        margin-left: 15%;
    }
    .s16-2 {
        margin-left: 16.6666%;
    }
    .s20-2 {
        margin-left: 20%;
    }
    .s25-2 {
        margin-left: 25%;
    }
    .s30-2 {
        margin-left: 30%;
    }
    .s33-2 {
        margin-left: 33.3333%;
    }
    .s35-2 {
        margin-left: 35%;
    }
    .s40-2 {
        margin-left: 40%;
    }
    .s45-2 {
        margin-left: 45%;
    }
    .s50-2 {
        margin-left: 50%;
    }
    .s55-2 {
        margin-left: 55%;
    }
    .s60-2 {
        margin-left: 60%;
    }
    .s65-2 {
        margin-left: 65%;
    }
    .s66-2 {
        margin-left: 66.666%;
    }
    .s70-2 {
        margin-left: 70%;
    }
    .s75-2 {
        margin-left: 75%;
    }
    .s80-2 {
        margin-left: 80%;
    }
    .s83-2 {
        margin-left: 83.3333%;
    }
    .s85-2 {
        margin-left: 85%;
    }
    .s90-2 {
        margin-left: 90%;
    }
    .s95-2 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w2) {
    .s0-3 {
        margin-left: 0;
    }
    .s5-3 {
        margin-left: 5%;
    }
    .s10-3 {
        margin-left: 10%;
    }
    .s15-3 {
        margin-left: 15%;
    }
    .s16-3 {
        margin-left: 16.6666%;
    }
    .s20-3 {
        margin-left: 20%;
    }
    .s25-3 {
        margin-left: 25%;
    }
    .s30-3 {
        margin-left: 30%;
    }
    .s33-3 {
        margin-left: 33.3333%;
    }
    .s35-3 {
        margin-left: 35%;
    }
    .s40-3 {
        margin-left: 40%;
    }
    .s45-3 {
        margin-left: 45%;
    }
    .s50-3 {
        margin-left: 50%;
    }
    .s55-3 {
        margin-left: 55%;
    }
    .s60-3 {
        margin-left: 60%;
    }
    .s65-3 {
        margin-left: 65%;
    }
    .s66-3 {
        margin-left: 66.666%;
    }
    .s70-3 {
        margin-left: 70%;
    }
    .s75-3 {
        margin-left: 75%;
    }
    .s80-3 {
        margin-left: 80%;
    }
    .s83-3 {
        margin-left: 83.3333%;
    }
    .s85-3 {
        margin-left: 85%;
    }
    .s90-3 {
        margin-left: 90%;
    }
    .s95-3 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w3) {
    .s0-4 {
        margin-left: 0;
    }
    .s5-4 {
        margin-left: 5%;
    }
    .s10-4 {
        margin-left: 10%;
    }
    .s15-4 {
        margin-left: 15%;
    }
    .s16-4 {
        margin-left: 16.6666%;
    }
    .s20-4 {
        margin-left: 20%;
    }
    .s25-4 {
        margin-left: 25%;
    }
    .s30-4 {
        margin-left: 30%;
    }
    .s33-4 {
        margin-left: 33.3333%;
    }
    .s35-4 {
        margin-left: 35%;
    }
    .s40-4 {
        margin-left: 40%;
    }
    .s45-4 {
        margin-left: 45%;
    }
    .s50-4 {
        margin-left: 50%;
    }
    .s55-4 {
        margin-left: 55%;
    }
    .s60-4 {
        margin-left: 60%;
    }
    .s65-4 {
        margin-left: 65%;
    }
    .s66-4 {
        margin-left: 66.666%;
    }
    .s70-4 {
        margin-left: 70%;
    }
    .s75-4 {
        margin-left: 75%;
    }
    .s80-4 {
        margin-left: 80%;
    }
    .s83-4 {
        margin-left: 83.3333%;
    }
    .s85-4 {
        margin-left: 85%;
    }
    .s90-4 {
        margin-left: 90%;
    }
    .s95-4 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w4) {
    .s0-5 {
        margin-left: 0;
    }
    .s5-5 {
        margin-left: 5%;
    }
    .s10-5 {
        margin-left: 10%;
    }
    .s15-5 {
        margin-left: 15%;
    }
    .s16-5 {
        margin-left: 16.6666%;
    }
    .s20-5 {
        margin-left: 20%;
    }
    .s25-5 {
        margin-left: 25%;
    }
    .s30-5 {
        margin-left: 30%;
    }
    .s33-5 {
        margin-left: 33.3333%;
    }
    .s35-5 {
        margin-left: 35%;
    }
    .s40-5 {
        margin-left: 40%;
    }
    .s45-5 {
        margin-left: 45%;
    }
    .s50-5 {
        margin-left: 50%;
    }
    .s55-5 {
        margin-left: 55%;
    }
    .s60-5 {
        margin-left: 60%;
    }
    .s65-5 {
        margin-left: 65%;
    }
    .s66-5 {
        margin-left: 66.666%;
    }
    .s70-5 {
        margin-left: 70%;
    }
    .s75-5 {
        margin-left: 75%;
    }
    .s80-5 {
        margin-left: 80%;
    }
    .s83-5 {
        margin-left: 83.3333%;
    }
    .s85-5 {
        margin-left: 85%;
    }
    .s90-5 {
        margin-left: 90%;
    }
    .s95-5 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w5) {
    .s0-6 {
        margin-left: 0;
    }
    .s5-6 {
        margin-left: 5%;
    }
    .s10-6 {
        margin-left: 10%;
    }
    .s15-6 {
        margin-left: 15%;
    }
    .s16-6 {
        margin-left: 16.6666%;
    }
    .s20-6 {
        margin-left: 20%;
    }
    .s25-6 {
        margin-left: 25%;
    }
    .s30-6 {
        margin-left: 30%;
    }
    .s33-6 {
        margin-left: 33.3333%;
    }
    .s35-6 {
        margin-left: 35%;
    }
    .s40-6 {
        margin-left: 40%;
    }
    .s45-6 {
        margin-left: 45%;
    }
    .s50-6 {
        margin-left: 50%;
    }
    .s55-6 {
        margin-left: 55%;
    }
    .s60-6 {
        margin-left: 60%;
    }
    .s65-6 {
        margin-left: 65%;
    }
    .s66-6 {
        margin-left: 66.666%;
    }
    .s70-6 {
        margin-left: 70%;
    }
    .s75-6 {
        margin-left: 75%;
    }
    .s80-6 {
        margin-left: 80%;
    }
    .s83-6 {
        margin-left: 83.3333%;
    }
    .s85-6 {
        margin-left: 85%;
    }
    .s90-6 {
        margin-left: 90%;
    }
    .s95-6 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w6) {
    .s0-7 {
        margin-left: 0;
    }
    .s5-7 {
        margin-left: 5%;
    }
    .s10-7 {
        margin-left: 10%;
    }
    .s15-7 {
        margin-left: 15%;
    }
    .s16-7 {
        margin-left: 16.6666%;
    }
    .s20-7 {
        margin-left: 20%;
    }
    .s25-7 {
        margin-left: 25%;
    }
    .s30-7 {
        margin-left: 30%;
    }
    .s33-7 {
        margin-left: 33.3333%;
    }
    .s35-7 {
        margin-left: 35%;
    }
    .s40-7 {
        margin-left: 40%;
    }
    .s45-7 {
        margin-left: 45%;
    }
    .s50-7 {
        margin-left: 50%;
    }
    .s55-7 {
        margin-left: 55%;
    }
    .s60-7 {
        margin-left: 60%;
    }
    .s65-7 {
        margin-left: 65%;
    }
    .s66-7 {
        margin-left: 66.666%;
    }
    .s70-7 {
        margin-left: 70%;
    }
    .s75-7 {
        margin-left: 75%;
    }
    .s80-7 {
        margin-left: 80%;
    }
    .s83-7 {
        margin-left: 83.3333%;
    }
    .s85-7 {
        margin-left: 85%;
    }
    .s90-7 {
        margin-left: 90%;
    }
    .s95-7 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w7) {
    .s0-8 {
        margin-left: 0;
    }
    .s5-8 {
        margin-left: 5%;
    }
    .s10-8 {
        margin-left: 10%;
    }
    .s15-8 {
        margin-left: 15%;
    }
    .s16-8 {
        margin-left: 16.6666%;
    }
    .s20-8 {
        margin-left: 20%;
    }
    .s25-8 {
        margin-left: 25%;
    }
    .s30-8 {
        margin-left: 30%;
    }
    .s33-8 {
        margin-left: 33.3333%;
    }
    .s35-8 {
        margin-left: 35%;
    }
    .s40-8 {
        margin-left: 40%;
    }
    .s45-8 {
        margin-left: 45%;
    }
    .s50-8 {
        margin-left: 50%;
    }
    .s55-8 {
        margin-left: 55%;
    }
    .s60-8 {
        margin-left: 60%;
    }
    .s65-8 {
        margin-left: 65%;
    }
    .s66-8 {
        margin-left: 66.666%;
    }
    .s70-8 {
        margin-left: 70%;
    }
    .s75-8 {
        margin-left: 75%;
    }
    .s80-8 {
        margin-left: 80%;
    }
    .s83-8 {
        margin-left: 83.3333%;
    }
    .s85-8 {
        margin-left: 85%;
    }
    .s90-8 {
        margin-left: 90%;
    }
    .s95-8 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w8) {
    .s0-9 {
        margin-left: 0;
    }
    .s5-9 {
        margin-left: 5%;
    }
    .s10-9 {
        margin-left: 10%;
    }
    .s15-9 {
        margin-left: 15%;
    }
    .s16-9 {
        margin-left: 16.6666%;
    }
    .s20-9 {
        margin-left: 20%;
    }
    .s25-9 {
        margin-left: 25%;
    }
    .s30-9 {
        margin-left: 30%;
    }
    .s33-9 {
        margin-left: 33.3333%;
    }
    .s35-9 {
        margin-left: 35%;
    }
    .s40-9 {
        margin-left: 40%;
    }
    .s45-9 {
        margin-left: 45%;
    }
    .s50-9 {
        margin-left: 50%;
    }
    .s55-9 {
        margin-left: 55%;
    }
    .s60-9 {
        margin-left: 60%;
    }
    .s65-9 {
        margin-left: 65%;
    }
    .s66-9 {
        margin-left: 66.666%;
    }
    .s70-9 {
        margin-left: 70%;
    }
    .s75-9 {
        margin-left: 75%;
    }
    .s80-9 {
        margin-left: 80%;
    }
    .s83-9 {
        margin-left: 83.3333%;
    }
    .s85-9 {
        margin-left: 85%;
    }
    .s90-9 {
        margin-left: 90%;
    }
    .s95-9 {
        margin-left: 95%;
    }
}
@media screen and (min-width: $w9) {
    .s0-10 {
        margin-left: 0;
    }
    .s5-10 {
        margin-left: 5%;
    }
    .s10-10 {
        margin-left: 10%;
    }
    .s15-10 {
        margin-left: 15%;
    }
    .s16-10 {
        margin-left: 16.6666%;
    }
    .s20-10 {
        margin-left: 20%;
    }
    .s25-10 {
        margin-left: 25%;
    }
    .s30-10 {
        margin-left: 30%;
    }
    .s33-10 {
        margin-left: 33.3333%;
    }
    .s35-10 {
        margin-left: 35%;
    }
    .s40-10 {
        margin-left: 40%;
    }
    .s45-10 {
        margin-left: 45%;
    }
    .s50-10 {
        margin-left: 50%;
    }
    .s55-10 {
        margin-left: 55%;
    }
    .s60-10 {
        margin-left: 60%;
    }
    .s65-10 {
        margin-left: 65%;
    }
    .s66-10 {
        margin-left: 66.666%;
    }
    .s70-10 {
        margin-left: 70%;
    }
    .s75-10 {
        margin-left: 75%;
    }
    .s80-10 {
        margin-left: 80%;
    }
    .s83-10 {
        margin-left: 83.3333%;
    }
    .s85-10 {
        margin-left: 85%;
    }
    .s90-10 {
        margin-left: 90%;
    }
    .s95-10 {
        margin-left: 95%;
    }
}
//responsive: class for container of elements who need horizontal scoll on small devices (e.g.: tables)
.responsive {
    border: 0.1rem solid #ccc;
    max-width: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
    position: relative;
}
