//Generate padding and margin classes with automatic or user difined adaptive resize.
//Automatic resize: Padding and margin adapts to wievport width. Smaller margin and padding for smaller screens, using only one class
//User defined resize: Padding and margin adapts to wievport width if user adds classes .smartM and .smartP (for smartphone Margins and Paddings) and/or classes tabletM and .tabletP (for tablet Margins and Paddings)
//
//Credits: Davide Trisolini
//Distributed under the MIT License
//
$activateResponsiveMargins: "true"; //activate responsive margin classes
$activateResponsivePaddings: "true"; //activate responsive margin classes
$activateAutoResponsiveMargins: "true"; //if true margins will be resized with no need to add class tablet and/or smart. Classes for resize will be not included in css
$activateAutoResponsivePaddings: "true"; //if true paddings will be resized with no need to add class tablet and/or smart. Classes for resize will be not included in css
//
//MARGIN CLASSES
$stepsMargin: 10;
$intervalMargin: 0.25rem;
$beginMargin: 0;
$marginsTabletResizeFactor: 1.5; //divide margins for viewport smaller than $w4
$marginsSmartResizeFactor: 2; //divide margins for viewport smaller than $w2
//
//PADDING CLASSES
$stepsPadding: 10;
$intervalPadding: 0.25rem;
$beginPadding: 0;
$paddingsTabletResizeFactor: 1.5; //divide padding for viewport smaller than $w4
$paddingsSmartResizeFactor: 2; //divide paddings for viewport smaller than $w2
//
//mixins for margin classes
//all four sides
@mixin margins {
  @for $i from 1 through $stepsMargin {
    .m#{$i} {
      margin: $beginMargin + $intervalMargin * $i;
    }
  }
}
//left and right;
@mixin margins-left-right {
  @for $i from 1 through $stepsMargin {
    .mlr#{$i} {
      margin-left: $beginMargin + $intervalMargin * $i;
      margin-right: $beginMargin + $intervalMargin * $i;
    }
  }
}
//top and bottom;
@mixin margins-top-bottom {
  @for $i from 1 through $stepsMargin {
    .mtb#{$i} {
      margin-bottom: $beginMargin + $intervalMargin * $i;
      margin-top: $beginMargin + $intervalMargin * $i;
    }
  }
}
//top;
@mixin margins-top {
  @for $i from 1 through $stepsMargin {
    .mt#{$i} {
      margin-top: $beginMargin + $intervalMargin * $i;
    }
  }
}
//bottom;
@mixin margins-bottom {
  @for $i from 1 through $stepsMargin {
    .mb#{$i} {
      margin-bottom: $beginMargin + $intervalMargin * $i;
    }
  }
}
//left;
@mixin margins-left {
  @for $i from 1 through $stepsMargin {
    .ml#{$i} {
      margin-left: $beginMargin + $intervalMargin * $i;
    }
  }
}
//bottom;
@mixin margins-right {
  @for $i from 1 through $stepsMargin {
    .mr#{$i} {
      margin-right: $beginMargin + $intervalMargin * $i;
    }
  }
}
//
//
//responsive
//tablet
@mixin margins-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .m#{$i} {
        margin: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .m#{$i}.tabletM,
      .tablet {
        margin: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//left and right;
@mixin margins-left-right-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mlr#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
        margin-right: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .mlr#{$i}.tabletM,
      .tablet {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
        margin-right: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//top and bottom;
@mixin margins-top-bottom-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mtb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
        margin-top: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .mtb#{$i}.tabletM,
      .tablet {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
        margin-top: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//top;
@mixin margins-top-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mt#{$i} {
        margin-top: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .mt#{$i}.tabletM,
      .tablet {
        margin-top: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//bottom;
@mixin margins-bottom-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .mb#{$i}.tabletM,
      .tablet {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//left;
@mixin margins-left-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .ml#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .ml#{$i}.tabletM,
      .tablet {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//bottom;
@mixin margins-right-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mr#{$i} {
        margin-right: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
    @else {
      .mr#{$i}.tabletM,
      .tablet {
        margin-right: $beginMargin + $intervalMargin * $i / $marginsTabletResizeFactor;
      }
    }
  }
}
//smart
@mixin margins-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .m#{$i} {
        margin: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .m#{$i}.smartM,
      .smart {
        margin: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//left and right;
@mixin margins-left-right-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mlr#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
        margin-right: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .mlr#{$i}.smartM,
      .smart {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
        margin-right: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//top and bottom;
@mixin margins-top-bottom-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mtb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
        margin-top: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .mtb#{$i}.smartM,
      .smart {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
        margin-top: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//top;
@mixin margins-top-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mt#{$i} {
        margin-top: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .mt#{$i}.smartM,
      .smart {
        margin-top: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//bottom;
@mixin margins-bottom-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .mb#{$i}.smartM,
      .smart {
        margin-bottom: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//left;
@mixin margins-left-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .ml#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .ml#{$i}.smartM,
      .smart {
        margin-left: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//bottom;
@mixin margins-right-smart {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mr#{$i} {
        margin-right: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
    @else {
      .mr#{$i}.smartM,
      .smart {
        margin-right: $beginMargin + $intervalMargin * $i / $marginsSmartResizeFactor;
      }
    }
  }
}
//mixins for padding classes
//all four sides
@mixin paddings {
  @for $i from 1 through $stepsPadding {
    .p#{$i} {
      padding: $beginPadding + $intervalPadding * $i;
    }
  }
}
//left and right;
@mixin paddings-left-right {
  @for $i from 1 through $stepsPadding {
    .plr#{$i} {
      padding-left: $beginPadding + $intervalPadding * $i;
      padding-right: $beginPadding + $intervalPadding * $i;
    }
  }
}
//top and bottom;
@mixin paddings-top-bottom {
  @for $i from 1 through $stepsPadding {
    .ptb#{$i} {
      padding-bottom: $beginPadding + $intervalPadding * $i;
      padding-top: $beginPadding + $intervalPadding * $i;
    }
  }
}
//top;
@mixin paddings-top {
  @for $i from 1 through $stepsPadding {
    .pt#{$i} {
      padding-top: $beginPadding + $intervalPadding * $i;
    }
  }
}
//bottom;
@mixin paddings-bottom {
  @for $i from 1 through $stepsPadding {
    .pb#{$i} {
      padding-bottom: $beginPadding + $intervalPadding * $i;
    }
  }
}
//left;
@mixin paddings-left {
  @for $i from 1 through $stepsPadding {
    .pl#{$i} {
      padding-left: $beginPadding + $intervalPadding * $i;
    }
  }
}
//bottom;
@mixin paddings-right {
  @for $i from 1 through $stepsPadding {
    .pr#{$i} {
      padding-right: $beginPadding + $intervalPadding * $i;
    }
  }
}
//
//
//responsive
//tablet
@mixin paddings-tablet {
  @for $i from 1 through $stepsPadding {
    .p#{$i}.tabletP,
    .tablet {
      padding: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//left and right;
@mixin paddings-left-right-tablet {
  @for $i from 1 through $stepsPadding {
    .plr#{$i}.tabletP,
    .tablet {
      padding-left: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
      padding-right: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//top and bottom;
@mixin paddings-top-bottom-tablet {
  @for $i from 1 through $stepsPadding {
    .ptb#{$i}.tabletP,
    .tablet {
      padding-bottom: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
      padding-top: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//top;
@mixin paddings-top-tablet {
  @for $i from 1 through $stepsPadding {
    .pt#{$i}.tabletP,
    .tablet {
      padding-top: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//bottom;
@mixin paddings-bottom-tablet {
  @for $i from 1 through $stepsPadding {
    .pb#{$i}.tabletP,
    .tablet {
      padding-bottom: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//left;
@mixin paddings-left-tablet {
  @for $i from 1 through $stepsPadding {
    .pl#{$i}.tabletP,
    .tablet {
      padding-left: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//bottom;
@mixin paddings-right-tablet {
  @for $i from 1 through $stepsPadding {
    .pr#{$i}.tabletP,
    .tablet {
      padding-right: $beginPadding + $intervalPadding * $i / $paddingsTabletResizeFactor;
    }
  }
}
//smart
@mixin paddings-smart {
  @for $i from 1 through $stepsPadding {
    .p#{$i}.smartP,
    .smart {
      padding: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
//left and right;
@mixin paddings-left-right-smart {
  @for $i from 1 through $stepsPadding {
    .plr#{$i}.smartP,
    .smart {
      padding-left: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
      padding-right: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
//top and bottom;
@mixin paddings-top-bottom-smart {
  @for $i from 1 through $stepsPadding {
    .ptb#{$i}.smartP,
    .smart {
      padding-bottom: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
      padding-top: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
//top;
@mixin paddings-top-smart {
  @for $i from 1 through $stepsPadding {
    .pt#{$i}.smartP,
    .smart {
      padding-top: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
//bottom;
@mixin paddings-bottom-smart {
  @for $i from 1 through $stepsPadding {
    .pb#{$i}.smartP,
    .smart {
      padding-bottom: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
//left;
@mixin paddings-left-smart {
  @for $i from 1 through $stepsPadding {
    .pl#{$i}.smartP,
    .smart {
      padding-left: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
//bottom;
@mixin paddings-right-smart {
  @for $i from 1 through $stepsPadding {
    .pr#{$i}.smartP,
    .smart {
      padding-right: $beginPadding + $intervalPadding * $i / $paddingsSmartResizeFactor;
    }
  }
}
@include margins;
@include margins-left-right;
@include margins-top-bottom;
@include margins-top;
@include margins-bottom;
@include margins-left;
@include margins-right;
@include paddings;
@include paddings-left-right;
@include paddings-top-bottom;
@include paddings-top;
@include paddings-bottom;
@include paddings-left;
@include paddings-right;
@media screen and (max-width: $w5 - 1px) {
  @if $activateResponsiveMargins=="true" {
    @include margins-tablet;
    @include margins-left-right-tablet;
    @include margins-top-bottom-tablet;
    @include margins-top-tablet;
    @include margins-bottom-tablet;
    @include margins-left-tablet;
    @include margins-right-tablet;
  }
  @if $activateResponsivePaddings=="true" {
    @include paddings-tablet;
    @include paddings-left-right-tablet;
    @include paddings-top-bottom-tablet;
    @include paddings-top-tablet;
    @include paddings-bottom-tablet;
    @include paddings-left-tablet;
    @include paddings-right-tablet;
  }
}
@media screen and (max-width: $w2 - 1px) {
  @if $activateResponsiveMargins=="true" {
    @include margins-smart;
    @include margins-left-right-smart;
    @include margins-top-bottom-smart;
    @include margins-top-smart;
    @include margins-bottom-smart;
    @include margins-left-smart;
    @include margins-right-smart;
  }
  @if $activateResponsivePaddings=="true" {
    @include paddings-smart;
    @include paddings-left-right-smart;
    @include paddings-top-bottom-smart;
    @include paddings-top-smart;
    @include paddings-bottom-smart;
    @include paddings-left-smart;
    @include paddings-right-smart;
  }
}