.cont_colored {
  @extend %ptb6;
  @include box-default ($color-1, $color-1-darker, 0.2rem, solid, 0.05rem);
  @extend %text-align-center;
}
.row_colored {
  @extend %mtb3;
  @extend %ptb1;
  @include box-default ($color-2, $color-2-darker, 0.2rem, solid, 0.05rem);
  .row_colored {
    @include box-default ($color-2-dark, $color-2-darker, 0.2rem, solid, 0.05rem);
  }
}
.c {
  > .bg {
    @extend %mtb1;
    @extend %ptb6;
    @include box-default ($color-1, $color-1-darker, 0.2rem, solid, 0.05rem);
    @extend %text-align-center;
    @include font-sizing (1.6rem, 1, 0);
    @include text-style ($white, bold, normal, none, none);
  }
}
pre {
  @include box-default ($color-3, $color-3-darker-plus, 0.2rem, solid, 0.05rem);
  font-family: monospace;
  @extend %mtb3;
  @extend %ptb3;
  @extend %plr4;
  @extend %overflow-x-scroll;
  @extend %width-100;
}
.big {
  font-size: 130%;
  font-weight: bold;
}
.small {
  font-size: 60%;
}
.fluid {
  letter-spacing: 1rem;
}
//BOXES
.box-default {
  @extend %mtb4;
  @extend %p6;
  @include box-default ($color-1, $color-1-darker, 1rem, solid, 0.2rem);
}
.box-top {
  @extend %mtb4;
  @extend %p6;
  @include box-top ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
}
.box-left {
  @extend %mtb4;
  @extend %p6;
  @include box-left ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
}
.box-right {
  @extend %mtb4;
  @extend %p6;
  @include box-right ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
}
.box-bottom {
  @extend %mtb4;
  @extend %p6;
  @include box-bottom ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
}
.box-group-horizontal {
  @extend %row;
  @extend %mtb4;
  > li {
    @extend %c_6;
    @extend %p6;
    @include box-group-horizontal ($color-1, $color-1-darker, 1rem, solid, 0.2rem);
  }
}
.box-group-horizontal-top {
  @extend %mtb4;
  @extend %row;
  > li {
    @extend %c_6;
    @extend %p6;
    @include box-group-horizontal-top ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
  }
}
.box-group-horizontal-bottom {
  @extend %mtb4;
  @extend %row;
  > li {
    @extend %p6;
    @extend %c_6;
    @include box-group-horizontal-bottom ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
  }
}
.box-group-horizontal-left {
  @extend %mtb4;
  @extend %row;
  > li {
    @extend %p6;
    @extend %c_6;
    @include box-group-horizontal-left ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
  }
}
.box-group-horizontal-right {
  @extend %mtb4;
  @extend %row;
  > li {
    @extend %p6;
    @extend %c_6;
    @include box-group-horizontal-right ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
  }
}
.box-group-vertical {
  @extend %mtb4;
  > li {
    @extend %p6;
    @include box-group-vertical ($color-1, $color-1-darker, 1rem, solid, 0.2rem);
  }
}
.box-group-vertical-top {
  @extend %mtb4;
  > li {
    @extend %p6;
    @include box-group-vertical-top ($color-1, $color-1-darker, 1rem, solid, 0.2rem, true);
  }
}
.box-group-vertical-bottom {
  @extend %mtb4;
  > li {
    @extend %p6;
    @include box-group-vertical-bottom ($color-1, $color-1-darker, 1rem, solid, 0.2rem, false);
  }
}
.box-group-vertical-left {
  @extend %mtb4;
  > li {
    @extend %p6;
    @include box-group-vertical-left ($color-1, $color-1-darker, 1rem, solid, 0.2rem, false);
  }
}
.box-group-vertical-right {
  @extend %mtb4;
  > li {
    @extend %p6;
    @include box-group-vertical-right ($color-1, $color-1-darker, 1rem, solid, 0.2rem, false);
  }
}
.btn1 {
  @include button-size(0.8rem, 0, 10rem, 40rem, 0.8rem 2rem);
  @include button-default ($color-1, none, $color-1-darker, 0.5rem, solid, 0.1rem, none, #fff, uppercase, 0.1s, ease-in);
  @include button-focus ($color-1-dark, none, $color-1-darker, none, #fff);
  @include button-hover (#fff, none, $color-1-darker, none, $color-1-darker);
  @include button-active ($color-1-dark, none, $color-1-darker, none, #fff);
  @include button-disabled (#ccc, none, #8e8e8e, none, #fff);
}
.btn-group-horizontal {
  @extend %row;
  > .btn1 {
    @extend %c_6;
    @include button-group-horizontal();
  }
}
.btn-group-vertical {
  > .btn1 {
    @include button-group-vertical();
    @extend %display-block;
  }
}
.link1 {
  @include link-default (#3b55e6, bold, underline, uppercase);
}
