html,
body {
  font-family: sans-serif; }

input[type=search] {
  -webkit-appearance: textfield; }

fieldset {
  padding-top: 0.01em 0 0 0; }

legend + * {
  clear: both; }

.form__fieldset {
  align-content: flex-start; }

.breadcrumb {
  align-items: center; }

.form__fieldset {
  align-items: flex-start; }

mark, button,
input,
select,
textarea {
  background-color: transparent; }

table, button,
input,
select,
textarea, fieldset {
  border: 0; }

table, tr {
  border-color: transparent; }

table {
  border-collapse: collapse; }

input[type="radio"]:checked + .field-group__radio:after, .badge:before {
  border-radius: 50%; }

button,
input,
select,
textarea, fieldset {
  border-radius: 0; }

table {
  border-spacing: 0; }

.badge:before, .field-group__field, input[type="checkbox"] + .field-group__checkbox:before, input[type="radio"] + .field-group__radio:before, .breadcrumb__item:after, input[type="checkbox"]:checked + .field-group__checkbox:after {
  border-style: solid; }

*, :before,
:after {
  box-sizing: border-box; }

mark {
  color: inherit; }

html,
body, a, a:focus, a:hover, a:active {
  color: #000; }

.breadcrumb__item:after, .badge:before, input[type="checkbox"] + .field-group__checkbox:before, input[type="checkbox"]:checked + .field-group__checkbox:after, input[type="radio"] + .field-group__radio:before, input[type="radio"]:checked + .field-group__radio:after {
  content: ""; }

q:before, q:after {
  content: none; }

img,
map,
figure,
picture, input[type="checkbox"]:checked + .field-group__checkbox:after, .form, .badge:before, .field-group__label, input[type="checkbox"] + .field-group__checkbox:before, input[type="radio"] + .field-group__radio:before {
  display: block; }

.form__fieldset, input[type="checkbox"] + .field-group__checkbox, input[type="radio"] + .field-group__radio {
  display: flex; }

.breadcrumb__item:after, .breadcrumb__item {
  display: inline-block; }

legend {
  display: table; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

::-webkit-search-decoration, .breadcrumb, .field-group__alertbox, .field-group__successbox {
  display: none; }

.form__fieldset {
  flex-direction: row; }

.form__fieldset {
  flex-wrap: wrap; }

legend {
  float: left; }

code, kbd, pre, samp, button,
input,
select,
textarea {
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p, button,
input,
select,
textarea, label,
legend, output, figcaption {
  font-size: 1rem; }

address, cite, def, em, i, var, dl,
dt,
li,
menuitem, figcaption {
  font-style: normal; }

caption, th {
  font-weight: normal; }

strong {
  font-weight: 400; }

.breadcrumb__link_current {
  font-weight: 600; }

img,
map,
figure,
picture, canvas {
  height: auto; }

.form__fieldset, .breadcrumb {
  justify-content: flex-start; }

input[type="checkbox"]:checked + .field-group__checkbox:after {
  left: 0; }

.badge:before {
  left: 50%; }

button,
input,
select,
textarea {
  line-height: 1; }

dl,
menu,
ol,
ul {
  list-style: none; }

dl,
menu,
ol,
ul {
  list-style-position: inside; }

html,
body, h1,
h2,
h3,
h4,
h5,
h6,
p, blockquote, pre, dl,
menu,
ol,
ul,
dt,
li,
menuitem, button,
input,
select,
textarea, fieldset, label,
legend, img,
map,
figure,
picture {
  margin: 0; }

.form {
  margin-left: auto; }

.form {
  margin-right: auto; }

html,
body {
  max-width: 100%; }

html,
body {
  min-width: 100%; }

fieldset {
  min-width: 0; }

.field-group__field_hide-me {
  opacity: 0; }

a, a:focus, a:hover, a:active, button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none; }

html,
body, h1,
h2,
h3,
h4,
h5,
h6,
p, blockquote, dl,
menu,
ol,
ul,
dt,
li,
menuitem, button,
input,
select,
textarea, label,
legend, img,
map,
figure,
picture {
  padding: 0; }

.badge:before, input[type="checkbox"]:checked + .field-group__checkbox:after, input[type="radio"]:checked + .field-group__radio:after, .field-group__field_hide-me {
  position: absolute; }

.badge, .field-group {
  position: relative; }

caption, th {
  text-align: left; }

.field-group__field_center {
  text-align: center; }

abbr, del, ins, s, u, a, a:focus, a:hover, a:active {
  text-decoration: none; }

.breadcrumb__link[href]:hover, .breadcrumb__link[href]:focus {
  text-decoration: underline; }

.badge:before {
  top: 50%; }

button,
input,
select,
textarea {
  vertical-align: middle; }

.form__fieldset {
  width: auto; }

legend, img,
map,
figure,
picture, canvas, .form, .field-group, .field-group__field {
  width: 100%; }

.badge:before {
  z-index: -1; }

.badge {
  z-index: 1; }

input[type="checkbox"] + .field-group__checkbox, input[type="radio"] + .field-group__radio {
  border: 0; }

.breadcrumb__item:last-child:after {
  content: none; }

.field-group__alertbox_visible, .field-group__successbox_visible {
  display: block; }

@media screen and (min-width: 767px) {
  .breadcrumb {
    display: flex; } }
.form__fieldset {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem; }

.form__item, .form__legend {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.field-group__label {
  margin-bottom: 0.5rem; }

.breadcrumb__trail {
  margin-left: -0.25rem;
  margin-right: -0.25rem; }

.breadcrumb__item:after {
  margin-left: -0.25rem; }

.field-group__field, .form__fieldset {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; }

.breadcrumb {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem; }

.breadcrumb__link {
  padding-left: 0.2rem;
  padding-right: 0.2rem; }

.form__fieldset {
  padding-left: 0.4rem;
  padding-right: 0.4rem; }

.field-group__field {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.field-group__fake-label {
  padding-left: 0.6rem; }

.breadcrumb__heading {
  padding-right: 0.4rem; }

.form__fieldset {
  background: #f8f8f8; }

.badge:before {
  border-color: #909090;
  border-width: 0.01rem; }

.field-group__field, input[type="checkbox"] + .field-group__checkbox:before {
  border-color: #909090;
  border-radius: 0.2rem;
  border-width: 0.01rem; }

input[type="radio"] + .field-group__radio:before {
  border-color: #909090;
  border-radius: 50%;
  border-width: 0.01rem; }

.field-group__field:focus {
  box-shadow: inset 0 0 0.2rem 0 rgba(144, 144, 144, 0.7); }

input[type="checkbox"]:checked + .field-group__checkbox:before, input[type="radio"]:checked + .field-group__radio:before {
  box-shadow: inset 0 0 0.1rem 0 rgba(144, 144, 144, 0.6); }

.badge:before {
  transform: translate(-50%, -50%); }

.breadcrumb__item:after {
  border-color: #909090;
  border-radius: 0 0 0 50%;
  border-width: 0.15rem 0.15rem 0 0;
  height: 0.4rem;
  transform: rotate(45deg);
  width: 0.4rem; }

input[type="checkbox"]:checked + .field-group__checkbox:after {
  border-color: #909090;
  border-width: 0 0.15rem 0.15rem 0;
  height: 1.2rem;
  transform: translate(0.4rem, -0.4rem) rotate(45deg) skew(5deg);
  width: 0.5rem; }

input[type="radio"]:checked + .field-group__radio:after {
  background-color: #909090;
  height: 0.5rem;
  width: 0.5rem; }

.form {
  max-width: 1000px; }

.form__item_1, .form__item_2, .form__item_3, .form__legend {
  width: 100%;
  flex: 0 1 100%; }

@media screen and (min-width: 992px) {
  .form__item_3 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .form__item_2 {
    width: 50%;
    flex: 0 1 50%; } }
.form__item,
.form__legend {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

@media screen and (min-width: 992px) {
  .form__item, .form__legend {
    padding-left: 0.375rem;
    padding-right: 0.375rem; } }
@media screen and (min-width: 1440px) {
  .form__item, .form__legend {
    padding-left: 0.5rem;
    padding-right: 0.5rem; } }
/*
@include generateResponsiveGutter($guttersBreakpointsMap, $smallGuttersList, $containerClassName, $rowClassName, $columnClassName, $smallGutterModifierName);
@include generateResponsiveGutter($guttersBreakpointsMap, $largeGuttersList, $containerClassName, $rowClassName, $columnClassName, $largeGutterModifierName);*/
.badge {
  color: #fff; }
  .badge:before {
    background: #585858;
    height: 1.3rem;
    width: 1.3rem; }

input[type="checkbox"] + .field-group__checkbox:before {
  flex: 0 0 auto;
  height: 1rem;
  width: 1rem; }

input[type="radio"] + .field-group__radio:before {
  flex: 0 0 auto;
  height: 1rem;
  width: 1rem; }
input[type="radio"]:checked + .field-group__radio:after {
  left: 0.25rem;
  top: 0.25rem; }

.field-group__field_hide-me {
  left: -9999rem; }

/*# sourceMappingURL=style.css.map */
