//--------------------------------------------------
//MIXINS FOR PADDINGS - DEFAULT (SMART)
//--------------------------------------------------
//all four sides
@mixin paddings ($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %p_#{$i}#{$suffix} {
      padding: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//left and right
@mixin paddings-left-right($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %plr_#{$i}#{$suffix} {
      padding-left: $firstPadding + $intervalPadding * $i * $multiplyFactor;
      padding-right: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//top and bottom
@mixin paddings-top-bottom ($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %ptb_#{$i}#{$suffix} {
      padding-bottom: $firstPadding + $intervalPadding * $i * $multiplyFactor;
      padding-top: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//top
@mixin paddings-top ($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %pt_#{$i}#{$suffix} {
      padding-top: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//bottom
@mixin paddings-bottom ($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %pb_#{$i}#{$suffix} {
      padding-bottom: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//left
@mixin paddings-left ($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %pl_#{$i}#{$suffix} {
      padding-left: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//right
@mixin paddings-right ($suffix, $multiplyFactor) {
  @for $i from 1 through $stepsPadding {
    %pr_#{$i}#{$suffix} {
      padding-right: $firstPadding + $intervalPadding * $i * $multiplyFactor;
    }
  }
}
//--------------------------------------------------
//--------------------------------------------------
//INCLUDE MIXINS AND GENERATE PLACEHOLDERS
//--------------------------------------------------
@include paddings ('', 1);
@include paddings-left-right ('', 1);
@include paddings-top-bottom ('', 1);
@include paddings-top ('', 1);
@include paddings-bottom ('', 1);
@include paddings-left ('', 1);
@include paddings-right ('', 1);
@media screen and (min-width: $w3) {
  @include paddings ('-tablet', $paddingsTabletMultiplyFactor);
  @include paddings-left-right ('-tablet', $paddingsTabletMultiplyFactor);
  @include paddings-top-bottom ('-tablet', $paddingsTabletMultiplyFactor);
  @include paddings-top ('-tablet', $paddingsTabletMultiplyFactor);
  @include paddings-bottom ('-tablet', $paddingsTabletMultiplyFactor);
  @include paddings-left ('-tablet', $paddingsTabletMultiplyFactor);
  @include paddings-right ('-tablet', $paddingsTabletMultiplyFactor);
}
@media screen and (min-width: $w5 - 1px) {
  @include paddings ('-desktop', $paddingsDesktopMultiplyFactor);
  @include paddings-left-right ('-desktop', $paddingsDesktopMultiplyFactor);
  @include paddings-top-bottom ('-desktop', $paddingsDesktopMultiplyFactor);
  @include paddings-top ('-desktop', $paddingsDesktopMultiplyFactor);
  @include paddings-bottom ('-desktop', $paddingsDesktopMultiplyFactor);
  @include paddings-left ('-desktop', $paddingsDesktopMultiplyFactor);
  @include paddings-right ('-desktop', $paddingsDesktopMultiplyFactor);
}
