@mixin border ($borderWidth, $borderStyle, $borderColor, $borderRadius, $currentBreakpointKey) {
  @if $borderColor !=skip {
    @if $borderColor==transparent or $borderColor==black or $borderColor==white {
      @if $currentBreakpointKey !=skip {
        @extend %#{$currentBreakpointKey}#{$breakpointSeparator}border-color-#{$borderColor};
      }
      @else {
        @extend %border-style-#{$borderColor};
      }
    }
    @elseif str-slice($borderColor, 0, 1)=='%' {
      @extend %#{$borderColor};
    }
    @else {
      border-color: $borderColor;
    }
  }
  @if $borderRadius !=skip {
    @if $borderRadius==0 or $borderRadius==100% {
      @if $currentBreakpointKey !=skip {
        @extend %#{$currentBreakpointKey}#{$breakpointSeparator}border-radius-#{$borderRadius};
      }
      @else {
        @extend %border-radius-#{$borderRadius};
      }
    }
    @elseif str-slice($borderRadius, 0, 1)=='%' {
      @extend %#{$borderRadius};
    }
    @else {
      border-radius: $borderRadius;
    }
  }
  @if $borderStyle !=skip {
    @if $currentBreakpointKey !=skip {
      @extend %#{$currentBreakpointKey}#{$breakpointSeparator}border-style-#{$borderStyle};
    }
    @else {
      @extend %border-style-#{$borderStyle};
    }
  }
  @if $borderWidth !=skip {
    @if $borderWidth==0 {
      @if $currentBreakpointKey !=skip {
        @extend %#{$currentBreakpointKey}#{$breakpointSeparator}border-width-0;
      }
      @else {
        @extend %border-width-0;
      }
    }
    @elseif str-slice($borderWidth, 0, 1)=='%' {
      @extend %#{$borderWidth};
    }
    @else {
      border-width: $borderWidth;
    }
  }
}
