input[type=search] {
  -webkit-appearance: textfield; }

.row {
  align-content: flex-start; }

.row {
  align-items: flex-start; }

mark, button,
input,
select,
textarea {
  background-color: transparent; }

table, button,
input,
select,
textarea, fieldset {
  border: 0; }

table, tr {
  border-color: transparent; }

table {
  border-collapse: collapse; }

button,
input,
select,
textarea, fieldset {
  border-radius: 0; }

table {
  border-spacing: 0; }

html,
body {
  box-sizing: border-box; }

mark {
  color: inherit; }

html,
body, a, a:focus, a:hover, a:active {
  color: #000; }

q:before, q:after {
  content: none; }

img,
map,
figure,
picture, .container {
  display: block; }

.row {
  display: flex; }

::-webkit-search-decoration {
  display: none; }

.row {
  flex-direction: row; }

.row {
  flex-wrap: wrap; }

code, kbd, pre, samp, button,
input,
select,
textarea {
  font-family: inherit; }

h1,
h2,
h3,
h4,
h5,
h6,
p, button,
input,
select,
textarea, label,
legend, output, figcaption {
  font-size: 1rem; }

address, cite, def, em, i, var, dl,
dt,
li,
menuitem, figcaption {
  font-style: normal; }

caption, th {
  font-weight: normal; }

img,
map,
figure,
picture, canvas {
  height: auto; }

.row {
  justify-content: flex-start; }

button,
input,
select,
textarea {
  line-height: 1; }

dl,
menu,
ol,
ul {
  list-style: none; }

dl,
menu,
ol,
ul {
  list-style-position: inside; }

html,
body, h1,
h2,
h3,
h4,
h5,
h6,
p, blockquote, pre, dl,
menu,
ol,
ul,
dt,
li,
menuitem, form, button,
input,
select,
textarea, fieldset, label,
legend, img,
map,
figure,
picture {
  margin: 0; }

.container, .container_boxed {
  margin-left: auto; }

.container, .container_boxed {
  margin-right: auto; }

html,
body {
  max-width: 100%; }

html,
body {
  min-width: 100%; }

a, a:focus, a:hover, a:active, button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none; }

html,
body, h1,
h2,
h3,
h4,
h5,
h6,
p, blockquote, dl,
menu,
ol,
ul,
dt,
li,
menuitem, button,
input,
select,
textarea, fieldset, label,
legend, img,
map,
figure,
picture {
  padding: 0; }

caption, th {
  text-align: left; }

del, ins, s, strong, u, a, a:focus, a:hover, a:active {
  text-decoration: none; }

button,
input,
select,
textarea {
  vertical-align: middle; }

img,
map,
figure,
picture, canvas, .container_boxed, .row {
  width: 100%; }

/*$smallGutterModifierName: 'gutter-small';
$smallGuttersList: 0.25rem 0.5rem 75rem;
$largeGutterModifierName: 'gutter-large';
$largeGuttersList: 1rem 1.5rem 2rem;*/
.container_mid {
  max-width: 1200px; }

.container_small {
  max-width: 1000px; }

.container_large {
  max-width: 1400px; }

@media screen and (min-width: 992px) {
  .container_boxed {
    width: 976px; } }
@media screen and (min-width: 1200px) {
  .container_boxed {
    width: 1150px; } }
@media screen and (min-width: 1440px) {
  .container_boxed {
    width: 1320px; } }
@media screen and (min-width: 1680) {
  .container_boxed {
    width: 1500px; } }
.col_1 {
  width: 4.1666666667%;
  flex: 0 1 4.1666666667%; }

.col_2 {
  width: 8.3333333333%;
  flex: 0 1 8.3333333333%; }

.col_3 {
  width: 12.5%;
  flex: 0 1 12.5%; }

.col_4 {
  width: 16.6666666667%;
  flex: 0 1 16.6666666667%; }

.col_5 {
  width: 20.8333333333%;
  flex: 0 1 20.8333333333%; }

.col_6 {
  width: 25%;
  flex: 0 1 25%; }

.col_7 {
  width: 29.1666666667%;
  flex: 0 1 29.1666666667%; }

.col_8 {
  width: 33.3333333333%;
  flex: 0 1 33.3333333333%; }

.col_9 {
  width: 37.5%;
  flex: 0 1 37.5%; }

.col_10 {
  width: 41.6666666667%;
  flex: 0 1 41.6666666667%; }

.col_11 {
  width: 45.8333333333%;
  flex: 0 1 45.8333333333%; }

.col_12 {
  width: 50%;
  flex: 0 1 50%; }

.col_13 {
  width: 54.1666666667%;
  flex: 0 1 54.1666666667%; }

.col_14 {
  width: 58.3333333333%;
  flex: 0 1 58.3333333333%; }

.col_15 {
  width: 62.5%;
  flex: 0 1 62.5%; }

.col_16 {
  width: 66.6666666667%;
  flex: 0 1 66.6666666667%; }

.col_17 {
  width: 70.8333333333%;
  flex: 0 1 70.8333333333%; }

.col_18 {
  width: 75%;
  flex: 0 1 75%; }

.col_19 {
  width: 79.1666666667%;
  flex: 0 1 79.1666666667%; }

.col_20 {
  width: 83.3333333333%;
  flex: 0 1 83.3333333333%; }

.col_21 {
  width: 87.5%;
  flex: 0 1 87.5%; }

.col_22 {
  width: 91.6666666667%;
  flex: 0 1 91.6666666667%; }

.col_23 {
  width: 95.8333333333%;
  flex: 0 1 95.8333333333%; }

.col_24 {
  width: 100%;
  flex: 0 1 100%; }

@media screen and (min-width: 0) {
  .col_w0-1 {
    width: 4.1666666667%;
    flex: 0 1 4.1666666667%; }

  .col_w0-2 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333%; }

  .col_w0-3 {
    width: 12.5%;
    flex: 0 1 12.5%; }

  .col_w0-4 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667%; }

  .col_w0-5 {
    width: 20.8333333333%;
    flex: 0 1 20.8333333333%; }

  .col_w0-6 {
    width: 25%;
    flex: 0 1 25%; }

  .col_w0-7 {
    width: 29.1666666667%;
    flex: 0 1 29.1666666667%; }

  .col_w0-8 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .col_w0-9 {
    width: 37.5%;
    flex: 0 1 37.5%; }

  .col_w0-10 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667%; }

  .col_w0-11 {
    width: 45.8333333333%;
    flex: 0 1 45.8333333333%; }

  .col_w0-12 {
    width: 50%;
    flex: 0 1 50%; }

  .col_w0-13 {
    width: 54.1666666667%;
    flex: 0 1 54.1666666667%; }

  .col_w0-14 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333%; }

  .col_w0-15 {
    width: 62.5%;
    flex: 0 1 62.5%; }

  .col_w0-16 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667%; }

  .col_w0-17 {
    width: 70.8333333333%;
    flex: 0 1 70.8333333333%; }

  .col_w0-18 {
    width: 75%;
    flex: 0 1 75%; }

  .col_w0-19 {
    width: 79.1666666667%;
    flex: 0 1 79.1666666667%; }

  .col_w0-20 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333%; }

  .col_w0-21 {
    width: 87.5%;
    flex: 0 1 87.5%; }

  .col_w0-22 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667%; }

  .col_w0-23 {
    width: 95.8333333333%;
    flex: 0 1 95.8333333333%; }

  .col_w0-24 {
    width: 100%;
    flex: 0 1 100%; } }
@media screen and (min-width: 767px) {
  .col_w2-1 {
    width: 4.1666666667%;
    flex: 0 1 4.1666666667%; }

  .col_w2-2 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333%; }

  .col_w2-3 {
    width: 12.5%;
    flex: 0 1 12.5%; }

  .col_w2-4 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667%; }

  .col_w2-5 {
    width: 20.8333333333%;
    flex: 0 1 20.8333333333%; }

  .col_w2-6 {
    width: 25%;
    flex: 0 1 25%; }

  .col_w2-7 {
    width: 29.1666666667%;
    flex: 0 1 29.1666666667%; }

  .col_w2-8 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .col_w2-9 {
    width: 37.5%;
    flex: 0 1 37.5%; }

  .col_w2-10 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667%; }

  .col_w2-11 {
    width: 45.8333333333%;
    flex: 0 1 45.8333333333%; }

  .col_w2-12 {
    width: 50%;
    flex: 0 1 50%; }

  .col_w2-13 {
    width: 54.1666666667%;
    flex: 0 1 54.1666666667%; }

  .col_w2-14 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333%; }

  .col_w2-15 {
    width: 62.5%;
    flex: 0 1 62.5%; }

  .col_w2-16 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667%; }

  .col_w2-17 {
    width: 70.8333333333%;
    flex: 0 1 70.8333333333%; }

  .col_w2-18 {
    width: 75%;
    flex: 0 1 75%; }

  .col_w2-19 {
    width: 79.1666666667%;
    flex: 0 1 79.1666666667%; }

  .col_w2-20 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333%; }

  .col_w2-21 {
    width: 87.5%;
    flex: 0 1 87.5%; }

  .col_w2-22 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667%; }

  .col_w2-23 {
    width: 95.8333333333%;
    flex: 0 1 95.8333333333%; }

  .col_w2-24 {
    width: 100%;
    flex: 0 1 100%; } }
@media screen and (min-width: 992px) {
  .col_w3-1 {
    width: 4.1666666667%;
    flex: 0 1 4.1666666667%; }

  .col_w3-2 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333%; }

  .col_w3-3 {
    width: 12.5%;
    flex: 0 1 12.5%; }

  .col_w3-4 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667%; }

  .col_w3-5 {
    width: 20.8333333333%;
    flex: 0 1 20.8333333333%; }

  .col_w3-6 {
    width: 25%;
    flex: 0 1 25%; }

  .col_w3-7 {
    width: 29.1666666667%;
    flex: 0 1 29.1666666667%; }

  .col_w3-8 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .col_w3-9 {
    width: 37.5%;
    flex: 0 1 37.5%; }

  .col_w3-10 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667%; }

  .col_w3-11 {
    width: 45.8333333333%;
    flex: 0 1 45.8333333333%; }

  .col_w3-12 {
    width: 50%;
    flex: 0 1 50%; }

  .col_w3-13 {
    width: 54.1666666667%;
    flex: 0 1 54.1666666667%; }

  .col_w3-14 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333%; }

  .col_w3-15 {
    width: 62.5%;
    flex: 0 1 62.5%; }

  .col_w3-16 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667%; }

  .col_w3-17 {
    width: 70.8333333333%;
    flex: 0 1 70.8333333333%; }

  .col_w3-18 {
    width: 75%;
    flex: 0 1 75%; }

  .col_w3-19 {
    width: 79.1666666667%;
    flex: 0 1 79.1666666667%; }

  .col_w3-20 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333%; }

  .col_w3-21 {
    width: 87.5%;
    flex: 0 1 87.5%; }

  .col_w3-22 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667%; }

  .col_w3-23 {
    width: 95.8333333333%;
    flex: 0 1 95.8333333333%; }

  .col_w3-24 {
    width: 100%;
    flex: 0 1 100%; } }
@media screen and (min-width: 1200px) {
  .col_w4-1 {
    width: 4.1666666667%;
    flex: 0 1 4.1666666667%; }

  .col_w4-2 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333%; }

  .col_w4-3 {
    width: 12.5%;
    flex: 0 1 12.5%; }

  .col_w4-4 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667%; }

  .col_w4-5 {
    width: 20.8333333333%;
    flex: 0 1 20.8333333333%; }

  .col_w4-6 {
    width: 25%;
    flex: 0 1 25%; }

  .col_w4-7 {
    width: 29.1666666667%;
    flex: 0 1 29.1666666667%; }

  .col_w4-8 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .col_w4-9 {
    width: 37.5%;
    flex: 0 1 37.5%; }

  .col_w4-10 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667%; }

  .col_w4-11 {
    width: 45.8333333333%;
    flex: 0 1 45.8333333333%; }

  .col_w4-12 {
    width: 50%;
    flex: 0 1 50%; }

  .col_w4-13 {
    width: 54.1666666667%;
    flex: 0 1 54.1666666667%; }

  .col_w4-14 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333%; }

  .col_w4-15 {
    width: 62.5%;
    flex: 0 1 62.5%; }

  .col_w4-16 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667%; }

  .col_w4-17 {
    width: 70.8333333333%;
    flex: 0 1 70.8333333333%; }

  .col_w4-18 {
    width: 75%;
    flex: 0 1 75%; }

  .col_w4-19 {
    width: 79.1666666667%;
    flex: 0 1 79.1666666667%; }

  .col_w4-20 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333%; }

  .col_w4-21 {
    width: 87.5%;
    flex: 0 1 87.5%; }

  .col_w4-22 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667%; }

  .col_w4-23 {
    width: 95.8333333333%;
    flex: 0 1 95.8333333333%; }

  .col_w4-24 {
    width: 100%;
    flex: 0 1 100%; } }
@media screen and (min-width: 1440px) {
  .col_w5-1 {
    width: 4.1666666667%;
    flex: 0 1 4.1666666667%; }

  .col_w5-2 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333%; }

  .col_w5-3 {
    width: 12.5%;
    flex: 0 1 12.5%; }

  .col_w5-4 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667%; }

  .col_w5-5 {
    width: 20.8333333333%;
    flex: 0 1 20.8333333333%; }

  .col_w5-6 {
    width: 25%;
    flex: 0 1 25%; }

  .col_w5-7 {
    width: 29.1666666667%;
    flex: 0 1 29.1666666667%; }

  .col_w5-8 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .col_w5-9 {
    width: 37.5%;
    flex: 0 1 37.5%; }

  .col_w5-10 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667%; }

  .col_w5-11 {
    width: 45.8333333333%;
    flex: 0 1 45.8333333333%; }

  .col_w5-12 {
    width: 50%;
    flex: 0 1 50%; }

  .col_w5-13 {
    width: 54.1666666667%;
    flex: 0 1 54.1666666667%; }

  .col_w5-14 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333%; }

  .col_w5-15 {
    width: 62.5%;
    flex: 0 1 62.5%; }

  .col_w5-16 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667%; }

  .col_w5-17 {
    width: 70.8333333333%;
    flex: 0 1 70.8333333333%; }

  .col_w5-18 {
    width: 75%;
    flex: 0 1 75%; }

  .col_w5-19 {
    width: 79.1666666667%;
    flex: 0 1 79.1666666667%; }

  .col_w5-20 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333%; }

  .col_w5-21 {
    width: 87.5%;
    flex: 0 1 87.5%; }

  .col_w5-22 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667%; }

  .col_w5-23 {
    width: 95.8333333333%;
    flex: 0 1 95.8333333333%; }

  .col_w5-24 {
    width: 100%;
    flex: 0 1 100%; } }
@media screen and (min-width: 1680) {
  .col_w6-1 {
    width: 4.1666666667%;
    flex: 0 1 4.1666666667%; }

  .col_w6-2 {
    width: 8.3333333333%;
    flex: 0 1 8.3333333333%; }

  .col_w6-3 {
    width: 12.5%;
    flex: 0 1 12.5%; }

  .col_w6-4 {
    width: 16.6666666667%;
    flex: 0 1 16.6666666667%; }

  .col_w6-5 {
    width: 20.8333333333%;
    flex: 0 1 20.8333333333%; }

  .col_w6-6 {
    width: 25%;
    flex: 0 1 25%; }

  .col_w6-7 {
    width: 29.1666666667%;
    flex: 0 1 29.1666666667%; }

  .col_w6-8 {
    width: 33.3333333333%;
    flex: 0 1 33.3333333333%; }

  .col_w6-9 {
    width: 37.5%;
    flex: 0 1 37.5%; }

  .col_w6-10 {
    width: 41.6666666667%;
    flex: 0 1 41.6666666667%; }

  .col_w6-11 {
    width: 45.8333333333%;
    flex: 0 1 45.8333333333%; }

  .col_w6-12 {
    width: 50%;
    flex: 0 1 50%; }

  .col_w6-13 {
    width: 54.1666666667%;
    flex: 0 1 54.1666666667%; }

  .col_w6-14 {
    width: 58.3333333333%;
    flex: 0 1 58.3333333333%; }

  .col_w6-15 {
    width: 62.5%;
    flex: 0 1 62.5%; }

  .col_w6-16 {
    width: 66.6666666667%;
    flex: 0 1 66.6666666667%; }

  .col_w6-17 {
    width: 70.8333333333%;
    flex: 0 1 70.8333333333%; }

  .col_w6-18 {
    width: 75%;
    flex: 0 1 75%; }

  .col_w6-19 {
    width: 79.1666666667%;
    flex: 0 1 79.1666666667%; }

  .col_w6-20 {
    width: 83.3333333333%;
    flex: 0 1 83.3333333333%; }

  .col_w6-21 {
    width: 87.5%;
    flex: 0 1 87.5%; }

  .col_w6-22 {
    width: 91.6666666667%;
    flex: 0 1 91.6666666667%; }

  .col_w6-23 {
    width: 95.8333333333%;
    flex: 0 1 95.8333333333%; }

  .col_w6-24 {
    width: 100%;
    flex: 0 1 100%; } }
.col_off-1 {
  margin-left: 4.1666666667%; }

.col_off-2 {
  margin-left: 8.3333333333%; }

.col_off-3 {
  margin-left: 12.5%; }

.col_off-4 {
  margin-left: 16.6666666667%; }

.col_off-5 {
  margin-left: 20.8333333333%; }

.col_off-6 {
  margin-left: 25%; }

.col_off-7 {
  margin-left: 29.1666666667%; }

.col_off-8 {
  margin-left: 33.3333333333%; }

.col_off-9 {
  margin-left: 37.5%; }

.col_off-10 {
  margin-left: 41.6666666667%; }

.col_off-11 {
  margin-left: 45.8333333333%; }

.col_off-12 {
  margin-left: 50%; }

.col_off-13 {
  margin-left: 54.1666666667%; }

.col_off-14 {
  margin-left: 58.3333333333%; }

.col_off-15 {
  margin-left: 62.5%; }

.col_off-16 {
  margin-left: 66.6666666667%; }

.col_off-17 {
  margin-left: 70.8333333333%; }

.col_off-18 {
  margin-left: 75%; }

.col_off-19 {
  margin-left: 79.1666666667%; }

.col_off-20 {
  margin-left: 83.3333333333%; }

.col_off-21 {
  margin-left: 87.5%; }

.col_off-22 {
  margin-left: 91.6666666667%; }

.col_off-23 {
  margin-left: 95.8333333333%; }

.col_off-24 {
  margin-left: 100%; }

@media screen and (min-width: 0) {
  .col_w0-off-1 {
    margin-left: 4.1666666667%; }

  .col_w0-off-2 {
    margin-left: 8.3333333333%; }

  .col_w0-off-3 {
    margin-left: 12.5%; }

  .col_w0-off-4 {
    margin-left: 16.6666666667%; }

  .col_w0-off-5 {
    margin-left: 20.8333333333%; }

  .col_w0-off-6 {
    margin-left: 25%; }

  .col_w0-off-7 {
    margin-left: 29.1666666667%; }

  .col_w0-off-8 {
    margin-left: 33.3333333333%; }

  .col_w0-off-9 {
    margin-left: 37.5%; }

  .col_w0-off-10 {
    margin-left: 41.6666666667%; }

  .col_w0-off-11 {
    margin-left: 45.8333333333%; }

  .col_w0-off-12 {
    margin-left: 50%; }

  .col_w0-off-13 {
    margin-left: 54.1666666667%; }

  .col_w0-off-14 {
    margin-left: 58.3333333333%; }

  .col_w0-off-15 {
    margin-left: 62.5%; }

  .col_w0-off-16 {
    margin-left: 66.6666666667%; }

  .col_w0-off-17 {
    margin-left: 70.8333333333%; }

  .col_w0-off-18 {
    margin-left: 75%; }

  .col_w0-off-19 {
    margin-left: 79.1666666667%; }

  .col_w0-off-20 {
    margin-left: 83.3333333333%; }

  .col_w0-off-21 {
    margin-left: 87.5%; }

  .col_w0-off-22 {
    margin-left: 91.6666666667%; }

  .col_w0-off-23 {
    margin-left: 95.8333333333%; }

  .col_w0-off-24 {
    margin-left: 100%; } }
@media screen and (min-width: 767px) {
  .col_w2-off-1 {
    margin-left: 4.1666666667%; }

  .col_w2-off-2 {
    margin-left: 8.3333333333%; }

  .col_w2-off-3 {
    margin-left: 12.5%; }

  .col_w2-off-4 {
    margin-left: 16.6666666667%; }

  .col_w2-off-5 {
    margin-left: 20.8333333333%; }

  .col_w2-off-6 {
    margin-left: 25%; }

  .col_w2-off-7 {
    margin-left: 29.1666666667%; }

  .col_w2-off-8 {
    margin-left: 33.3333333333%; }

  .col_w2-off-9 {
    margin-left: 37.5%; }

  .col_w2-off-10 {
    margin-left: 41.6666666667%; }

  .col_w2-off-11 {
    margin-left: 45.8333333333%; }

  .col_w2-off-12 {
    margin-left: 50%; }

  .col_w2-off-13 {
    margin-left: 54.1666666667%; }

  .col_w2-off-14 {
    margin-left: 58.3333333333%; }

  .col_w2-off-15 {
    margin-left: 62.5%; }

  .col_w2-off-16 {
    margin-left: 66.6666666667%; }

  .col_w2-off-17 {
    margin-left: 70.8333333333%; }

  .col_w2-off-18 {
    margin-left: 75%; }

  .col_w2-off-19 {
    margin-left: 79.1666666667%; }

  .col_w2-off-20 {
    margin-left: 83.3333333333%; }

  .col_w2-off-21 {
    margin-left: 87.5%; }

  .col_w2-off-22 {
    margin-left: 91.6666666667%; }

  .col_w2-off-23 {
    margin-left: 95.8333333333%; }

  .col_w2-off-24 {
    margin-left: 100%; } }
@media screen and (min-width: 992px) {
  .col_w3-off-1 {
    margin-left: 4.1666666667%; }

  .col_w3-off-2 {
    margin-left: 8.3333333333%; }

  .col_w3-off-3 {
    margin-left: 12.5%; }

  .col_w3-off-4 {
    margin-left: 16.6666666667%; }

  .col_w3-off-5 {
    margin-left: 20.8333333333%; }

  .col_w3-off-6 {
    margin-left: 25%; }

  .col_w3-off-7 {
    margin-left: 29.1666666667%; }

  .col_w3-off-8 {
    margin-left: 33.3333333333%; }

  .col_w3-off-9 {
    margin-left: 37.5%; }

  .col_w3-off-10 {
    margin-left: 41.6666666667%; }

  .col_w3-off-11 {
    margin-left: 45.8333333333%; }

  .col_w3-off-12 {
    margin-left: 50%; }

  .col_w3-off-13 {
    margin-left: 54.1666666667%; }

  .col_w3-off-14 {
    margin-left: 58.3333333333%; }

  .col_w3-off-15 {
    margin-left: 62.5%; }

  .col_w3-off-16 {
    margin-left: 66.6666666667%; }

  .col_w3-off-17 {
    margin-left: 70.8333333333%; }

  .col_w3-off-18 {
    margin-left: 75%; }

  .col_w3-off-19 {
    margin-left: 79.1666666667%; }

  .col_w3-off-20 {
    margin-left: 83.3333333333%; }

  .col_w3-off-21 {
    margin-left: 87.5%; }

  .col_w3-off-22 {
    margin-left: 91.6666666667%; }

  .col_w3-off-23 {
    margin-left: 95.8333333333%; }

  .col_w3-off-24 {
    margin-left: 100%; } }
@media screen and (min-width: 1200px) {
  .col_w4-off-1 {
    margin-left: 4.1666666667%; }

  .col_w4-off-2 {
    margin-left: 8.3333333333%; }

  .col_w4-off-3 {
    margin-left: 12.5%; }

  .col_w4-off-4 {
    margin-left: 16.6666666667%; }

  .col_w4-off-5 {
    margin-left: 20.8333333333%; }

  .col_w4-off-6 {
    margin-left: 25%; }

  .col_w4-off-7 {
    margin-left: 29.1666666667%; }

  .col_w4-off-8 {
    margin-left: 33.3333333333%; }

  .col_w4-off-9 {
    margin-left: 37.5%; }

  .col_w4-off-10 {
    margin-left: 41.6666666667%; }

  .col_w4-off-11 {
    margin-left: 45.8333333333%; }

  .col_w4-off-12 {
    margin-left: 50%; }

  .col_w4-off-13 {
    margin-left: 54.1666666667%; }

  .col_w4-off-14 {
    margin-left: 58.3333333333%; }

  .col_w4-off-15 {
    margin-left: 62.5%; }

  .col_w4-off-16 {
    margin-left: 66.6666666667%; }

  .col_w4-off-17 {
    margin-left: 70.8333333333%; }

  .col_w4-off-18 {
    margin-left: 75%; }

  .col_w4-off-19 {
    margin-left: 79.1666666667%; }

  .col_w4-off-20 {
    margin-left: 83.3333333333%; }

  .col_w4-off-21 {
    margin-left: 87.5%; }

  .col_w4-off-22 {
    margin-left: 91.6666666667%; }

  .col_w4-off-23 {
    margin-left: 95.8333333333%; }

  .col_w4-off-24 {
    margin-left: 100%; } }
@media screen and (min-width: 1440px) {
  .col_w5-off-1 {
    margin-left: 4.1666666667%; }

  .col_w5-off-2 {
    margin-left: 8.3333333333%; }

  .col_w5-off-3 {
    margin-left: 12.5%; }

  .col_w5-off-4 {
    margin-left: 16.6666666667%; }

  .col_w5-off-5 {
    margin-left: 20.8333333333%; }

  .col_w5-off-6 {
    margin-left: 25%; }

  .col_w5-off-7 {
    margin-left: 29.1666666667%; }

  .col_w5-off-8 {
    margin-left: 33.3333333333%; }

  .col_w5-off-9 {
    margin-left: 37.5%; }

  .col_w5-off-10 {
    margin-left: 41.6666666667%; }

  .col_w5-off-11 {
    margin-left: 45.8333333333%; }

  .col_w5-off-12 {
    margin-left: 50%; }

  .col_w5-off-13 {
    margin-left: 54.1666666667%; }

  .col_w5-off-14 {
    margin-left: 58.3333333333%; }

  .col_w5-off-15 {
    margin-left: 62.5%; }

  .col_w5-off-16 {
    margin-left: 66.6666666667%; }

  .col_w5-off-17 {
    margin-left: 70.8333333333%; }

  .col_w5-off-18 {
    margin-left: 75%; }

  .col_w5-off-19 {
    margin-left: 79.1666666667%; }

  .col_w5-off-20 {
    margin-left: 83.3333333333%; }

  .col_w5-off-21 {
    margin-left: 87.5%; }

  .col_w5-off-22 {
    margin-left: 91.6666666667%; }

  .col_w5-off-23 {
    margin-left: 95.8333333333%; }

  .col_w5-off-24 {
    margin-left: 100%; } }
@media screen and (min-width: 1680) {
  .col_w6-off-1 {
    margin-left: 4.1666666667%; }

  .col_w6-off-2 {
    margin-left: 8.3333333333%; }

  .col_w6-off-3 {
    margin-left: 12.5%; }

  .col_w6-off-4 {
    margin-left: 16.6666666667%; }

  .col_w6-off-5 {
    margin-left: 20.8333333333%; }

  .col_w6-off-6 {
    margin-left: 25%; }

  .col_w6-off-7 {
    margin-left: 29.1666666667%; }

  .col_w6-off-8 {
    margin-left: 33.3333333333%; }

  .col_w6-off-9 {
    margin-left: 37.5%; }

  .col_w6-off-10 {
    margin-left: 41.6666666667%; }

  .col_w6-off-11 {
    margin-left: 45.8333333333%; }

  .col_w6-off-12 {
    margin-left: 50%; }

  .col_w6-off-13 {
    margin-left: 54.1666666667%; }

  .col_w6-off-14 {
    margin-left: 58.3333333333%; }

  .col_w6-off-15 {
    margin-left: 62.5%; }

  .col_w6-off-16 {
    margin-left: 66.6666666667%; }

  .col_w6-off-17 {
    margin-left: 70.8333333333%; }

  .col_w6-off-18 {
    margin-left: 75%; }

  .col_w6-off-19 {
    margin-left: 79.1666666667%; }

  .col_w6-off-20 {
    margin-left: 83.3333333333%; }

  .col_w6-off-21 {
    margin-left: 87.5%; }

  .col_w6-off-22 {
    margin-left: 91.6666666667%; }

  .col_w6-off-23 {
    margin-left: 95.8333333333%; }

  .col_w6-off-24 {
    margin-left: 100%; } }
.container_gutter,
.col_gutter {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.row_gutter {
  margin-left: -0.25rem;
  margin-right: -0.25rem; }

@media screen and (min-width: 992px) {
  .container_gutter, .col_gutter {
    padding-left: 0.375rem;
    padding-right: 0.375rem; }

  .row_gutter {
    margin-left: -0.375rem;
    margin-right: -0.375rem; } }
@media screen and (min-width: 1440px) {
  .container_gutter, .col_gutter {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

  .row_gutter {
    margin-left: -0.5rem;
    margin-right: -0.5rem; } }
/*
//responsive gutters
@include generateResponsiveGutter($guttersBreakpointsMap, $smallGuttersList, $containerClassName, $rowClassName, $columnClassName, $smallGutterModifierName);
@include generateResponsiveGutter($guttersBreakpointsMap, $largeGuttersList, $containerClassName, $rowClassName, $columnClassName, $largeGutterModifierName);
*/

/*# sourceMappingURL=style.css.map */
