<!--LIST
<ul class="list">
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
</ul>

<ul class="list list_inline">
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
</ul>

<ul class="list list_dotted">
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
</ul>

<ul class="list list_numbered">
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
 <li class="list__item">Text</li>
</ul>

<ul class="list list_icon">
 <li class="list__item">
  <span class="list__icon">
  </span>
  <span class="list__text">Text</span>
 </li>
 <li class="list__item">
  <span class="list__icon">
  </span>
  <span class="list__text">Text</span>
 </li>
 <li class="list__item">
  <span class="list__icon">
  </span>
  <span class="list__text">Text</span>
 </li>
</ul>


<ul class="list list_border">
 <li class="list__item list__item_border">Text</li>
 <li class="list__item list__item_border">Text</li>
 <li class="list__item">Text</li>
</ul>

<dl class="list">
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
</dl>


<dl class="list">
 <dt class="list__item list__item_key list__item_key-inline">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
 <dt class="list__item list__item_key list__item_key-inline">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
 <dt class="list__item list__item_key list__item_key-inline">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
</dl>


<dl class="list">
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value list__item_indent">Definition of the term</dd>
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value list__item_indent">Definition of the term</dd>
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value list__item_indent">Definition of the term</dd>
</dl>


<dl class="list list_tabular list_tabular-middle list_tabular-apart">
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
 <dt class="list__item list__item_key">term</dt>
 <dd calss="list__item list__item_value">Definition of the term</dd>
</dl>
<!--
   key1 hello: value
 key2: value2 hello
    key3 test: value 3 
-->

<!-- MODIFIERS:
  list__item_active
-->


