* {
    box-sizing: border-box;
}

*:after,
*:before {
    box-sizing: border-box;
}

body,
html {
    @include margin((all: 0));
    @include sizes((maxWidth: 100%, minWidth: 100%));
    @include font((fontFamily: "sans-serif", fontSize: $htmlElementFontSize));
    @include padding((all: 0));
}