button,
input,
select,
textarea {
  @include border((borderWidth: 0, borderRadius: 0));
  @include background((backgroundColor: transparent));
  @include font((fontFamily: inherit, fontSize: map-get($fontSizesMap, md)));
  @include typography((lineHeight: 1, verticalAlign: middle));
  @include margin((all: 0));
  @include padding((all: 0));

  &:focus {
    @include outline((outline: none));
  }
}

input[type=search] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    //display: none;

    &:hover {
      cursor: pointer;
    }

    &:active {
      //
    }
  }
}

fieldset {
  @include border((borderWidth: 0, borderRadius: 0));
  @include margin((all: 0));
  @include padding((top: 0.01rem, bottom: 0, left: 0, right: 0));
  @include sizes((minWidth: 0));
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

label,
legend {
  @include font((fontSize: map-get($fontSizesMap, 'md')));
  @include margin((all: 0));
  @include padding((all: 0));
}

legend {
  display: table;
  float  : left;

  @include sizes((width: 0));

  + * {
    clear: both;
  }
}

output {
  @include font((fontSize: map-get($fontSizesMap, 'md')));
}

datalist {
  //
}

keygen {
  //
}

select {
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
  -moz-box-sizing   : border-box;
  @include typography((lineHeight: 1.15));
}

textarea {
  overflow: auto;
}
