table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: transparent;
}

caption {
  font-weight: normal;
  text-align: left;
}

thead,
tbody,
tfoot {
  //
}

tr {
  border-color: transparent;
}

th {
  font-weight: normal;
  text-align: left;
}

td {
  //
}

colgroup {
  //
}

col {
  //
}
