h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include font((fontSize: 1rem));
  @include text((textAlign: left));
  @include margin((all: 0));
  @include padding((all: 0));
}

abbr {
  @include text((textDecoration: none));
}

address {
  @include font((fontStyle: normal));
}

blockquote {
  @include margin((all: 0));
  @include padding((all: 0));
}

cite {
  @include font((fontStyle: normal));
}

code {
  @include font((fontFamily: inherit));
}

del {
  @include text((textDecoration: none));
}

dfn {
  @include font((fontStyle: normal));
}

em {
  @include font((fontStyle: normal));
}

i {
  @include font((fontStyle: normal));
}

ins {
  @include text((textDecoration: none));
}

kbd {
  font-family: inherit;
}

mark {
  @include background((backgroundColor: transparent));
  @include text((color: inherit));
}

pre {
  @include font((fontFamily: inherit));
  @include margin((all: 0));
}

q {
  &:before,
  &:after {
    content: none;
  }
}

s {
  @include text((textDecoration: none));
}

samp {
  @include font((fontFamily: inherit));
}

small {
  //
}

strong {
  @include font((fontWeight: 400));
}

sub {
  //
}

sup {
  //
}

time {
  //
}

u {
  @include text((textDecoration: none));
}

var {
  @include font((fontStyle: normal));
}

wbr {
  //
}
