//---------------------
//BORDER
//---------------------
@mixin border ($borderStyle, $borderWidth, $borderColor, $borderRadius) {
  @if $borderColor !=transparent {
    border-color: $borderColor;
  }
  @extend %border-style-#{$borderStyle};
  @if $borderRadius > 0 {
    border-radius: $borderRadius;
  }
  @if $borderWidth > 0 {
    border-width: $borderWidth;
  }
}
//---------------------
//BORDER TOP
//---------------------
@mixin border-top ($borderStyle, $borderWidth, $borderColor, $borderTopLeftRadius, $borderTopRightRadius) {
  @if $borderColor !=transparent {
    border-top-color: $borderColor;
  }
  @extend %border-top-style-#{$borderStyle};
  @if $borderTopLeftRadius > 0 {
    border-top-left-radius: $borderTopLeftRadius;
  }
  @if $borderTopRightRadius > 0 {
    border-top-right-radius: $borderTopRightRadius;
  }
  @if $borderWidth > 0 {
    border-top-width: $borderWidth;
  }
}
//---------------------
//BORDER BOTTOM
//---------------------
@mixin border-bottom ($borderStyle, $borderWidth, $borderColor, $borderBottomLeftRadius, $borderBottomRightRadius) {
  @if $borderColor !=transparent {
    border-bottom-color: $borderColor;
  }
  @extend %border-bottom-style-#{$borderStyle};
  @if $borderTopLeftRadius > 0 {
    border-bottom-left-radius: $borderTopLeftRadius;
  }
  @if $borderTopRightRadius > 0 {
    border-bottom-right-radius: $borderTopRightRadius;
  }
  @if $borderWidth > 0 {
    border-bottom-width: $borderWidth;
  }
}
//---------------------
//BORDER LEFT
//---------------------
@mixin border-bottom ($borderStyle, $borderWidth, $borderColor, $borderBottomLeftRadius, $borderTopLeftRadius) {
  @if $borderColor !=transparent {
    border-left-color: $borderColor;
  }
  @extend %border-left-style-#{$borderStyle};
  @if $borderBottomLeftRadius > 0 {
    border-bottom-left-radius: $borderBottomLeftRadius;
  }
  @if $borderTopLeftRadius > 0 {
    border-top-left-radius: $borderTopLeftRadius;
  }
  @if $borderWidth > 0 {
    border-left-width: $borderWidth;
  }
}
//---------------------
//BORDER LEFRIGHTT
//---------------------
@mixin border-right ($borderStyle, $borderWidth, $borderColor, $borderBottomRightRadius, $borderTopRightRadius) {
  @if $borderColor !=transparent {
    border-right-color: $borderColor;
  }
  @extend %border-right-style-#{$borderStyle};
  @if $borderBottomRightRadius > 0 {
    border-bottom-right-radius: $borderBottomRightRadius;
  }
  @if $borderTopRightRadius > 0 {
    border-top-right-radius: $borderTopRightRadius;
  }
  @if $borderWidth > 0 {
    border-right-width: $borderWidth;
  }
}
