//----------------------
//BOX
//----------------------
//Define border and background style for box.
//Margins and paddings must be defined by extending classes with responsive margins and paddings placeholders
@mixin box-default ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
  @extend %box-sizing-border-box;
}
//----------------------
//BOX TOP
//----------------------
//border-bottom: none
@mixin box-top ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderBottom) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
  @extend %box-sizing-border-box;
  @if $hideBorderBottom==true {
    border-bottom: none;
  }
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
//----------------------
//BOX BOTTOM
//----------------------
//border-top: none
@mixin box-bottom ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderTop) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
  @extend %box-sizing-border-box;
  @if $hideBorderTop==true {
    border-top: none;
  }
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
//----------------------
//BOX LEFT
//----------------------
//border-right: none
@mixin box-left ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderRight) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
  @extend %box-sizing-border-box;
  @if $hideBorderRight==true {
    border-right: none;
  }
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
//----------------------
//BOX RIGHT
//----------------------
//border-left: none 
@mixin box-right ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderLeft) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
  @extend %box-sizing-border-box;
  @if $hideBorderLeft==true {
    border-left: none;
  }
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
//----------------------
//BOX GROUP HORIZONTAL
//----------------------
@mixin box-group-horizontal ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-right: none;
  &:first-child {
    border-radius: $borderRadius 0 0 $borderRadius;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    border-radius: 0 $borderRadius $borderRadius 0;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP HORIZONTAL TOP
//----------------------
@mixin box-group-horizontal-top ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderBottom) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  @if $hideBorderBottom==true {
    border-bottom: none;
  }
  border-right: none;
  &:first-child {
    border-radius: $borderRadius 0 0 0;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    @if $hideBorderBottom==true {
      border-bottom: none;
    }
    border-radius: 0 $borderRadius 0 0;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP HORIZONTAL BOTTOM
//----------------------
@mixin box-group-horizontal-bottom ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderTop) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-right: none;
  @if $hideBorderTop==true {
    border-top: none;
  }
  &:first-child {
    border-radius: 0 0 0 $borderRadius;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    @if $hideBorderTop==true {
      border-top: none;
    }
    border-radius: 0 0 $borderRadius 0;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP HORIZONTAL LEFT
//----------------------
@mixin box-group-horizontal-left ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderRight) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-right: none;
  &:first-child {
    border-radius: $borderRadius 0 0 $borderRadius;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    @if $hideBorderRight==true {
      border-right: none;
    }
    border-radius: 0;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP HORIZONTAL RIGHT
//----------------------
@mixin box-group-horizontal-right ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderLeft) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-right: none;
  &:first-child {
    @if $hideBorderLeft==true {
      border-left: none;
    }
    border-radius: 0 0;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    border-radius: 0 $borderRadius $borderRadius 0;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP VERTICAL
//----------------------
@mixin box-group-vertical ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-bottom: none;
  &:first-child {
    border-radius: $borderRadius $borderRadius 0 0;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP VERTICAL TOP
//----------------------
//Set borders on a group of vertically positioned elements like a list
@mixin box-group-vertical-top ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderBottom) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-bottom: none;
  &:first-child {
    border-radius: $borderRadius $borderRadius 0 0;
  }
  &:last-child {
    @if $hideBorderBottom==false {
      @include border ($borderStyle, $borderWidth, $borderColor, 0);
    }
    else {
      border-radius: 0;
    }
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP VERTICAL BOTTOM
//----------------------
//Set borders on a group of vertically positioned elements like a list
@mixin box-group-vertical-bottom ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderTop) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-bottom: none;
  &:first-child {
    border-radius: 0;
    @if $hideBorderTop==true {
      border-top: none;
    }
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    border-radius: 0 0 $borderRadius $borderRadius;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP VERTICAL LEFT
//----------------------
//Set borders on a group of vertically positioned elements like a list
@mixin box-group-vertical-left ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderRight) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-bottom: none;
  @if $hideBorderRight==true {
    border-right: none;
  }
  &:first-child {
    border-radius: $borderRadius 0 0 0;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    border-radius: 0 0 0 $borderRadius;
  }
  @extend %box-sizing-border-box;
}
//----------------------
//BOX GROUP VERTICAL RIGHT
//----------------------
//Set borders on a group of vertically positioned elements like a list
@mixin box-group-vertical-right ($backgroundColor, $borderColor, $borderRadius, $borderStyle, $borderWidth, $hideBorderLeft) {
  @if $backgroundColor !=transparent {
    background-color: $backgroundColor;
  }
  @include border ($borderStyle, $borderWidth, $borderColor, 0);
  border-bottom: none;
  @if $hideBorderLeft==true {
    border-left: none;
  }
  &:first-child {
    border-radius: 0 $borderRadius 0 0;
  }
  &:last-child {
    @include border ($borderStyle, $borderWidth, $borderColor, 0);
    border-radius: 0 0 $borderRadius 0;
  }
  @extend %box-sizing-border-box;
}