  //checkbox default style
  @mixin checkbox-unchecked ($checkboxInputSelector, $checkboxLabelSelector, $chekboxLabelPaddingTop, $checkboxSize, $checkboxBackgroundColor, $checkboxBorderColor, $checkboxBorderRadius, $checkboxBorderStyle, $checkboxBorderWidth, $checkboxRightSpacing, $checkedIconColor, $checkboxCheckedBackgroundColor, $checkboxCheckedBorderColor, $transitionDuration) {
    @extend %display-inline-block;
    min-height: $checkboxSize;
    //HIDE CHECKBOX INPUT
    #{$checkboxInputSelector} {
      left: -9999rem;
      @extend %position-absolute;
    }
    //CHECKBOX LABEL
    #{$checkboxLabelSelector} {
      @extend %display-inline-block;
      @if $chekboxLabelPaddingTop !=0 {
        padding-top: $chekboxLabelPaddingTop;
      }
      padding-left: $checkboxRightSpacing + $checkboxSize;
      @extend %position-relative;
      //CHECKBOX DEFAULT STYLE
      &:before {
        background-color: $checkboxBackgroundColor;
        border-color: $checkboxBorderColor;
        border-radius: $checkboxBorderRadius;
        border-style: $checkboxBorderStyle;
        border-width: $checkboxBorderWidth;
        @extend %box-sizing-border-box;
        @extend %content;
        @extend %display-inline-block;
        height: $checkboxSize;
        @extend %left-0;
        @extend %position-absolute;
        @extend %top-0;
        @if $transitionDuration !=0 {
          transition: color $transitionDuration ease-in, background-color $transitionDuration ease-in;
        }
        width: $checkboxSize;
        z-index: 1;
      }
      &:after {
        border-color: $checkedIconColor;
        @extend %border-style-solid;
        border-width: 0 0 ($checkboxSize / 10) ($checkboxSize / 10);
        @extend %box-sizing-border-box;
        @extend %content;
        @extend %display-inline-block;
        height: $checkboxSize / 3.2;
        @extend %left-0;
        margin: ($checkboxSize / 4) 0 0 ($checkboxSize / 5.2);
        @extend %opacity-0;
        @extend %position-absolute;
        @extend %top-0;
        transform: rotate(-45deg) skewY(-5deg);
        @if $transitionDuration !=0 {
          transition: opacity $transitionDuration ease-in;
        }
        width: $checkboxSize / 1.6;
        @extend %z-index-1;
      }
    }
    //CHECKBOX SELECTED STYLE
    #{$checkboxInputSelector}:checked + #{$checkboxLabelSelector} {
      &:before {
        background-color: $checkboxCheckedBackgroundColor;
        border-color: $checkboxCheckedBorderColor;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  .checkbox {
    //@extend %clearfix;
    @include checkbox-unchecked('.checkbox__input', '.checkbox__label', 0, 1rem, $color-1, $color-1-darker, 0.2rem, solid, 0.01rem, 0.5rem, #fff, $color-1-dark, $color-1-darker, 0.2s);
  }
