//------------------------
//INPUT
//------------------------
//input size
@mixin input-size ($fontSize, $lineHeight, $minWidth, $maxWidth, $padding) {
  font-size: $fontSize;
  line-height: $lineHeight;
  @if $maxWidth !=0 {
    max-width: $maxWidth;
  }
  @if $minWidth !=0 {
    min-width: $minWidth;
  }
  padding: $padding;
}
//
//Input default style
@mixin input-default ($backgroundColor, $backgroundGradient, $borderColor, $borderRadius, $borderStyle, $borderWidth, $boxShadow, $color, $transitionSpeed, $transitionEasing) {
  background-color: $backgroundColor;
  @if $backgroundGradient !=none {
    @include background-gradient ($backgroundGradient);
  }
  @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
  @if $boxShadow !=none {
    box-shadow: $boxShadow;
  }
  color: $color;
  @if $transitionSpeed > 0 {
    @include triple-transition (background-color $transitionSpeed $transitionEasing, border $transitionSpeed $transitionEasing, color $transitionSpeed $transitionEasing);
  }
}
//Input focus styles
@mixin input-focus ($color, $backgroundColor, $backgroundGradient, $borderColor, $borderRadius, $borderStyle, $borderWidth, $outline) {
  &:focus,
  &:active {
    background-color: $backgroundColor;
    @if $backgroundGradient !=none {
      @include background-gradient ($backgroundGradient);
    }
    @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
    color: $color;
    outline: $outline;
  }
}
//Button disabled style
@mixin input-disabled ($color, $backgroundColor, $backgroundGradient, $borderColor, $borderRadius, $borderStyle, $borderWidth) {
  &[disabled] {
    background-color: $backgroundColor;
    @if $backgroundGradient !=none {
      @include background-gradient ($backgroundGradient);
    }
    @include border ($borderStyle, $borderWidth, $borderColor, $borderRadius);
    color: $color;
  }
}
//placceholder 
@mixin placeholder-color ($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}
