//APP GRID
$appGridClassName: ".appGrid" !default;
$appGridColumnsMap: (one: 1fr, two: 1fr, three: 1fr, four: 1fr, five: 1fr, six: 1fr, seven: 1fr, eight: 1fr, nine: 1fr, ten: 1fr, eleven: 1fr, twelve: 1fr) !default;
$appGridRowsMap: (one: 8.333vh, two: 8.333vh, three: 8.333vh, four: 8.333vh, five: 8.333vh, six: 8.333vh, seven: 8.333vh, eight: 8.333vh, nine: 8.333vh, ten: 8.333vh, eleven: 8.333vh, twelve: 8.333vh) !default;

//APP NESTED GRID

$appNestedGridClassName: ".appNestedGrid" !default;
$appNestedGridColumnsMap: (one: 1fr, two: 1fr, three: 1fr, four: 1fr, five: 1fr, six: 1fr, seven: 1fr, eight: 1fr, nine: 1fr, ten: 1fr, eleven: 1fr, twelve: 1fr) !default;
$appNestedGridRowsMap: (one: auto, two: auto, three: auto, four: auto, five: auto, six: auto) !default;

//GRID RESPONSIVE GAP FOR APP GRID AND APP NESTED GRID
$gapModifierName: "gap" !default;
$gapBreakpointsMap: map-remove($breakpoints, w1, w2, w4, w6) !default;
$gapList: 0.5rem 0.75rem 1rem !default;
$smallGapModifierName: "gap-small" !default;
$smallGapList: 0.25rem 0.5rem 75rem !default;
$largeGapModifierName: "gap-large" !default;
$largeGapList: 1rem 1.5rem 2rem !default;
