.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right {
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right {
  -webkit-align-items: stretch;
  align-items: stretch; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button {
  background-color: none; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button {
  border: none; }

.cont_colored, .row_colored, .row_colored .row_colored, .c > .bg, pre, .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal > li:last-child, .box-group-horizontal-top > li, .box-group-horizontal-top > li:last-child, .box-group-horizontal-bottom > li, .box-group-horizontal-bottom > li:last-child, .box-group-horizontal-left > li, .box-group-horizontal-left > li:last-child, .box-group-horizontal-right > li, .box-group-horizontal-right > li:last-child, .box-group-vertical > li, .box-group-vertical > li:last-child, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-bottom > li:last-child, .box-group-vertical-left > li, .box-group-vertical-left > li:last-child, .box-group-vertical-right > li, .box-group-vertical-right > li:last-child, .btn1 {
  border-style: solid; }

html,
body, .cont,
.fluid-cont,
.row,
.box-group-horizontal,
.box-group-horizontal-top,
.box-group-horizontal-bottom,
.box-group-horizontal-left,
.box-group-horizontal-right,
.c, .cont_colored, .row_colored, .row_colored .row_colored, .c > .bg, pre, .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .box-group-vertical > li, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-left > li, .box-group-vertical-right > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

dt:before {
  content: ""; }

dt,
dd {
  display: inline; }

dt:before {
  display: block; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right {
  -webkit-display: flex;
  -ms-display: flex;
  display: -webkit-flex;
  display: flex; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right {
  -webkit-flex-direction: row;
  flex-direction: row; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  letter-spacing: normal; }

dl,
ol,
ul {
  list-style: none; }

dl,
ol,
ul {
  list-style-position: inside; }

.cont,
.fluid-cont {
  margin: auto; }

html,
body, a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  margin: 0; }

html,
body {
  min-width: 100%; }

body {
  overflow-x: hidden; }

pre {
  overflow-x: scroll; }

html,
body, a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button {
  padding: 0; }

.cont_colored, .c > .bg {
  text-align: center; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  vertical-align: baseline; }

.cont, .c, pre {
  width: 100%; }

/*
@mixins align-self ($value) {
  -webkit-align-self: $value;
  align-self: $value;
}*/
html,
body {
  font-size: 16px; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  font-size: 100%;
  font: inherit;
  line-height: 1; }

html,
body {
  font-family: "Helvetica"; }

button,
datalist,
input,
select,
textarea {
  font-family: "Helvetica"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica"; }

body {
  min-width: 280px; }

.cont_gutter,
.fluid-cont_gutter,
.c_gutter {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.row_gutter {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_gutter,
  .fluid-cont_gutter,
  .c_gutter {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }

  .row_gutter {
    margin-left: -0.75rem;
    margin-right: -0.75rem; } }
@media screen and (min-width: 1200px) {
  .cont_gutter,
  .fluid-cont_gutter,
  .c_gutter {
    padding-left: 1rem;
    padding-right: 1rem; }

  .row_gutter {
    margin-left: -1rem;
    margin-right: -1rem; } }
.cont_gutter-small,
.fluid-cont_gutter-small,
.c_gutter-small {
  padding-left: 0.25rem;
  padding-right: 0.25rem; }

.row_gutter-small {
  margin-left: -0.25rem;
  margin-right: -0.25rem; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_gutter-small,
  .fluid-cont_gutter-small,
  .c_gutter-small {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }

  .row_gutter-small {
    margin-left: -0.5rem;
    margin-right: -0.5rem; } }
@media screen and (min-width: 1200px) {
  .cont_gutter-small,
  .fluid-cont_gutter-small {
    padding-left: 0.75rem;
    padding-right: 0.75rem; }

  .row_gutter-small {
    margin-left: -0.75rem;
    margin-right: -0.75rem; } }
.cont_gutter-big,
.fluid-cont_gutter-big,
.c_gutter-big {
  padding-left: 1rem;
  padding-right: 1rem; }

.row_gutter-big {
  margin-left: -1rem;
  margin-right: -1rem; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_gutter-big,
  .fluid-cont_gutter-big,
  .c_gutter-big {
    padding-left: 1.25rem;
    padding-right: 1.25rem; }

  .row_gutter-big {
    margin-left: -1.25rem;
    margin-right: -1.25rem; } }
@media screen and (min-width: 1200px) {
  .cont_gutter-big,
  .fluid-cont_gutter-big,
  .c_gutter-big {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

  .row_gutter-big {
    margin-left: -1.5rem;
    margin-right: -1.5rem; } }
@media screen and (max-width: 767px) {
  .cont_no-gutter-smart,
  .fluid-cont_no-gutter-smart,
  .c_no-gutter-smart {
    padding-left: 0;
    padding-right: 0; }

  .row_no-gutter-smart {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_no-gutter-tablet,
  .fluid-cont_no-gutter-tablet,
  .c_no-gutter-tablet {
    padding-left: 0;
    padding-right: 0; }

  .row_no-gutter-tablet {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 1199px) {
  .cont_no-gutter-desktop,
  .fluid-cont_no-gutter-desktop,
  .c_no-gutter-desktop {
    padding-left: 0;
    padding-right: 0; }

  .row_no-gutter-desktop {
    margin-left: 0;
    margin-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont {
    width: 708px; } }
@media screen and (min-width: 1200px) {
  .cont {
    width: 1080px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_big {
    width: 738px; } }
@media screen and (min-width: 1200px) {
  .cont_big {
    width: 1140px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_small {
    width: 678px; } }
@media screen and (min-width: 1200px) {
  .cont_small {
    width: 1020px; } }
.fluid-cont_regular {
  max-width: 1080px; }

.fluid-cont_small {
  max-width: 1020px; }

.fluid-cont_big {
  max-width: 1140px; }

.row_reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

@media screen and (max-width: 767px) {
  .row_reverse-smart {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .row_reverse-tablet {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; } }
@media screen and (min-width: 1200px) {
  .row_reverse-desktop {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse; } }
.c_1 {
  -ms-flex: 0 0 4.16667%;
  -webkit-flex: 0 0 4.16667%;
  flex: 0 0 4.16667%; }

.c_2 {
  -ms-flex: 0 0 8.33333%;
  -webkit-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%; }

.c_3 {
  -ms-flex: 0 0 12.5%;
  -webkit-flex: 0 0 12.5%;
  flex: 0 0 12.5%; }

.c_4 {
  -ms-flex: 0 0 16.66667%;
  -webkit-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%; }

.c_5 {
  -ms-flex: 0 0 20.83333%;
  -webkit-flex: 0 0 20.83333%;
  flex: 0 0 20.83333%; }

.c_6, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li {
  -ms-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%; }

.c_7 {
  -ms-flex: 0 0 29.16667%;
  -webkit-flex: 0 0 29.16667%;
  flex: 0 0 29.16667%; }

.c_8 {
  -ms-flex: 0 0 33.33333%;
  -webkit-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%; }

.c_9 {
  -ms-flex: 0 0 37.5%;
  -webkit-flex: 0 0 37.5%;
  flex: 0 0 37.5%; }

.c_10 {
  -ms-flex: 0 0 41.66667%;
  -webkit-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%; }

.c_11 {
  -ms-flex: 0 0 45.83333%;
  -webkit-flex: 0 0 45.83333%;
  flex: 0 0 45.83333%; }

.c_12 {
  -ms-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%; }

.c_13 {
  -ms-flex: 0 0 54.16667%;
  -webkit-flex: 0 0 54.16667%;
  flex: 0 0 54.16667%; }

.c_14 {
  -ms-flex: 0 0 58.33333%;
  -webkit-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%; }

.c_15 {
  -ms-flex: 0 0 62.5%;
  -webkit-flex: 0 0 62.5%;
  flex: 0 0 62.5%; }

.c_16 {
  -ms-flex: 0 0 66.66667%;
  -webkit-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%; }

.c_17 {
  -ms-flex: 0 0 70.83333%;
  -webkit-flex: 0 0 70.83333%;
  flex: 0 0 70.83333%; }

.c_18 {
  -ms-flex: 0 0 75%;
  -webkit-flex: 0 0 75%;
  flex: 0 0 75%; }

.c_19 {
  -ms-flex: 0 0 79.16667%;
  -webkit-flex: 0 0 79.16667%;
  flex: 0 0 79.16667%; }

.c_20 {
  -ms-flex: 0 0 83.33333%;
  -webkit-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%; }

.c_21 {
  -ms-flex: 0 0 87.5%;
  -webkit-flex: 0 0 87.5%;
  flex: 0 0 87.5%; }

.c_22 {
  -ms-flex: 0 0 91.66667%;
  -webkit-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%; }

.c_23 {
  -ms-flex: 0 0 95.83333%;
  -webkit-flex: 0 0 95.83333%;
  flex: 0 0 95.83333%; }

.c_24 {
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%; }

@media screen and (min-width: 768px) {
  .c_1-2, .c_1-3 {
    -ms-flex: 0 0 4.16667%;
    -webkit-flex: 0 0 4.16667%;
    flex: 0 0 4.16667%; }

  .c_2-2, .c_2-3 {
    -ms-flex: 0 0 8.33333%;
    -webkit-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }

  .c_3-2, .c_3-3 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    flex: 0 0 12.5%; }

  .c_4-2, .c_4-3 {
    -ms-flex: 0 0 16.66667%;
    -webkit-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }

  .c_5-2, .c_5-3 {
    -ms-flex: 0 0 20.83333%;
    -webkit-flex: 0 0 20.83333%;
    flex: 0 0 20.83333%; }

  .c_6-2, .c_6-3 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%; }

  .c_7-2, .c_7-3 {
    -ms-flex: 0 0 29.16667%;
    -webkit-flex: 0 0 29.16667%;
    flex: 0 0 29.16667%; }

  .c_8-2, .c_8-3 {
    -ms-flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }

  .c_9-2, .c_9-3 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    flex: 0 0 37.5%; }

  .c_10-2, .c_10-3 {
    -ms-flex: 0 0 41.66667%;
    -webkit-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }

  .c_11-2, .c_11-3 {
    -ms-flex: 0 0 45.83333%;
    -webkit-flex: 0 0 45.83333%;
    flex: 0 0 45.83333%; }

  .c_12-2, .c_12-3 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%; }

  .c_13-2, .c_13-3 {
    -ms-flex: 0 0 54.16667%;
    -webkit-flex: 0 0 54.16667%;
    flex: 0 0 54.16667%; }

  .c_14-2, .c_14-3 {
    -ms-flex: 0 0 58.33333%;
    -webkit-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }

  .c_15-2, .c_15-3 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    flex: 0 0 62.5%; }

  .c_16-2, .c_16-3 {
    -ms-flex: 0 0 66.66667%;
    -webkit-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }

  .c_17-2, .c_17-3 {
    -ms-flex: 0 0 70.83333%;
    -webkit-flex: 0 0 70.83333%;
    flex: 0 0 70.83333%; }

  .c_18-2, .c_18-3 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%; }

  .c_19-2, .c_19-3 {
    -ms-flex: 0 0 79.16667%;
    -webkit-flex: 0 0 79.16667%;
    flex: 0 0 79.16667%; }

  .c_20-2, .c_20-3 {
    -ms-flex: 0 0 83.33333%;
    -webkit-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }

  .c_21-2, .c_21-3 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    flex: 0 0 87.5%; }

  .c_22-2, .c_22-3 {
    -ms-flex: 0 0 91.66667%;
    -webkit-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }

  .c_23-2, .c_23-3 {
    -ms-flex: 0 0 95.83333%;
    -webkit-flex: 0 0 95.83333%;
    flex: 0 0 95.83333%; }

  .c_24-2, .c_24-3 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%; } }
@media screen and (min-width: 992px) {
  .c_1-4 {
    -ms-flex: 0 0 4.16667%;
    -webkit-flex: 0 0 4.16667%;
    flex: 0 0 4.16667%; }

  .c_2-4 {
    -ms-flex: 0 0 8.33333%;
    -webkit-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }

  .c_3-4 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    flex: 0 0 12.5%; }

  .c_4-4 {
    -ms-flex: 0 0 16.66667%;
    -webkit-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }

  .c_5-4 {
    -ms-flex: 0 0 20.83333%;
    -webkit-flex: 0 0 20.83333%;
    flex: 0 0 20.83333%; }

  .c_6-4 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%; }

  .c_7-4 {
    -ms-flex: 0 0 29.16667%;
    -webkit-flex: 0 0 29.16667%;
    flex: 0 0 29.16667%; }

  .c_8-4 {
    -ms-flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }

  .c_9-4 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    flex: 0 0 37.5%; }

  .c_10-4 {
    -ms-flex: 0 0 41.66667%;
    -webkit-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }

  .c_11-4 {
    -ms-flex: 0 0 45.83333%;
    -webkit-flex: 0 0 45.83333%;
    flex: 0 0 45.83333%; }

  .c_12-4 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%; }

  .c_13-4 {
    -ms-flex: 0 0 54.16667%;
    -webkit-flex: 0 0 54.16667%;
    flex: 0 0 54.16667%; }

  .c_14-4 {
    -ms-flex: 0 0 58.33333%;
    -webkit-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }

  .c_15-4 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    flex: 0 0 62.5%; }

  .c_16-4 {
    -ms-flex: 0 0 66.66667%;
    -webkit-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }

  .c_17-4 {
    -ms-flex: 0 0 70.83333%;
    -webkit-flex: 0 0 70.83333%;
    flex: 0 0 70.83333%; }

  .c_18-4 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%; }

  .c_19-4 {
    -ms-flex: 0 0 79.16667%;
    -webkit-flex: 0 0 79.16667%;
    flex: 0 0 79.16667%; }

  .c_20-4 {
    -ms-flex: 0 0 83.33333%;
    -webkit-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }

  .c_21-4 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    flex: 0 0 87.5%; }

  .c_22-4 {
    -ms-flex: 0 0 91.66667%;
    -webkit-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }

  .c_23-4 {
    -ms-flex: 0 0 95.83333%;
    -webkit-flex: 0 0 95.83333%;
    flex: 0 0 95.83333%; }

  .c_24-4 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%; } }
@media screen and (min-width: 1200px) {
  .c_1-5 {
    -ms-flex: 0 0 4.16667%;
    -webkit-flex: 0 0 4.16667%;
    flex: 0 0 4.16667%; }

  .c_2-5 {
    -ms-flex: 0 0 8.33333%;
    -webkit-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }

  .c_3-5 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    flex: 0 0 12.5%; }

  .c_4-5 {
    -ms-flex: 0 0 16.66667%;
    -webkit-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }

  .c_5-5 {
    -ms-flex: 0 0 20.83333%;
    -webkit-flex: 0 0 20.83333%;
    flex: 0 0 20.83333%; }

  .c_6-5 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%; }

  .c_7-5 {
    -ms-flex: 0 0 29.16667%;
    -webkit-flex: 0 0 29.16667%;
    flex: 0 0 29.16667%; }

  .c_8-5 {
    -ms-flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }

  .c_9-5 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    flex: 0 0 37.5%; }

  .c_10-5 {
    -ms-flex: 0 0 41.66667%;
    -webkit-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }

  .c_11-5 {
    -ms-flex: 0 0 45.83333%;
    -webkit-flex: 0 0 45.83333%;
    flex: 0 0 45.83333%; }

  .c_12-5 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%; }

  .c_13-5 {
    -ms-flex: 0 0 54.16667%;
    -webkit-flex: 0 0 54.16667%;
    flex: 0 0 54.16667%; }

  .c_14-5 {
    -ms-flex: 0 0 58.33333%;
    -webkit-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }

  .c_15-5 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    flex: 0 0 62.5%; }

  .c_16-5 {
    -ms-flex: 0 0 66.66667%;
    -webkit-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }

  .c_17-5 {
    -ms-flex: 0 0 70.83333%;
    -webkit-flex: 0 0 70.83333%;
    flex: 0 0 70.83333%; }

  .c_18-5 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%; }

  .c_19-5 {
    -ms-flex: 0 0 79.16667%;
    -webkit-flex: 0 0 79.16667%;
    flex: 0 0 79.16667%; }

  .c_20-5 {
    -ms-flex: 0 0 83.33333%;
    -webkit-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }

  .c_21-5 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    flex: 0 0 87.5%; }

  .c_22-5 {
    -ms-flex: 0 0 91.66667%;
    -webkit-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }

  .c_23-5 {
    -ms-flex: 0 0 95.83333%;
    -webkit-flex: 0 0 95.83333%;
    flex: 0 0 95.83333%; }

  .c_24-5 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%; } }
@media screen and (min-width: 1440px) {
  .c_1-6 {
    -ms-flex: 0 0 4.16667%;
    -webkit-flex: 0 0 4.16667%;
    flex: 0 0 4.16667%; }

  .c_2-6 {
    -ms-flex: 0 0 8.33333%;
    -webkit-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%; }

  .c_3-6 {
    -ms-flex: 0 0 12.5%;
    -webkit-flex: 0 0 12.5%;
    flex: 0 0 12.5%; }

  .c_4-6 {
    -ms-flex: 0 0 16.66667%;
    -webkit-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%; }

  .c_5-6 {
    -ms-flex: 0 0 20.83333%;
    -webkit-flex: 0 0 20.83333%;
    flex: 0 0 20.83333%; }

  .c_6-6 {
    -ms-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
    flex: 0 0 25%; }

  .c_7-6 {
    -ms-flex: 0 0 29.16667%;
    -webkit-flex: 0 0 29.16667%;
    flex: 0 0 29.16667%; }

  .c_8-6 {
    -ms-flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%; }

  .c_9-6 {
    -ms-flex: 0 0 37.5%;
    -webkit-flex: 0 0 37.5%;
    flex: 0 0 37.5%; }

  .c_10-6 {
    -ms-flex: 0 0 41.66667%;
    -webkit-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%; }

  .c_11-6 {
    -ms-flex: 0 0 45.83333%;
    -webkit-flex: 0 0 45.83333%;
    flex: 0 0 45.83333%; }

  .c_12-6 {
    -ms-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%; }

  .c_13-6 {
    -ms-flex: 0 0 54.16667%;
    -webkit-flex: 0 0 54.16667%;
    flex: 0 0 54.16667%; }

  .c_14-6 {
    -ms-flex: 0 0 58.33333%;
    -webkit-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%; }

  .c_15-6 {
    -ms-flex: 0 0 62.5%;
    -webkit-flex: 0 0 62.5%;
    flex: 0 0 62.5%; }

  .c_16-6 {
    -ms-flex: 0 0 66.66667%;
    -webkit-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%; }

  .c_17-6 {
    -ms-flex: 0 0 70.83333%;
    -webkit-flex: 0 0 70.83333%;
    flex: 0 0 70.83333%; }

  .c_18-6 {
    -ms-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
    flex: 0 0 75%; }

  .c_19-6 {
    -ms-flex: 0 0 79.16667%;
    -webkit-flex: 0 0 79.16667%;
    flex: 0 0 79.16667%; }

  .c_20-6 {
    -ms-flex: 0 0 83.33333%;
    -webkit-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%; }

  .c_21-6 {
    -ms-flex: 0 0 87.5%;
    -webkit-flex: 0 0 87.5%;
    flex: 0 0 87.5%; }

  .c_22-6 {
    -ms-flex: 0 0 91.66667%;
    -webkit-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%; }

  .c_23-6 {
    -ms-flex: 0 0 95.83333%;
    -webkit-flex: 0 0 95.83333%;
    flex: 0 0 95.83333%; }

  .c_24-6 {
    -ms-flex: 0 0 100%;
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%; } }
.o_0 {
  margin-left: 0%; }

.o_1 {
  margin-left: 4.16667%; }

.o_2 {
  margin-left: 8.33333%; }

.o_3 {
  margin-left: 12.5%; }

.o_4 {
  margin-left: 16.66667%; }

.o_5 {
  margin-left: 20.83333%; }

.o_6 {
  margin-left: 25%; }

.o_7 {
  margin-left: 29.16667%; }

.o_8 {
  margin-left: 33.33333%; }

.o_9 {
  margin-left: 37.5%; }

.o_10 {
  margin-left: 41.66667%; }

.o_11 {
  margin-left: 45.83333%; }

.o_12 {
  margin-left: 50%; }

.o_13 {
  margin-left: 54.16667%; }

.o_14 {
  margin-left: 58.33333%; }

.o_15 {
  margin-left: 62.5%; }

.o_16 {
  margin-left: 66.66667%; }

.o_17 {
  margin-left: 70.83333%; }

.o_18 {
  margin-left: 75%; }

.o_19 {
  margin-left: 79.16667%; }

.o_20 {
  margin-left: 83.33333%; }

.o_21 {
  margin-left: 87.5%; }

.o_22 {
  margin-left: 91.66667%; }

.o_23 {
  margin-left: 95.83333%; }

.o_24 {
  margin-left: 100%; }

@media screen and (min-width: 414px) {
  .o_0-2 {
    margin-left: 0%; }

  .o_1-2 {
    margin-left: 4.16667%; }

  .o_2-2 {
    margin-left: 8.33333%; }

  .o_3-2 {
    margin-left: 12.5%; }

  .o_4-2 {
    margin-left: 16.66667%; }

  .o_5-2 {
    margin-left: 20.83333%; }

  .o_6-2 {
    margin-left: 25%; }

  .o_7-2 {
    margin-left: 29.16667%; }

  .o_8-2 {
    margin-left: 33.33333%; }

  .o_9-2 {
    margin-left: 37.5%; }

  .o_10-2 {
    margin-left: 41.66667%; }

  .o_11-2 {
    margin-left: 45.83333%; }

  .o_12-2 {
    margin-left: 50%; }

  .o_13-2 {
    margin-left: 54.16667%; }

  .o_14-2 {
    margin-left: 58.33333%; }

  .o_15-2 {
    margin-left: 62.5%; }

  .o_16-2 {
    margin-left: 66.66667%; }

  .o_17-2 {
    margin-left: 70.83333%; }

  .o_18-2 {
    margin-left: 75%; }

  .o_19-2 {
    margin-left: 79.16667%; }

  .o_20-2 {
    margin-left: 83.33333%; }

  .o_21-2 {
    margin-left: 87.5%; }

  .o_22-2 {
    margin-left: 91.66667%; }

  .o_23-2 {
    margin-left: 95.83333%; }

  .o_24-2 {
    margin-left: 100%; } }
@media screen and (min-width: 768px) {
  .o_0-3 {
    margin-left: 0%; }

  .o_1-3 {
    margin-left: 4.16667%; }

  .o_2-3 {
    margin-left: 8.33333%; }

  .o_3-3 {
    margin-left: 12.5%; }

  .o_4-3 {
    margin-left: 16.66667%; }

  .o_5-3 {
    margin-left: 20.83333%; }

  .o_6-3 {
    margin-left: 25%; }

  .o_7-3 {
    margin-left: 29.16667%; }

  .o_8-3 {
    margin-left: 33.33333%; }

  .o_9-3 {
    margin-left: 37.5%; }

  .o_10-3 {
    margin-left: 41.66667%; }

  .o_11-3 {
    margin-left: 45.83333%; }

  .o_12-3 {
    margin-left: 50%; }

  .o_13-3 {
    margin-left: 54.16667%; }

  .o_14-3 {
    margin-left: 58.33333%; }

  .o_15-3 {
    margin-left: 62.5%; }

  .o_16-3 {
    margin-left: 66.66667%; }

  .o_17-3 {
    margin-left: 70.83333%; }

  .o_18-3 {
    margin-left: 75%; }

  .o_19-3 {
    margin-left: 79.16667%; }

  .o_20-3 {
    margin-left: 83.33333%; }

  .o_21-3 {
    margin-left: 87.5%; }

  .o_22-3 {
    margin-left: 91.66667%; }

  .o_23-3 {
    margin-left: 95.83333%; }

  .o_24-3 {
    margin-left: 100%; } }
@media screen and (min-width: 992px) {
  .o_0-4 {
    margin-left: 0%; }

  .o_1-4 {
    margin-left: 4.16667%; }

  .o_2-4 {
    margin-left: 8.33333%; }

  .o_3-4 {
    margin-left: 12.5%; }

  .o_4-4 {
    margin-left: 16.66667%; }

  .o_5-4 {
    margin-left: 20.83333%; }

  .o_6-4 {
    margin-left: 25%; }

  .o_7-4 {
    margin-left: 29.16667%; }

  .o_8-4 {
    margin-left: 33.33333%; }

  .o_9-4 {
    margin-left: 37.5%; }

  .o_10-4 {
    margin-left: 41.66667%; }

  .o_11-4 {
    margin-left: 45.83333%; }

  .o_12-4 {
    margin-left: 50%; }

  .o_13-4 {
    margin-left: 54.16667%; }

  .o_14-4 {
    margin-left: 58.33333%; }

  .o_15-4 {
    margin-left: 62.5%; }

  .o_16-4 {
    margin-left: 66.66667%; }

  .o_17-4 {
    margin-left: 70.83333%; }

  .o_18-4 {
    margin-left: 75%; }

  .o_19-4 {
    margin-left: 79.16667%; }

  .o_20-4 {
    margin-left: 83.33333%; }

  .o_21-4 {
    margin-left: 87.5%; }

  .o_22-4 {
    margin-left: 91.66667%; }

  .o_23-4 {
    margin-left: 95.83333%; }

  .o_24-4 {
    margin-left: 100%; } }
@media screen and (min-width: 1200px) {
  .o_0-5 {
    margin-left: 0%; }

  .o_1-5 {
    margin-left: 4.16667%; }

  .o_2-5 {
    margin-left: 8.33333%; }

  .o_3-5 {
    margin-left: 12.5%; }

  .o_4-5 {
    margin-left: 16.66667%; }

  .o_5-5 {
    margin-left: 20.83333%; }

  .o_6-5 {
    margin-left: 25%; }

  .o_7-5 {
    margin-left: 29.16667%; }

  .o_8-5 {
    margin-left: 33.33333%; }

  .o_9-5 {
    margin-left: 37.5%; }

  .o_10-5 {
    margin-left: 41.66667%; }

  .o_11-5 {
    margin-left: 45.83333%; }

  .o_12-5 {
    margin-left: 50%; }

  .o_13-5 {
    margin-left: 54.16667%; }

  .o_14-5 {
    margin-left: 58.33333%; }

  .o_15-5 {
    margin-left: 62.5%; }

  .o_16-5 {
    margin-left: 66.66667%; }

  .o_17-5 {
    margin-left: 70.83333%; }

  .o_18-5 {
    margin-left: 75%; }

  .o_19-5 {
    margin-left: 79.16667%; }

  .o_20-5 {
    margin-left: 83.33333%; }

  .o_21-5 {
    margin-left: 87.5%; }

  .o_22-5 {
    margin-left: 91.66667%; }

  .o_23-5 {
    margin-left: 95.83333%; }

  .o_24-5 {
    margin-left: 100%; } }
@media screen and (min-width: 1440px) {
  .o_0-6 {
    margin-left: 0%; }

  .o_1-6 {
    margin-left: 4.16667%; }

  .o_2-6 {
    margin-left: 8.33333%; }

  .o_3-6 {
    margin-left: 12.5%; }

  .o_4-6 {
    margin-left: 16.66667%; }

  .o_5-6 {
    margin-left: 20.83333%; }

  .o_6-6 {
    margin-left: 25%; }

  .o_7-6 {
    margin-left: 29.16667%; }

  .o_8-6 {
    margin-left: 33.33333%; }

  .o_9-6 {
    margin-left: 37.5%; }

  .o_10-6 {
    margin-left: 41.66667%; }

  .o_11-6 {
    margin-left: 45.83333%; }

  .o_12-6 {
    margin-left: 50%; }

  .o_13-6 {
    margin-left: 54.16667%; }

  .o_14-6 {
    margin-left: 58.33333%; }

  .o_15-6 {
    margin-left: 62.5%; }

  .o_16-6 {
    margin-left: 66.66667%; }

  .o_17-6 {
    margin-left: 70.83333%; }

  .o_18-6 {
    margin-left: 75%; }

  .o_19-6 {
    margin-left: 79.16667%; }

  .o_20-6 {
    margin-left: 83.33333%; }

  .o_21-6 {
    margin-left: 87.5%; }

  .o_22-6 {
    margin-left: 91.66667%; }

  .o_23-6 {
    margin-left: 95.83333%; }

  .o_24-6 {
    margin-left: 100%; } }
/*
Uncomment the file of the grid system you want to use.
Includ only one grid system. Including more than one grid system will lead to redundant css code.
*/
.c > .bg {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem; }

.row_colored, pre {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem; }

.box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .box-group-vertical, .box-group-vertical-top, .box-group-vertical-bottom, .box-group-vertical-left, .box-group-vertical-right {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem; }

.text-default p, .text-default blockquote, .text-default figcaption {
  margin-top: 0.4rem; }

.text-default {
  margin-top: 1rem; }

.text-default h4, .text-default h5, .text-default h6 {
  margin-top: 1.6rem; }

.text-default h3 {
  margin-top: 2rem; }

.text-default h2 {
  margin-top: 2.8rem; }

.text-default h1 {
  margin-top: 3.2rem; }

@media screen and (min-width: 768px) {
  .c > .bg {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem; }

  .row_colored, pre {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem; }

  .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .box-group-vertical, .box-group-vertical-top, .box-group-vertical-bottom, .box-group-vertical-left, .box-group-vertical-right {
    margin-bottom: 1rem;
    margin-top: 1rem; }

  .text-default p, .text-default blockquote, .text-default figcaption {
    margin-top: 0.5rem; }

  .text-default {
    margin-top: 1.25rem; }

  .text-default h4, .text-default h5, .text-default h6 {
    margin-top: 2rem; }

  .text-default h3 {
    margin-top: 2.5rem; }

  .text-default h2 {
    margin-top: 3.5rem; }

  .text-default h1 {
    margin-top: 4rem; } }
@media screen and (min-width: 1199px) {
  .c > .bg {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem; }

  .row_colored, pre {
    margin-bottom: 0.9rem;
    margin-top: 0.9rem; }

  .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .box-group-vertical, .box-group-vertical-top, .box-group-vertical-bottom, .box-group-vertical-left, .box-group-vertical-right {
    margin-bottom: 1.2rem;
    margin-top: 1.2rem; }

  .text-default p, .text-default blockquote, .text-default figcaption {
    margin-top: 0.6rem; }

  .text-default {
    margin-top: 1.5rem; }

  .text-default h4, .text-default h5, .text-default h6 {
    margin-top: 2.4rem; }

  .text-default h3 {
    margin-top: 3rem; }

  .text-default h2 {
    margin-top: 4.2rem; }

  .text-default h1 {
    margin-top: 4.8rem; } }
.box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .box-group-vertical > li, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-left > li, .box-group-vertical-right > li {
  padding: 1.2rem; }

pre {
  padding-left: 0.8rem;
  padding-right: 0.8rem; }

.row_colored {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem; }

pre {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem; }

.cont_colored, .c > .bg {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem; }

@media screen and (min-width: 768px) {
  .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .box-group-vertical > li, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-left > li, .box-group-vertical-right > li {
    padding: 1.5rem; }

  pre {
    padding-left: 1rem;
    padding-right: 1rem; }

  .row_colored {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem; }

  pre {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem; }

  .cont_colored, .c > .bg {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem; } }
@media screen and (min-width: 1199px) {
  .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .box-group-vertical > li, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-left > li, .box-group-vertical-right > li {
    padding: 1.8rem; }

  pre {
    padding-left: 1.2rem;
    padding-right: 1.2rem; }

  .row_colored {
    padding-bottom: 0.3rem;
    padding-top: 0.3rem; }

  pre {
    padding-bottom: 0.9rem;
    padding-top: 0.9rem; }

  .cont_colored, .c > .bg {
    padding-bottom: 1.8rem;
    padding-top: 1.8rem; } }
.text-default h4, .text-default h5, .text-default h6 {
  font-size: 1.2rem;
  line-height: 1.44rem; }

.text-default h3 {
  font-size: 1.6rem;
  line-height: 1.92rem; }

.text-default h2 {
  font-size: 2.4rem;
  line-height: 2.88rem; }

.text-default h1 {
  font-size: 2.8rem;
  line-height: 3.36rem; }

@media screen and (min-width: 768px) {
  .text-default h4, .text-default h5, .text-default h6 {
    font-size: 1.5rem;
    line-height: 1.8rem; }

  .text-default h3 {
    font-size: 2rem;
    line-height: 2.4rem; }

  .text-default h2 {
    font-size: 3rem;
    line-height: 3.6rem; }

  .text-default h1 {
    font-size: 3.5rem;
    line-height: 4.2rem; } }
@media screen and (min-width: 1200px) {
  .text-default h4, .text-default h5, .text-default h6 {
    font-size: 1.8rem;
    line-height: 2.16rem; }

  .text-default h3 {
    font-size: 2.4rem;
    line-height: 2.88rem; }

  .text-default h2 {
    font-size: 3.6rem;
    line-height: 4.32rem; }

  .text-default h1 {
    font-size: 4.2rem;
    line-height: 5.04rem; } }
.text-default {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.4;
  color: #444; }

.text-default h1 {
  color: #000;
  font-weight: bold; }
.text-default h2 {
  color: #000;
  font-weight: bold; }
.text-default h3 {
  color: #000; }
.text-default h4 {
  color: #000; }
.text-default h5 {
  color: #000; }
.text-default h6 {
  color: #000; }

.text-default blockquote {
  color: #ccc;
  font-style: italic; }

.text-default figcaption {
  color: #ccc;
  font-style: italic; }

.cont_colored {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 0.2rem;
  border-width: 0.05rem; }

.row_colored {
  background-color: #989898;
  border-color: #797979;
  border-radius: 0.2rem;
  border-width: 0.05rem; }
  .row_colored .row_colored {
    background-color: #898989;
    border-color: #797979;
    border-radius: 0.2rem;
    border-width: 0.05rem; }

.c > .bg {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 0.2rem;
  border-width: 0.05rem;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1;
  color: white;
  font-weight: bold; }

pre {
  background-color: #ebebeb;
  border-color: #bdbdbd;
  border-radius: 0.2rem;
  border-width: 0.05rem;
  font-family: monospace; }

.big {
  font-size: 130%;
  font-weight: bold; }

.small {
  font-size: 60%; }

.fluid {
  letter-spacing: 1rem; }

.box-default {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem; }

.box-top {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.box-left {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.box-right {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.box-bottom {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.box-group-horizontal > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none; }
  .box-group-horizontal > li:first-child {
    border-radius: 1rem 0 0 1rem; }
  .box-group-horizontal > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 1rem 1rem 0; }

.box-group-horizontal-top > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none;
  border-right: none; }
  .box-group-horizontal-top > li:first-child {
    border-radius: 1rem 0 0 0; }
  .box-group-horizontal-top > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-bottom: none;
    border-radius: 0 1rem 0 0; }

.box-group-horizontal-bottom > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none;
  border-top: none; }
  .box-group-horizontal-bottom > li:first-child {
    border-radius: 0 0 0 1rem; }
  .box-group-horizontal-bottom > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-top: none;
    border-radius: 0 0 1rem 0; }

.box-group-horizontal-left > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none; }
  .box-group-horizontal-left > li:first-child {
    border-radius: 1rem 0 0 1rem; }
  .box-group-horizontal-left > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-right: none;
    border-radius: 0; }

.box-group-horizontal-right > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none; }
  .box-group-horizontal-right > li:first-child {
    border-left: none;
    border-radius: 0 0; }
  .box-group-horizontal-right > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 1rem 1rem 0; }

.box-group-vertical > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical > li:first-child {
    border-radius: 1rem 1rem 0 0; }
  .box-group-vertical > li:last-child {
    border-color: #560e4d;
    border-radius: 1rem;
    border-width: 0.2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.box-group-vertical-top > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-top > li:first-child {
    border-radius: 1rem 1rem 0 0; }
  .box-group-vertical-top > li:last-child else {
    border-radius: 0; }

.box-group-vertical-bottom > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-bottom > li:first-child {
    border-radius: 0; }
  .box-group-vertical-bottom > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 0 1rem 1rem; }

.box-group-vertical-left > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-left > li:first-child {
    border-radius: 1rem 0 0 0; }
  .box-group-vertical-left > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 0 0 1rem; }

.box-group-vertical-right > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-right > li:first-child {
    border-radius: 0 1rem 0 0; }
  .box-group-vertical-right > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 0 1rem 0; }

.btn1 {
  font-size: 0.8rem;
  max-width: 40rem;
  min-width: 10rem;
  padding: 0.8rem 2rem;
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  color: #fff;
  -webkit-transition: background-color 0.1s ease-in, border 0.1s ease-in, color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in, border 0.1s ease-in, color 0.1s ease-in;
  -o-transition: background-color 0.1s ease-in, border 0.1s ease-in, color 0.1s ease-in;
  transition: background-color 0.1s ease-in, border 0.1s ease-in, color 0.1s ease-in;
  text-transform: uppercase; }
  .btn1:focus {
    background-color: #711265;
    border-color: #560e4d;
    color: #fff; }
  .btn1:hover {
    background-color: #fff;
    border-color: #560e4d;
    color: #560e4d; }
  .btn1:active {
    background-color: #711265;
    border-color: #560e4d;
    color: #fff; }
  .btn1[disabled], .btn1[disabled]:hover {
    background-color: #ccc;
    border-color: #8e8e8e;
    color: #fff; }

.link1 {
  font-weight: bold;
  color: #3b55e6;
  text-decoration: underline;
  text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
