//-----------------------
// HTML and BODY
//-----------------------
html,
body {
  font-size: $defaultFontSize; //Set default font size on root element(s)
  @extend %box-sizing-border-box;
  @extend %margin-0;
  @extend %min-width-100;
  @extend %padding-0;
}
//------------------
//RESET STYLES
//----------------- 
a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  @extend %background-color-none;
  @extend %border-none;
  font-size: 100%;
  font: inherit;
  @extend %letter-spacing-normal;
  line-height: 1;
  @extend %margin-0;
  @extend %padding-0;
  @extend %vertical-align-baseline;
}
a {
  &,
  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: #000;
    @extend %text-decoration-none;
  }
}
button,
input,
textarea {
  @extend %appearance-none;
  @extend %background-color-none;
  @extend %border-none;
  @extend %margin-0;
  @extend %padding-0;
}
dl,
ol,
ul {
  @extend %list-style-none;
  @extend %list-style-position-inside;
}
dt,
dd {
  @extend %display-inline;
}
dt:before {
  @extend %content;
  @extend %display-block;
}
//-----------------------
// FONT FAMILIES
//-----------------------
html,
body {
  font-family: $defaultFontFamily;
}
button,
datalist,
input,
select,
textarea {
  font-family: $fontFamilyForms;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyHeadings;
}
