.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .btn-group-horizontal {
  align-content: flex-start; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .btn-group-horizontal {
  align-items: stretch; }

button,
input,
textarea {
  appearance: none; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button,
input,
textarea {
  background-color: none; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button,
input,
textarea {
  border: none; }

.checkbox .checkbox__label:after, .cont_colored, .row_colored, .row_colored .row_colored, .c > .bg, pre, .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal > li:last-child, .box-group-horizontal-top > li, .box-group-horizontal-top > li:last-child, .box-group-horizontal-bottom > li, .box-group-horizontal-bottom > li:last-child, .box-group-horizontal-left > li, .box-group-horizontal-left > li:last-child, .box-group-horizontal-right > li, .box-group-horizontal-right > li:last-child, .box-group-vertical > li, .box-group-vertical > li:last-child, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-bottom > li:last-child, .box-group-vertical-left > li, .box-group-vertical-left > li:last-child, .box-group-vertical-right > li, .box-group-vertical-right > li:last-child, .btn1 {
  border-style: solid; }

.checkbox .checkbox__label:before, .checkbox .checkbox__label:after, html,
body, .cont,
.row,
.box-group-horizontal,
.box-group-horizontal-top,
.box-group-horizontal-bottom,
.box-group-horizontal-left,
.box-group-horizontal-right,
.btn-group-horizontal, .cont_colored, .row_colored, .row_colored .row_colored, .c > .bg, pre, .box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .box-group-vertical > li, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-left > li, .box-group-vertical-right > li {
  box-sizing: border-box; }

.checkbox .checkbox__label:before, .checkbox .checkbox__label:after, dt:before {
  content: ""; }

dt,
dd {
  display: inline; }

dt:before, .btn-group-vertical > .btn1 {
  display: block; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .btn-group-horizontal {
  display: flex; }

.checkbox, .checkbox .checkbox__label, .checkbox .checkbox__label:before, .checkbox .checkbox__label:after {
  display: inline-block; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .btn-group-horizontal {
  flex-direction: row; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .btn-group-horizontal {
  flex-wrap: wrap; }

.row, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .btn-group-horizontal {
  justify-content: flex-start; }

.checkbox .checkbox__label:before, .checkbox .checkbox__label:after {
  left: 0; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  letter-spacing: normal; }

dl,
ol,
ul {
  list-style: none; }

dl,
ol,
ul {
  list-style-position: inside; }

.cont {
  margin: auto; }

html,
body, a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button,
input,
textarea {
  margin: 0; }

html,
body {
  min-width: 100%; }

.checkbox .checkbox__label:after {
  opacity: 0; }

pre {
  overflow-x: scroll; }

html,
body, a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object, button,
input,
textarea {
  padding: 0; }

.checkbox .checkbox__input, .checkbox .checkbox__label:before, .checkbox .checkbox__label:after {
  position: absolute; }

.checkbox .checkbox__label {
  position: relative; }

.cont_colored, .c > .bg {
  text-align: center; }

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none; }

.checkbox .checkbox__label:before, .checkbox .checkbox__label:after {
  top: 0; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  vertical-align: baseline; }

.cont, pre {
  width: 100%; }

.checkbox .checkbox__label:after {
  z-index: 1; }

.checkbox {
  min-height: 1rem; }
  .checkbox .checkbox__input {
    left: -9999rem; }
  .checkbox .checkbox__label {
    padding-left: 1.5rem; }
    .checkbox .checkbox__label:before {
      background-color: #8b167d;
      border-color: #560e4d;
      border-radius: 0.2rem;
      border-style: solid;
      border-width: 0.01rem;
      height: 1rem;
      transition: color 0.2s ease-in, background-color 0.2s ease-in;
      width: 1rem;
      z-index: 1; }
    .checkbox .checkbox__label:after {
      border-color: #fff;
      border-width: 0 0 0.1rem 0.1rem;
      height: 0.3125rem;
      margin: 0.25rem 0 0 0.19231rem;
      transform: rotate(-45deg) skewY(-5deg);
      transition: opacity 0.2s ease-in;
      width: 0.625rem; }
  .checkbox .checkbox__input:checked + .checkbox__label:before {
    background-color: #711265;
    border-color: #560e4d; }
  .checkbox .checkbox__input:checked + .checkbox__label:after {
    opacity: 1; }

html,
body {
  font-size: 16px; }

a,
abbr,
acronym,
address,
b,
big,
cite,
code,
del,
em,
i,
ins,
kbd,
mark,
output,
q,
ruby,
s,
samp,
small,
strike,
strong,
sub,
sup,
time,
tt,
u,
var,
dfn,
dl,
dt,
dd,
ol,
ul,
li,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
applet,
canvas,
embed,
figure,
figcaption,
iframe,
img,
object {
  font-size: 100%;
  font: inherit;
  line-height: 1; }

a, a:hover, a:active, a:focus, a:visited {
  color: #000; }

html,
body {
  font-family: "Helvetica"; }

button,
datalist,
input,
select,
textarea {
  font-family: "Helvetica"; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica"; }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont {
    width: 708px; } }
@media screen and (min-width: 1200px) {
  .cont {
    width: 1080px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_big {
    width: 738px; } }
@media screen and (min-width: 1200px) {
  .cont_big {
    width: 1140px; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont_small {
    width: 678px; } }
@media screen and (min-width: 1200px) {
  .cont_small {
    width: 1020px; } }
.fluid-cont_regular {
  max-width: 1080px; }

.fluid-cont_small {
  max-width: 1020px; }

.fluid-cont_big {
  max-width: 1140px; }

.row_reverse {
  flex-direction: row-reverse; }

@media screen and (max-width: 767px) {
  .row_reverse-smart {
    flex-direction: row-reverse; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .row_reverse-tablet {
    flex-direction: row-reverse; } }
@media screen and (min-width: 1200px) {
  .row_reverse-desktop {
    flex-direction: row-reverse; } }
.box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .btn-group-horizontal > .btn1 {
  width: 25%;
  flex: 0, 0, 25%; }

.c > .bg {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem; }

.row_colored, pre {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem; }

.box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal, .box-group-horizontal-top, .box-group-horizontal-bottom, .box-group-horizontal-left, .box-group-horizontal-right, .box-group-vertical, .box-group-vertical-top, .box-group-vertical-bottom, .box-group-vertical-left, .box-group-vertical-right {
  margin-bottom: 0.8rem;
  margin-top: 0.8rem; }

.box-default, .box-top, .box-left, .box-right, .box-bottom, .box-group-horizontal > li, .box-group-horizontal-top > li, .box-group-horizontal-bottom > li, .box-group-horizontal-left > li, .box-group-horizontal-right > li, .box-group-vertical > li, .box-group-vertical-top > li, .box-group-vertical-bottom > li, .box-group-vertical-left > li, .box-group-vertical-right > li {
  padding: 1.2rem; }

pre {
  padding-left: 0.6rem;
  padding-right: 0.6rem; }

.row_colored {
  padding-bottom: 0.2rem;
  padding-top: 0.2rem; }

pre {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem; }

.cont_colored, .c > .bg {
  padding-bottom: 1.2rem;
  padding-top: 1.2rem; }

/*
%text-default {
  @extend %mt5;
  @include font-sizing (1rem, 1.4, 0);
  @include text-style (#444, normal, normal, none, none);
}
//------------------
//RESPONSIVE HEADINGS
//-----------------
%text-default {
  h1 {
    @extend %fs14;
    @extend %mt16;
    @include text-variation (#000, bold, normal, none, none);
  }
  h2 {
    @extend %fs12;
    @extend %mt14;
    @include text-variation (#000, bold, normal, none, none);
  }
  h3 {
    @extend %fs8;
    @extend %mt10;
    @include text-variation (#000, normal, normal, none, none);
  }
  h4 {
    @extend %fs6;
    @extend %mt8;
    @include text-variation (#000, normal, normal, none, none);
  }
  h5 {
    @extend %fs6;
    @extend %mt8;
    @include text-variation (#000, normal, normal, none, none);
  }
  h6 {
    @extend %fs6;
    @extend %mt8;
    @include text-variation (#000, normal, normal, none, none);
  }
}
//-----------------
//PARAGRAPHS
//-----------------
%text-default {
  p {
    @extend %mt2;
  }
}
//------------------
//LINKS @include text
//-----------------
//------------------
//BLOCKQUOTE 
//-----------------
%text-default {
  blockquote {
    @extend %mt2;
    @include text-variation (#ccc, normal, italic, none, none);
  }
}
//------------------
//FIGCAPTION 
//-----------------
%text-default {
  figcaption {
    @extend %mt2;
    @include text-variation (#ccc, normal, italic, none, none);
  }
}
//------------------
//LISTS 
//-----------------
%text-default {
  dl {}
  ol {}
  ul {}
}
//-----------------
//PRE
//-----------------
%text-default {
  pre {
    
  }
}

//------------------
//INLINE @include text SEMANTIC
//-----------------
*/
/*
.text-default {
  @extend %text-default;
}
*/
.cont_colored {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 0.2rem;
  border-width: 0.05rem; }

.row_colored {
  background-color: #989898;
  border-color: #797979;
  border-radius: 0.2rem;
  border-width: 0.05rem; }
  .row_colored .row_colored {
    background-color: #898989;
    border-color: #797979;
    border-radius: 0.2rem;
    border-width: 0.05rem; }

.c > .bg {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 0.2rem;
  border-width: 0.05rem;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1;
  color: #000;
  font-weight: bold; }

pre {
  background-color: #ebebeb;
  border-color: #bdbdbd;
  border-radius: 0.2rem;
  border-width: 0.05rem;
  font-family: monospace; }

.big {
  font-size: 130%;
  font-weight: bold; }

.small {
  font-size: 60%; }

.fluid {
  letter-spacing: 1rem; }

.box-default {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem; }

.box-top {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.box-left {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0; }

.box-right {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.box-bottom {
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.box-group-horizontal > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none; }
  .box-group-horizontal > li:first-child {
    border-radius: 1rem 0 0 1rem; }
  .box-group-horizontal > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 1rem 1rem 0; }

.box-group-horizontal-top > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none;
  border-right: none; }
  .box-group-horizontal-top > li:first-child {
    border-radius: 1rem 0 0 0; }
  .box-group-horizontal-top > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-bottom: none;
    border-radius: 0 1rem 0 0; }

.box-group-horizontal-bottom > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none;
  border-top: none; }
  .box-group-horizontal-bottom > li:first-child {
    border-radius: 0 0 0 1rem; }
  .box-group-horizontal-bottom > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-top: none;
    border-radius: 0 0 1rem 0; }

.box-group-horizontal-left > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none; }
  .box-group-horizontal-left > li:first-child {
    border-radius: 1rem 0 0 1rem; }
  .box-group-horizontal-left > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-right: none;
    border-radius: 0; }

.box-group-horizontal-right > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-right: none; }
  .box-group-horizontal-right > li:first-child {
    border-left: none;
    border-radius: 0 0; }
  .box-group-horizontal-right > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 1rem 1rem 0; }

.box-group-vertical > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical > li:first-child {
    border-radius: 1rem 1rem 0 0; }
  .box-group-vertical > li:last-child {
    border-color: #560e4d;
    border-radius: 1rem;
    border-width: 0.2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.box-group-vertical-top > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-top > li:first-child {
    border-radius: 1rem 1rem 0 0; }
  .box-group-vertical-top > li:last-child else {
    border-radius: 0; }

.box-group-vertical-bottom > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-bottom > li:first-child {
    border-radius: 0; }
  .box-group-vertical-bottom > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 0 1rem 1rem; }

.box-group-vertical-left > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-left > li:first-child {
    border-radius: 1rem 0 0 0; }
  .box-group-vertical-left > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 0 0 1rem; }

.box-group-vertical-right > li {
  background-color: #8b167d;
  border-color: #560e4d;
  border-width: 0.2rem;
  border-bottom: none; }
  .box-group-vertical-right > li:first-child {
    border-radius: 0 1rem 0 0; }
  .box-group-vertical-right > li:last-child {
    border-color: #560e4d;
    border-width: 0.2rem;
    border-radius: 0 0 1rem 0; }

.btn1 {
  font-size: 0.8rem;
  max-width: 40rem;
  min-width: 10rem;
  padding: 0.8rem 2rem;
  background-color: #8b167d;
  border-color: #560e4d;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  color: #fff;
  transition: background-color 0.1s ease-in, border 0.1s ease-in, color 0.1s ease-in;
  text-transform: uppercase; }
  .btn1:focus {
    background-color: #711265;
    border-color: #560e4d;
    color: #fff; }
  .btn1:hover {
    background-color: #fff;
    border-color: #560e4d;
    color: #560e4d; }
  .btn1:active {
    background-color: #711265;
    border-color: #560e4d;
    color: #fff; }
  .btn1[disabled], .btn1[disabled]:hover {
    background-color: #ccc;
    border-color: #8e8e8e;
    color: #fff; }

.btn-group-horizontal > .btn1:not(:first-child):not(:last-child) {
  border-right: none;
  border-radius: 0; }
.btn-group-horizontal > .btn1:first-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: none; }
.btn-group-horizontal > .btn1:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

.btn-group-vertical > .btn1:not(:first-child):not(:last-child) {
  border-bottom: 0;
  border-radius: 0; }
.btn-group-vertical > .btn1:first-child {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.btn-group-vertical > .btn1:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.link1 {
  font-weight: bold;
  color: #3b55e6;
  text-decoration: underline;
  text-transform: uppercase; }

body {
  background-color: #404040; }

/*# sourceMappingURL=style.css.map */
