//--------------------------
//CONTAINER WIDTHS
//--------------------------
%cont {
  @extend %width-100;
}
//tablet
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont {
    width: $contTabletWidth;
  }
}
//desktop
@media screen and (min-width: $w5) {
  %cont {
    width: $contDesktopWidth;
  }
}
//tablet big
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont_big {
    width: $contTabletWidthBig;
  }
}
//desktop big
@media screen and (min-width: $w5) {
  %cont_big {
    width: $contDesktopWidthBig;
  }
}
//tablet small
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont_small {
    width: $contTabletWidthSmall;
  }
}
//desktop
@media screen and (min-width: $w5) {
  %cont_small {
    width: $contDesktopWidthSmall;
  }
}
//--------------------------
//FLUID CONTAINER MAX WIDTHS
//--------------------------
%fluid-cont_regular {
  max-width: $contDesktopWidth;
}
%fluid-cont_small {
  max-width: $contDesktopWidthSmall;
}
%fluid-cont_big {
  max-width: $contDesktopWidthBig;
}
//CLASSES
.cont {
  @extend %cont;
}
.cont_big {
  @extend %cont_big;
}
.cont_small {
  @extend %cont_small;
}
.fluid-cont_regular {
  @extend %fluid-cont_regular;
}
.fluid-cont_small {
  @extend %fluid-cont_small;
}
.fluid-cont_big {
  @extend %fluid-cont_big;
}
