%row {
  @extend %display-flex;
  @extend %flex-direction-row;
  @extend %flex-wrap-wrap;
  @extend %justify-content-flex-start;
  @extend %align-items-stretch;
  @extend %align-content-flex-start;
}
//define reverse row placeholders
%row_reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: $w3min) {
  %row_reverse-smart {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %row_reverse-tablet {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: $w5) {
  %row_reverse-desktop {
    flex-direction: row-reverse;
  }
}
//CLASSES
.row {
  @extend %row;
}
.row_reverse {
  @extend %row_reverse;
}
.row_reverse-smart {
  @extend %row_reverse-smart;
}
.row_reverse-tablet {
  @extend %row_reverse-tablet;
}
.row_reverse-desktop {
  @extend %row_reverse-desktop;
}
