$stepsAddonWidth: 10;
$intervalAddonWidth: 0.75rem;
$beginMargin: 1.25;
$extraPaddingAddonInput: 0.5rem;
$inputElementsPaddingTopBottom: 0.5rem;
$inputElementsPaddingLeftRight: 0.5rem;
button,
input[type="button"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
keygen,
output,
select,
textarea {
  @extend %appearance-none;
  @extend %border-radius-0;
}
button,
input,
keygen,
output,
select,
option,
optgroup,
textarea {
  @extend %box-sizing-border-box;
  @extend %display-block;
  font-size: $defaultTextFontSize;
  line-height: $defaultTextFontSize * $lineHeightFactor;
  padding: $inputElementsPaddingTopBottom $inputElementsPaddingLeftRight;
}
//button and input height fix for firefox
input::-moz-focus-inner,
button::-moz-focus-inner {
  @extend %border-0;
  @extend %padding-0;
}
//reset fieldset appearance
fieldset {
  @extend %border-0;
  @extend %margin-0;
  padding: 1rem 0;
}
.form-group {
  button,
  input[type="button"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  input[type="week"],
  keygen,
  label,
  .label,
  output,
  select,
  textarea {
    @extend %float-left;
  }
  button,
  input[type="button"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="reset"],
  input[type="search"],
  input[type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="url"],
  input[type="week"],
  keygen,
  output,
  select,
  textarea {
    @extend %width-100;
  }
  > .form-group {
    @extend %clearfix;
    @extend %position-relative;
    .addon {
      @extend %box-sizing-border-box;
      @extend %display-block;
      padding: $inputElementsPaddingTopBottom 0.25rem;
      @extend %position-absolute;
      @extend %text-align-center;
      &.r {
        @extend %right-0;
      } 
      &.l {
        @extend %left-0;
      }
      &.transparent {
        pointer-events: none;
      }
    }
    label,
    .label {
      @extend %float-none;
    }
    //Width classes for form elements
    @for $i from 1 through $stepsAddonWidth {
      .w#{$i} {
        width: $beginMargin + $i * $intervalAddonWidth;
      }
      .ipl#{$i} {
        padding-left: (($beginMargin + $i) * $intervalAddonWidth) + $extraPaddingAddonInput;
      }
      .ipr#{$i} {
        padding-right: (($beginMargin + $i) * $intervalAddonWidth) + $extraPaddingAddonInput;
      }
      .iml#{$i} {
        margin-left: $beginMargin + $i * $intervalAddonWidth;
      }
      .imr#{$i} {
        margin-right: $beginMargin + $i * $intervalAddonWidth;
      }
    }
  }
}
