//Generate padding and margin classes with automatic or user difined adaptive resize.
//Automatic resize: Padding and margin adapts to wievport width. Margins and paddings increase with larger viewports
//User defined resize: Padding and margin adapts to wievport width if user adds classes .desktop-m and .desktop-p (for desktopPhone Margins and Paddings) and/or classes tabletM and .tablet-p (for tablet Margins and Paddings)
//
$activateResponsiveMargins: "true"; //activate responsive margin classes
$activateResponsivePaddings: "true"; //activate responsive margin classes
$activateAutoResponsiveMargins: "true"; //if true margins will be resized with no need to add class tablet and/or desktop. Classes for resize will be not included in css
$activateAutoResponsivePaddings: "true"; //if true paddings will be resized with no need to add class tablet and/or desktop. Classes for resize will be not included in css
//
//MARGIN CLASSES
$stepsMargin: 10;
$intervalMargin: 0.25rem;
$beginMargin: 0;
$marginsTabletMultiplyFactor: 0.25;
$marginsDesktopMultiplyFactor: 0.5;
//
//PADDING CLASSES
$stepsPadding: 10;
$intervalPadding: 0.25rem;
$beginPadding: 0;
$paddingsTabletMultiplyFactor: 0.25;
$paddingsDesktopMultiplyFactor: 0.5;
//
//mixins for margin classes
//all four sides
@mixin margins {
  @for $i from 1 through $stepsMargin {
    .m#{$i} {
      margin: $beginMargin + $intervalMargin * $i;
    }
  }
}
//left and right;
@mixin margins-left-right {
  @for $i from 1 through $stepsMargin {
    .mlr#{$i} {
      margin-left: $beginMargin + $intervalMargin * $i;
      margin-right: $beginMargin + $intervalMargin * $i;
    }
  }
}
//top and bottom;
@mixin margins-top-bottom {
  @for $i from 1 through $stepsMargin {
    .mtb#{$i} {
      margin-bottom: $beginMargin + $intervalMargin * $i;
      margin-top: $beginMargin + $intervalMargin * $i;
    }
  }
}
//top;
@mixin margins-top {
  @for $i from 1 through $stepsMargin {
    .mt#{$i} {
      margin-top: $beginMargin + $intervalMargin * $i;
    }
  }
}
//bottom;
@mixin margins-bottom {
  @for $i from 1 through $stepsMargin {
    .mb#{$i} {
      margin-bottom: $beginMargin + $intervalMargin * $i;
    }
  }
}
//left;
@mixin margins-left {
  @for $i from 1 through $stepsMargin {
    .ml#{$i} {
      margin-left: $beginMargin + $intervalMargin * $i;
    }
  }
}
//bottom;
@mixin margins-right {
  @for $i from 1 through $stepsMargin {
    .mr#{$i} {
      margin-right: $beginMargin + $intervalMargin * $i;
    }
  }
}
//
//
//responsive
//tablet
@mixin margins-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .m#{$i} {
        margin: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .m#{$i}.tablet-m {
        margin: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//left and right;
@mixin margins-left-right-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mlr#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
        margin-right: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .mlr#{$i}.tablet-m {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
        margin-right: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//top and bottom;
@mixin margins-top-bottom-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mtb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
        margin-top: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .mtb#{$i}.tablet-m {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
        margin-top: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//top;
@mixin margins-top-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mt#{$i} {
        margin-top: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .mt#{$i}.tablet-m {
        margin-top: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//bottom;
@mixin margins-bottom-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .mb#{$i}.tablet-m {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//left;
@mixin margins-left-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .ml#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .ml#{$i}.tablet-m {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//bottom;
@mixin margins-right-tablet {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mr#{$i} {
        margin-right: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
    @else {
      .mr#{$i}.tablet-m {
        margin-right: $beginMargin + $intervalMargin * $i * $marginsTabletMultiplyFactor;
      }
    }
  }
}
//smart
@mixin margins-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .m#{$i} {
        margin: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .m#{$i}.desktop-m {
        margin: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//left and right;
@mixin margins-left-right-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mlr#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
        margin-right: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .mlr#{$i}.desktop-m {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
        margin-right: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//top and bottom;
@mixin margins-top-bottom-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mtb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
        margin-top: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .mtb#{$i}.desktop-m {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
        margin-top: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//top;
@mixin margins-top-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mt#{$i} {
        margin-top: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .mt#{$i}.desktop-m {
        margin-top: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//bottom;
@mixin margins-bottom-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mb#{$i} {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .mb#{$i}.desktop-m {
        margin-bottom: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//left;
@mixin margins-left-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .ml#{$i} {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .ml#{$i}.desktop-m {
        margin-left: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//bottom;
@mixin margins-right-desktop {
  @for $i from 1 through $stepsMargin {
    @if $activateAutoResponsiveMargins=="true" {
      .mr#{$i} {
        margin-right: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
    @else {
      .mr#{$i}.desktop-m {
        margin-right: $beginMargin + $intervalMargin * $i * $marginsDesktopMultiplyFactor;
      }
    }
  }
}
//mixins for padding classes
//all four sides
@mixin paddings {
  @for $i from 1 through $stepsPadding {
    .p#{$i} {
      padding: $beginPadding + $intervalPadding * $i;
    }
  }
}
//left and right;
@mixin paddings-left-right {
  @for $i from 1 through $stepsPadding {
    .plr#{$i} {
      padding-left: $beginPadding + $intervalPadding * $i;
      padding-right: $beginPadding + $intervalPadding * $i;
    }
  }
}
//top and bottom;
@mixin paddings-top-bottom {
  @for $i from 1 through $stepsPadding {
    .ptb#{$i} {
      padding-bottom: $beginPadding + $intervalPadding * $i;
      padding-top: $beginPadding + $intervalPadding * $i;
    }
  }
}
//top;
@mixin paddings-top {
  @for $i from 1 through $stepsPadding {
    .pt#{$i} {
      padding-top: $beginPadding + $intervalPadding * $i;
    }
  }
}
//bottom;
@mixin paddings-bottom {
  @for $i from 1 through $stepsPadding {
    .pb#{$i} {
      padding-bottom: $beginPadding + $intervalPadding * $i;
    }
  }
}
//left;
@mixin paddings-left {
  @for $i from 1 through $stepsPadding {
    .pl#{$i} {
      padding-left: $beginPadding + $intervalPadding * $i;
    }
  }
}
//bottom;
@mixin paddings-right {
  @for $i from 1 through $stepsPadding {
    .pr#{$i} {
      padding-right: $beginPadding + $intervalPadding * $i;
    }
  }
}
//
//
//responsive
//tablet
@mixin paddings-tablet {
  @for $i from 1 through $stepsPadding {
    .p#{$i}.tablet-p {
      padding: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//left and right;
@mixin paddings-left-right-tablet {
  @for $i from 1 through $stepsPadding {
    .plr#{$i}.tablet-p {
      padding-left: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
      padding-right: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//top and bottom;
@mixin paddings-top-bottom-tablet {
  @for $i from 1 through $stepsPadding {
    .ptb#{$i}.tablet-p {
      padding-bottom: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
      padding-top: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//top;
@mixin paddings-top-tablet {
  @for $i from 1 through $stepsPadding {
    .pt#{$i}.tablet-p {
      padding-top: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//bottom;
@mixin paddings-bottom-tablet {
  @for $i from 1 through $stepsPadding {
    .pb#{$i}.tablet-p {
      padding-bottom: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//left;
@mixin paddings-left-tablet {
  @for $i from 1 through $stepsPadding {
    .pl#{$i}.tablet-p {
      padding-left: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//bottom;
@mixin paddings-right-tablet {
  @for $i from 1 through $stepsPadding {
    .pr#{$i}.tablet-p {
      padding-right: $beginPadding + $intervalPadding * $i * $paddingsTabletMultiplyFactor;
    }
  }
}
//smart
@mixin paddings-desktop {
  @for $i from 1 through $stepsPadding {
    .p#{$i}.desktop-p {
      padding: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
//left and right;
@mixin paddings-left-right-desktop {
  @for $i from 1 through $stepsPadding {
    .plr#{$i}.desktop-p {
      padding-left: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
      padding-right: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
//top and bottom;
@mixin paddings-top-bottom-desktop {
  @for $i from 1 through $stepsPadding {
    .ptb#{$i}.desktop-p {
      padding-bottom: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
      padding-top: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
//top;
@mixin paddings-top-desktop {
  @for $i from 1 through $stepsPadding {
    .pt#{$i}.desktop-p {
      padding-top: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
//bottom;
@mixin paddings-bottom-desktop {
  @for $i from 1 through $stepsPadding {
    .pb#{$i}.desktop-p {
      padding-bottom: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
//left;
@mixin paddings-left-desktop {
  @for $i from 1 through $stepsPadding {
    .pl#{$i}.desktop-p {
      padding-left: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
//bottom;
@mixin paddings-right-desktop {
  @for $i from 1 through $stepsPadding {
    .pr#{$i}.desktop-p {
      padding-right: $beginPadding + $intervalPadding * $i * $paddingsDesktopMultiplyFactor;
    }
  }
}
@include margins;
@include margins-left-right;
@include margins-top-bottom;
@include margins-top;
@include margins-bottom;
@include margins-left;
@include margins-right;
@include paddings;
@include paddings-left-right;
@include paddings-top-bottom;
@include paddings-top;
@include paddings-bottom;
@include paddings-left;
@include paddings-right;
@media screen and (min-width: $w3) {
  @if $activateResponsiveMargins=="true" {
    @include margins-tablet;
    @include margins-left-right-tablet;
    @include margins-top-bottom-tablet;
    @include margins-top-tablet;
    @include margins-bottom-tablet;
    @include margins-left-tablet;
    @include margins-right-tablet;
  }
  @if $activateResponsivePaddings=="true" {
    @include paddings-tablet;
    @include paddings-left-right-tablet;
    @include paddings-top-bottom-tablet;
    @include paddings-top-tablet;
    @include paddings-bottom-tablet;
    @include paddings-left-tablet;
    @include paddings-right-tablet;
  }
}
@media screen and (min-width: $w5 - 1px) {
  @if $activateResponsiveMargins=="true" {
    @include margins-desktop;
    @include margins-left-right-desktop;
    @include margins-top-bottom-desktop;
    @include margins-top-desktop;
    @include margins-bottom-desktop;
    @include margins-left-desktop;
    @include margins-right-desktop;
  }
  @if $activateResponsivePaddings=="true" {
    @include paddings-desktop;
    @include paddings-left-right-desktop;
    @include paddings-top-bottom-desktop;
    @include paddings-top-desktop;
    @include paddings-bottom-desktop;
    @include paddings-left-desktop;
    @include paddings-right-desktop;
  }
}
