//FLUID CONTAINER
@include generateContainer($containerClassName);
@include generateContainerModifiers($containerMaxWidthsMap, $containerClassName);

//BOXED CONTAINER
@include generateBoxedContainer($boxedContainerBreakpointsMap, $boxedContainerSubtractList, $containerClassName, $boxedContainerModifierName);

//ROW
@include generateRow($rowAlignItems, $rowAlignContent, $rowFlexDirection, $rowFlexWrap, $rowJustifyContent, $rowClassName);

//ROW MODIFIERS
@include generateRowModifiers($rowJustifyCenterAlignItems, $rowJustifyCenterAlignContent, $rowJustifyCenterFlexDirection, $rowJustifyCenterFlexWrap, $rowJustifyCenterJustifyContent, $rowClassName, $rowJustifyCenterModifierName);
@include generateRowModifiers($rowAlignCenterAlignItems, $rowAlignCenterAlignContent, $rowAlignCenterFlexDirection, $rowAlignCenterFlexWrap, $rowAlignCenterJustifyContent, $rowClassName, $rowAlignCenterModifierName);

//COLUMNS
@include generateColumns($columnsBreakpointsMap, $columnsNumber, $columnClassName);

//OFFSETS
@include generateOffsets($columnsBreakpointsMap, $offsetColumnsNumber, $columnClassName, $offsetModifierName);

//NEGATIVE OFFSETS
@include generateNegativeOffsets($columnsBreakpointsMap, $negativeOffsetColumnsNumber, $columnClassName, $negativeOffsetModifierName);

//GUTTERS
@include generateResponsiveGutter($guttersBreakpointsMap, $guttersList, $containerClassName, $rowClassName, $columnClassName, $gutterModifierName);

//responsive gutters classes
@include generateResponsiveGutter($guttersBreakpointsMap, $smallGuttersList, $containerClassName, $rowClassName, $columnClassName, $smallGutterModifierName);

@include generateResponsiveGutter($guttersBreakpointsMap, $largeGuttersList, $containerClassName, $rowClassName, $columnClassName, $largeGutterModifierName);

//reset gutters classes
@include responsiveGutterReset($guttersBreakpointsMap, $containerClassName, $rowClassName, $columnClassName, $resetGutterModifierName);
