//CONTAINER
$containerClassName: ".container" !default;
$containerMaxWidthsMap: (
  mid  : 1200px,
  small: 1000px,
  large: 1400px
)
!default;

//BOXED CONTAINER
$boxedContainerModifierName: "boxed" !default;
$boxedContainerBreakpointsMap: map-remove($breakpoints, w0, w1, w2) !default;
$boxedContainerSubtractList: 16px 50px 120px 180px !default;

//ROWS
/*
Expanation:
$rowClassName -> is the name of the row class
All other variables: css properties of the row
*/
$rowClassName: ".row" !default;
$rowAlignItems: flex-start !default;
$rowAlignContent: flex-start !default;
$rowFlexDirection: row !default;
$rowFlexWrap: wrap !default;
$rowJustifyContent: flex-start !default;

//ROW MODIFIERS
$rowJustifyCenterModifierName: "hcenter" !default;
$rowJustifyCenterAlignItems: "" !default;
$rowJustifyCenterAlignContent: "" !default;
$rowJustifyCenterFlexDirection: "" !default;
$rowJustifyCenterFlexWrap: "" !default;
$rowJustifyCenterJustifyContent: center !default;

//
$rowAlignCenterModifierName: "vcenter" !default;
$rowAlignCenterAlignItems: "" !default;
$rowAlignCenterAlignContent: center !default;
$rowAlignCenterFlexDirection: "" !default;
$rowAlignCenterFlexWrap: "" !default;
$rowAlignCenterJustifyContent: "" !default;

//COLUMNS
$columnClassName: ".col" !default;
$columnsNumber: 24 !default;
$columnsBreakpointsMap: $breakpoints !default;

//OFFSET
$offsetModifierName: "offset" !default;
$offsetColumnsNumber: 24 !default;

//NEGATIVE OFFSET
$negativeOffsetModifierName: "negative-offset" !default;
$negativeOffsetColumnsNumber: 24 !default;

//GUTTERS
$gutterModifierName: "gutter" !default;
$guttersBreakpointsMap: map-remove($breakpoints, w1, w2, w4, w6) !default;
$guttersList: 0.5rem 0.75rem 1rem !default;
$smallGutterModifierName: "gutter-small" !default;
$smallGuttersList: 0.25rem 0.5rem 75rem !default;
$largeGutterModifierName: "gutter-large" !default;
$largeGuttersList: 1rem 1.5rem 2rem !default;

//reset gutter
$resetGutterModifierName: "gutter-reset" !default;