<!doctype html>
<html>

<head>
  <title>test</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../../../style.css" />
</head>

<body>
  <!--BREADCRUMB WITH HEADING -->
  <nav class="breadcrumb" aria-labelledby="breadcrumb__heading--1">
    <h2 class="breadcrumb__heading" id="breadcrumb__heading--1">You are here:</h2>
    <ol class="breadcrumb__trail" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#" class="breadcrumb__link" itemprop="item">UI components</a>
        <meta itemprop="position" content="1" />
      </li>
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#" class="breadcrumb__link" itemprop="item">UI components</a>
        <meta itemprop="position" content="2" />
      </li>
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb__link breadcrumb__link_current" aria-current="page" itemprop="item">Breadcrumb</a>
        <meta itemprop="position" content="3" />
      </li>
    </ol>
  </nav>

  <!--BREADCRUMB WITHOUT HEADING -->
  <nav class="breadcrumb" aria-label="You are here">
    <ol class="breadcrumb__trail" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#" class="breadcrumb__link" itemprop="item">UI components</a>
        <meta itemprop="position" content="1" />
      </li>
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="#" class="breadcrumb__link" itemprop="item">UI components</a>
        <meta itemprop="position" content="2" />
      </li>
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb__link breadcrumb__link_current" aria-current="page" itemprop="item">Breadcrumb</a>
        <meta itemprop="position" content="3" />
      </li>
    </ol>
  </nav>


</body>

</html>
