//-----------------------
// HTML and BODY
//-----------------------
$defaultFontSize: 16px !default;
//-----------------------
// FONT FAMILIES
//-----------------------
$defaultFontFamily: 'sans-serif' !default;
$fontFamilyHeadings: 'sans-serif' !default;
$fontFamilyMonospace: 'sans-serif' !default;
$fontFamilyForms: $defaultFontFamily !default;
