@mixin border($borderMap) {
  @if map-get($borderMap, borderColor) != "" {
    border-color: map-get($borderMap, borderColor);
  }

  @if map-get($borderMap, borderRadius) != "" {
    border-radius: map-get($borderMap, borderRadius);
  }

  @if map-get($borderMap, borderStyle) != "" {
    border-style: map-get($borderMap, borderStyle);
  }

  @if map-get($borderMap, borderWidth) != "" {
    border-width: map-get($borderMap, borderWidth);
  }
}
