@mixin font($fontMap) {
  @if map-get($fontMap, fontFamily) != skip {
    font-size: map-get($fontMap, fontFamily);
  }

  @if map-get($fontMap, fontSize) != skip {
    font-size: map-get($fontMap, fontSize);
  }

  @if map-get($fontMap, fontStyle) != skip {
    font-style: map-get($fontMap, fontStyle);
  }

  @if map-get($fontMap, fontWeight) != skip {
    font-weight: map-get($fontMap, fontWeight);
  }
}
