@mixin text($textMap) {
  @if map-get($textMap, color) != skip {
    color: map-get($textMap, color);
  }

  @if map-get($textMap, lineHeight) != skip {
    line-height: map-get($textMap, lineHeight);
  }

  @if map-get($textMap, textDecoration) != skip {
    text-decoration: map-get($textMap, textDecoration);
  }

  @if map-get($textMap, textTransform) != skip {
    text-transform: map-get($textMap, textTransform);
  }

  @if map-get($textMap, verticalAlign) != skip {
    vertical-align: map-get($textMap, verticalAlign);
  }
}
