@mixin text($color, $textDecoration, $textTransform, $verticalAlign) {
  @if $color != skip {
    color: $color;
  }

  @if $lineHeight != skip {
    line-height: $lineHeight;
  }

  @if $textDecoration != skip {
    text-decoration: $textDecoration;
  }

  @if $textTransform != skip {
    text-transform: $textTransform;
  }

  @if $verticalAlign != skip {
    vertical-align: $verticalAlign;
  }
}
