@mixin typography($lineHeight, $verticalAlign, $textIndent, $wordSpacing, $letterSpacing) {
  @if $letterSpacing != skip {
    letter-spacing: $letterSpacing;
  }

  @if $lineHeight != skip {
    line-height: $lineHeight;
  }

  @if $textIndent != skip {
    text-indent: $textIndent;
  }

  @if $wordSpacing != skip {
    word-spacing: $wordSpacing;
  }

  @if $verticalAlign != skip {
    vertical-align: $verticalAlign;
  }
}
