//=================
//TYPOGRAPHY
//=================


//
//-----------
//FORMS
$inputElementsPaddingTopBottom: 0.5rem;
$inputElementsPaddingLeftRight: 0.5rem; 
//Addon
$stepsAddonWidth: 10;
$intervalAddonWidth: 1rem;
$firstAddonWidth: 1;
$extraPaddingAddonInput: 0; 



//=============================
//RESPONSIVE MULTI COLUMNS LAYOUT
//=============================
$columnGap: 1rem !default; //Use rem only
$columWidth: auto !default;
$columnRuleType: solid !default;
$columnRuleWidth: 0.2rem !default;
$columnRuleColor: #000 !default;