//-------------------------
//GENERATE CONTAINER
//-------------------------
@mixin generateContainer($containerClassName) {
  #{$containerClassName} {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100;
  }
}

@mixin generateContainerModifiers($maxWidthsMap, $containerClassName) {
  @each $key, $value in $maxWidthsMap {
    #{$containerClassName}#{$modifierSeparator}#{$key} {
      max-width: $value;
    }
  }
}

@mixin generateBoxedContainer($breakpointsMap, $subtractList, $containerClassName, $boxedContainerModifierName) {
  #{$containerClassName}#{$modifierSeparator}#{$boxedContainerModifierName} {
    margin-left: auto;
    margin-right: auto;
    width: 100;
  }

  @if $subtractList != skip {
    $i: 1;

    @each $key, $value in $breakpointsMap {
      @media screen and (min-width: $value) {
        #{$containerClassName}#{$modifierSeparator}#{$boxedContainerModifierName} {
          width: $value - nth($subtractList, $i);
        }
      }

      $i: $i + 1;
    }
  }
}
