<!doctype html>
<html>

<head>
  <title>test</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../style.css" />
</head>

<body>

  <!--CARD-->
  <section class="card">
    <header class="card__box">
      <h2><a href="#">text text</a></h2>
    </header>
    <div class="card__box">
      <a href="#" rel="nofollow">
        <img src="#" class="card__img" alt="Go to this aweseome page" />
      </a>
    </div>
    <div class="card__box">
      <p>Card box accepts any text and image content</p>
      <button type="button">Click me </button>
    </div>
  </section>

  <!--CARD BG IMG-->
  <section class="card">
    <header class="card__box">
      <h2><a href="#">text text</a></h2>
    </header>
    <div class="card__box">
      <div class="card__img card__img_bg" style="background-image: url(path/to/img.png)"></div>
    </div>
    <div class="card__box">
      <p>Card box accepts any text and image content</p>
      <button type="button">Click me </button>
    </div>
  </section>


  <!-- MODIFIERS:
  card__box_overlap-top
  card__box_overlap-bottom
  card__box_head
  card__box_foot
-->
</body>

</html>
