//-------------------------------
//MARGINS SETTINGS
//-------------------------------
$stepsMargin: 10 !default;
$intervalMargin: 0.25rem !default;
$firstMargin: 0 !default;
$marginsTabletMultiplyFactor: 0.25 !default;
$marginsDesktopMultiplyFactor: 0.5 !default;
//-------------------------------
//PADDINGS SETTINGS
//-------------------------------
$stepsPadding: 10 !default;
$intervalPadding: 0.25rem !default;
$firstPadding: 0 !default;
$paddingsTabletMultiplyFactor: 0.25 !default;
$paddingsDesktopMultiplyFactor: 0.5 !default;