//---------------------------
//DEFINE MIXINS
//---------------------------
@mixin grid {
  @for $i from 1 through $colNumber {
    %c_#{$i} {
      width: 100% / $colNumber * $i;
      @include flex(0, 0, 100% / $colNumber * $i);
    }
  }
}
@mixin grid-2 {
  @for $i from 1 through $colNumber {
    %c_#{$i}-2 {
      width: 100% / $colNumber * $i;
      @include flex(0, 0, 100% / $colNumber * $i);
    }
  }
}
@mixin grid-3 {
  @for $i from 1 through $colNumber {
    %c_#{$i}-3 {
      width: 100% / $colNumber * $i;
      @include flex(0, 0, 100% / $colNumber * $i);
    }
  }
}
@mixin grid-4 {
  @for $i from 1 through $colNumber {
    %c_#{$i}-4 {
      width: 100% / $colNumber * $i;
      @include flex(0, 0, 100% / $colNumber * $i);
    }
  }
}
@mixin grid-5 {
  @for $i from 1 through $colNumber {
    %c_#{$i}-5 {
      width: 100% / $colNumber * $i;
      @include flex(0, 0, 100% / $colNumber * $i);
    }
  }
}
@mixin grid-6 {
  @for $i from 1 through $colNumber {
    %c_#{$i}-6 {
      width: 100% / $colNumber * $i;
      @include flex(0, 0, 100% / $colNumber * $i);
    }
  }
}
//Reverse row mixin
@mixin row_reverse() {
  > * {
    float: right !important; // overrrride float: left
  }
  @include flex-direction (row-reverse);
}
//-------------------------------
//INCLUDE ALL GRID PLACEHOLDERS IN CSS
//------------------------------
//Clearfix
//apply bootstrap clearfix to row to prevent uncorrect alignement and reflow
//Enable flexbox content for row
%row {
  @extend %clearfix;
  @extend %display-flex;
  @extend %flex-direction-row;
  @extend %flex-wrap-wrap;
  @extend %justify-content-flex-start;
  @extend %align-items-stretch;
  @extend %align-content-flex-start;
}

//define reverse row placeholders
%row_reverse {
  @include row_reverse();
}
@media screen and (max-width: $w3min) {
  %row_reverse-smart {
    @include row_reverse();
  }
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %row_reverse-tablet {
    @include row_reverse();
  }
}
@media screen and (min-width: $w5) {
  %row_reverse-desktop {
    @include row_reverse();
  }
}
//-------------------------------
//COLUMN ELEMENTS
//-------------------------------
%c {
  @extend %float-left; //Float all column elements to generate responsive grid
  @extend %width-100; //Default width of column elements
}
//-------------------------------
//GRID ELEMENTS WIDTHS AND OFFSETS
//-------------------------------
//Column elements responsive width classes
//First set of classes without breakpoint index. Applies to every screen.
@include grid;
@media screen and (min-width: $w2) {
  @include grid-2;
}
@media screen and (min-width: $w3) {
  @include grid-3;
}
@media screen and (min-width: $w4) {
  @include grid-4;
}
@media screen and (min-width: $w5) {
  @include grid-5;
}
@media screen and (min-width: $w6) {
  @include grid-6;
}
