//-------------------------------
//DEFINE MIXINS
//------------------------------
@mixin grid {
  @for $i from 1 through $colNumber {
    .c#{$i} {
      -webkit-flex-basis: 100 / $colNumber * $i;
      flex-basis: 100% / $colNumber * $i;
    }
  }
}
@mixin grid-2 {
  @for $i from 1 through $colNumber {
    .c#{$i}-2 {
      -webkit-flex-basis: 100 / $colNumber * $i;
      flex-basis: 100% / $colNumber * $i;
    }
  }
}
@mixin grid-3 {
  @for $i from 1 through $colNumber {
    .c#{$i}-3 {
      -webkit-flex-basis: 100 / $colNumber * $i;
      flex-basis: 100% / $colNumber * $i;
    }
  }
}
@mixin grid-4 {
  @for $i from 1 through $colNumber {
    .c#{$i}-4 {
      -webkit-flex-basis: 100 / $colNumber * $i;
      flex-basis: 100% / $colNumber * $i;
    }
  }
}
@mixin grid-5 {
  @for $i from 1 through $colNumber {
    .c#{$i}-5 {
      -webkit-flex-basis: 100 / $colNumber * $i;
      flex-basis: 100% / $colNumber * $i;
    }
  }
}
@mixin grid-6 {
  @for $i from 1 through $colNumber {
    .c#{$i}-6 {
      -webkit-flex-basis: 100 / $colNumber * $i;
      flex-basis: 100% / $colNumber * $i;
    }
  }
}
@mixin offset {
  @for $i from 1 through $colNumber {
    .o#{$i} {
      margin-left: 100 / $colNumber * $i;
    }
  }
}
@mixin offset-2 {
  @for $i from 1 through $colNumber {
    .o#{$i}-2 {
      margin-left: 100 / $colNumber * $i;
    }
  }
}
@mixin offset-3 {
  @for $i from 1 through $colNumber {
    .o#{$i}-3 {
      margin-left: 100 / $colNumber * $i;
    }
  }
}
@mixin offset-4 {
  @for $i from 1 through $colNumber {
    .o#{$i}-4 {
      margin-left: 100 / $colNumber * $i;
    }
  }
}
@mixin offset-5 {
  @for $i from 1 through $colNumber {
    .o#{$i}-5 {
      margin-left: 100 / $colNumber * $i;
    }
  }
}
@mixin offset-6 {
  @for $i from 1 through $colNumber {
    .o#{$i}-6 {
      margin-left: 100 / $colNumber * $i;
    }
  }
}
//-------------------------------
//INCLUDE ALL GRID CLASSES IN CSS
//------------------------------
.cont {
  @extend %cont;
}
.flex-cont {
  @extend %flex-cont;
}
.row {
  @extend %row;
}
.c {
  @extend %c;
}
@include grid;
@include offset;
@media screen and (min-width: $w2) {
  @include grid-2;
  @include offset-2;
}
@media screen and (min-width: $w3) {
  @include grid-3;
  @include offset-3;
}
@media screen and (min-width: $w4) {
  @include grid-4;
  @include offset-4;
}
@media screen and (min-width: $w5) {
  @include grid-5;
  @include offset-5;
}
@media screen and (min-width: $w6) {
  @include grid-6;
  @include offset-6;
}
