//Set all elements of the grid to border-box
//to prevent alignement problems when applying borders
%cont,
%flex-cont,
%row,
%c {
  @extend %box-sizing-border-box;
}
//Set min-width of flex-cont to 100
%flex-cont {
  @extend %min-width-100;
}
//Body should not scale for viewports smaller than $w0
//Prevent horizontal scrolling on mobile devices
body {
  min-width: $w0;
  @extend %overflow-y-hidden;
}
//Set margin auto to container to center it in the viewport
%cont {
  @extend %margin-auto;
}
//----------------------------------
//GUTTER PLACEHOLDERS
//----------------------------------
%cont--gutter,
%flex-cont--gutter,
%c {
  padding-left: $gutter;
  padding-right: $gutter;
}
%row--gutter {
  margin-left: -($gutter);
  margin-right: -($gutter);
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont--gutter,
  %flex-cont--gutter,
  %c--gutter {
    padding-left: $tabletGutter;
    padding-right: $tabletGutter;
  }
  %row--gutter {
    margin-left: -($tabletGutter);
    margin-right: -($tabletGutter);
  }
}
@media screen and (min-width: $w5) {
  %cont--gutter,
  %flex-cont--gutter,
  %c--gutter {
    padding-left: $desktopGutter;
    padding-right: $desktopGutter;
  }
  %row--gutter {
    margin-left: -($desktopGutter);
    margin-right: -($desktopGutter);
  }
}
//----------------------------------
//SMALL GUTTER PLACEHOLDERS
//----------------------------------
%cont--gutter-small,
%flex-cont--gutter-small,
%c--gutter-small {
  padding-left: $gutterSmall;
  padding-right: $gutterSmall;
}
%row--gutter-small {
  margin-left: -($gutterSmall);
  margin-right: -($gutterSmall);
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont--gutter-small,
  %flex-cont--gutter-small,
  %c--gutter-small {
    padding-left: $tabletGutterSmall;
    padding-right: $tabletGutterSmall;
  }
  %row--gutter-small {
    margin-left: -($tabletGutterSmall);
    margin-right: -($tabletGutterSmall);
  }
}
@media screen and (min-width: $w5) {
  %cont--gutter-small,
  %flex-cont--gutter-small,
  %c--small {
    padding-left: $desktopGutterSmall;
    padding-right: $desktopGutterSmall;
  }
  %row--gutter-small {
    margin-left: -($desktopGutterSmall);
    margin-right: -($desktopGutterSmall);
  }
}
//----------------------------------
//BIG GUTTER PLACEHOLDERS
//----------------------------------
%cont--gutter-big,
%flex-cont--gutter-big,
%c--gutter-big {
  padding-left: $gutterBig;
  padding-right: $gutterBig;
}
%row--gutter-big {
  margin-left: -($gutterBig);
  margin-right: -($gutterBig);
}
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont--gutter-big,
  %flex-cont--gutter-big,
  %c--gutter-big {
    padding-left: $tabletGutterBig;
    padding-right: $tabletGutterBig;
  }
  %row--gutter-big {
    margin-left: -($tabletGutterBig);
    margin-right: -($tabletGutterBig);
  }
}
@media screen and (min-width: $w5) {
  %cont--gutter-big,
  %flex-cont--gutter-big,
  %c--gutter-big {
    padding-left: $desktopGutterBig;
    padding-right: $desktopGutterBig;
  }
  %row--gutter-big {
    margin-left: -($desktopGutterBig);
    margin-right: -($desktopGutterBig);
  }
}
//----------------------------------
//CONTAINER WIDTHS
//----------------------------------
%cont {
  width: 100%;
}
//tablet
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont {
    width: $contTabletWidth;
  }
}
//desktop
@media screen and (min-width: $w5) {
  %cont {
    width: $contDesktopWidth;
  }
}
//tablet big
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont--big {
    width: $contTabletWidthBig;
  }
}
//desktop big
@media screen and (min-width: $w5) {
  %cont--big {
    width: $contDesktopWidthBig;
  }
}
//tablet small
@media screen and (min-width: $w3) and (max-width: $w5min) {
  %cont--small {
    width: $contTabletWidthSmall;
  }
}
//desktop
@media screen and (min-width: $w5) {
  %cont--small {
    width: $contDesktopWidthSmall;
  }
}
