@mixin offset {
  @for $i from 0 through $colNumber {
    %o_#{$i} {
      margin-left: 100% / $colNumber * $i;
    }
  }
}
@mixin offset-2 {
  @for $i from 0 through $colNumber {
    %o_#{$i}-2 {
      margin-left: 100% / $colNumber * $i;
    }
  }
}
@mixin offset-3 {
  @for $i from 0 through $colNumber {
    %o_#{$i}-3 {
      margin-left: 100% / $colNumber * $i;
    }
  }
}
@mixin offset-4 {
  @for $i from 0 through $colNumber {
    %o_#{$i}-4 {
      margin-left: 100% / $colNumber * $i;
    }
  }
}
@mixin offset-5 {
  @for $i from 0 through $colNumber {
    %o_#{$i}-5 {
      margin-left: 100% / $colNumber * $i;
    }
  }
}
@mixin offset-6 {
  @for $i from 0 through $colNumber {
    %o_#{$i}-6 {
      margin-left: 100% / $colNumber * $i;
    }
  }
}
@include offset;
@media screen and (min-width: $w2) {
  @include offset-2;
}
@media screen and (min-width: $w3) {
  @include offset-3;
}
@media screen and (min-width: $w4) {
  @include offset-4;
}
@media screen and (min-width: $w5) {
  @include offset-5;
}
@media screen and (min-width: $w6) {
  @include offset-6;
}
