//======================
//GRID SYSTEMS
//======================
$colNumber: 24 !default; //Number of columns

//-----------------
//CONTAINERS
//-----------------
//default container
$contTabletWidth: $w3 - 60px;
$contDesktopWidth: $w5 - 120px;
//small container
$contTabletWidthSmall: $w3 - 90px;
$contDesktopWidthSmall: $w5 - 180px;
//big container
$contTabletWidthBig: $w3 - 30px;
$contDesktopWidthBig: $w5 - 60px;

//-----------------
//GUTTERS
//-----------------
//default gutters
$gutter: 0.5rem !default; //default gutter
$tabletGutter: 0.75rem !default; //gutter for tablets
$desktopGutter: 1rem !default; //gutter for desktop screens
//small gutters
$gutterSmall: 0.25rem !default;
$tabletGutterSmall: 0.5rem !default;
$desktopGutterSmall: 0.75rem !default;
//big gutter
$gutterBig: 1rem !default;
$tabletGutterBig: 1.25rem !default;
$desktopGutterBig: 1.5rem !default;