@mixin generateCssPlaceholders ($breakpoint, $namespace) {
  %#{$breakpoint}#{$namespace}align-content-stretch {
    align-content: stretch;
  }
  %#{$breakpoint}#{$namespace}align-content-center {
    align-content: center;
  }
  %#{$breakpoint}#{$namespace}align-content-flex-start {
    align-content: flex-start;
  }
  %#{$breakpoint}#{$namespace}align-content-flex-end {
    align-content: flex-end;
  }
  %#{$breakpoint}#{$namespace}align-content-space-between {
    align-content: space-between;
  }
  %#{$breakpoint}#{$namespace}align-content-space-around {
    align-content: space-around;
  }
  %#{$breakpoint}#{$namespace}align-items-stretch {
    align-items: stretch;
  }
  %#{$breakpoint}#{$namespace}align-items-center {
    align-items: center;
  }
  %#{$breakpoint}#{$namespace}align-items-flex-start {
    align-items: flex-start;
  }
  %#{$breakpoint}#{$namespace}align-items-flex-end {
    align-items: flex-end;
  }
  %#{$breakpoint}#{$namespace}align-items-baseline {
    align-items: baseline;
  }
  %#{$breakpoint}#{$namespace}align-self-auto {
    align-self: auto;
  }
  %#{$breakpoint}#{$namespace}align-self-stretch {
    align-self: stretch;
  }
  %#{$breakpoint}#{$namespace}align-self-center {
    align-self: center;
  }
  %#{$breakpoint}#{$namespace}align-self-flex-start {
    align-self: flex-start;
  }
  %#{$breakpoint}#{$namespace}align-self-flex-end {
    align-self: flex-end;
  }
  %#{$breakpoint}#{$namespace}align-self-baseline {
    align-self: baseline;
  }
  %#{$breakpoint}#{$namespace}animation-fill-mode-none {
    animation-fill-mode: none;
  }
  %#{$breakpoint}#{$namespace}animation-fill-mode-none {
    animation-fill-mode: none;
  }
  %#{$breakpoint}#{$namespace}animation-fill-mode-forwards {
    animation-fill-mode: forwards;
  }
  %#{$breakpoint}#{$namespace}animation-fill-mode-both {
    animation-fill-mode: both;
  }
  %#{$breakpoint}#{$namespace}animation-iteration-count-infinite {
    animation-iteration-count: infinite;
  }
  %#{$breakpoint}#{$namespace}animation-play-state-paused {
    animation-play-state: paused;
  }
  %#{$breakpoint}#{$namespace}animation-play-state-running {
    animation-play-state: running;
  }
  %#{$breakpoint}#{$namespace}appearance-none {
    appearance: none;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-linear {
    animation-timing-function: linear;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-ease {
    animation-timing-function: ease;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-ease-in {
    animation-timing-function: ease-in;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-ease-out {
    animation-timing-function: ease-out;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-ease-in-out {
    animation-timing-function: ease-in-out;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-step-start {
    animation-timing-function: step-start;
  }
  %#{$breakpoint}#{$namespace}animation-timing-function-step-end {
    animation-timing-function: step-end;
  }
  %#{$breakpoint}#{$namespace}backface-visibility-visible {
    backface-visibility: visible;
  }
  %#{$breakpoint}#{$namespace}backface-visibility-hidden {
    backface-visibility: hidden;
  }
  %#{$breakpoint}#{$namespace}background-attachment-scroll {
    background-attachment: scroll;
  }
  %#{$breakpoint}#{$namespace}background-attachment-fixed {
    background-attachment: fixed;
  }
  %#{$breakpoint}#{$namespace}background-attachment-local {
    background-attachment: local;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-normal {
    background-blend-mode: normal;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-multiply {
    background-blend-mode: multiply;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-screen {
    background-blend-mode: screen;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-overlay {
    background-blend-mode: overlay;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-darken {
    background-blend-mode: darken;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-lighten {
    background-blend-mode: lighten;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-color-dodge {
    background-blend-mode: dodge;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-saturation {
    background-blend-mode: saturation;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-color {
    background-blend-mode: color;
  }
  %#{$breakpoint}#{$namespace}background-blend-mode-luminosity {
    background-blend-mode: luminosity;
  }
  %#{$breakpoint}#{$namespace}background-clip-border-box {
    background-clip: border-box;
  }
  %#{$breakpoint}#{$namespace}background-clip-padding-box {
    background-clip: padding-box;
  }
  %#{$breakpoint}#{$namespace}background-clip-content-box {
    background-clip: content-box;
  }
  %#{$breakpoint}#{$namespace}background-color-none {
    background-color: none;
  }
  %#{$breakpoint}#{$namespace}background-color-transparent {
    background-color: transparent;
  }
  %#{$breakpoint}#{$namespace}background-color-white {
    background-color: #fff;
  }
  %#{$breakpoint}#{$namespace}background-color-black {
    background-color: #000;
  }
  %#{$breakpoint}#{$namespace}background-origin-padding-box {
    background-origin: padding-box;
  }
  %#{$breakpoint}#{$namespace}background-origin-border-box {
    background-origin: border-box;
  }
  %#{$breakpoint}#{$namespace}background-origin-content-box {
    background-origin: content-box;
  }
  %#{$breakpoint}#{$namespace}background-position-left-top {
    background-position: left top;
  }
  %#{$breakpoint}#{$namespace}background-position-left-center {
    background-position: left center;
  }
  %#{$breakpoint}#{$namespace}background-position-left-bottom {
    background-position: left bottom;
  }
  %#{$breakpoint}#{$namespace}background-position-right-top {
    background-position: right top;
  }
  %#{$breakpoint}#{$namespace}background-position-right-center {
    background-position: right center;
  }
  %#{$breakpoint}#{$namespace}background-position-right-bottom {
    background-position: right bottom;
  }
  %#{$breakpoint}#{$namespace}background-position-center-top {
    background-position: center top;
  }
  %#{$breakpoint}#{$namespace}background-position-center-center {
    background-position: center center;
  }
  %#{$breakpoint}#{$namespace}background-position-center-bottom {
    background-position: center bottom;
  }
  %#{$breakpoint}#{$namespace}background-repeat-repeat {
    background-repeat: repeat;
  }
  %#{$breakpoint}#{$namespace}background-repeat-repeat-x {
    background-repeat: repeat-x;
  }
  %#{$breakpoint}#{$namespace}background-repeat-repeat-y {
    background-repeat: repeat-y;
  }
  %#{$breakpoint}#{$namespace}background-repeat-no-repeat {
    background-repeat: no-repeat;
  }
  %#{$breakpoint}#{$namespace}background-size-auto {
    background-size: auto;
  }
  %#{$breakpoint}#{$namespace}background-size-cover {
    background-size: cover;
  }
  %#{$breakpoint}#{$namespace}background-size-contain {
    background-size: contain;
  }
  %#{$breakpoint}#{$namespace}border-none {
    border: none;
  }
  %#{$breakpoint}#{$namespace}border-0 {
    border: 0;
  }
  %#{$breakpoint}#{$namespace}border-bottom-none {
    border-bottom: none;
  }
  %#{$breakpoint}#{$namespace}border-bottom-0 {
    border-bottom: 0;
  }
  %#{$breakpoint}#{$namespace}border-bottom-color-transparent {
    border-bottom-color: transparent;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-none {
    border-bottom-style: none;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-hidden {
    border-bottom-style: hidden;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-dotted {
    border-bottom-style: hidden;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-dashed {
    border-bottom-style: dashed;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-solid {
    border-bottom-style: solid;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-double {
    border-bottom-style: double;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-groove {
    border-bottom-style: groove;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-ridge {
    border-bottom-style: ridge;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-inset {
    border-bottom-style: inset;
  }
  %#{$breakpoint}#{$namespace}border-bottom-style-outset {
    border-bottom-style: outset;
  }
  %#{$breakpoint}#{$namespace}border-collapse-separate {
    border-collapse: separate;
  }
  %#{$breakpoint}#{$namespace}border-collapse-collapse {
    border-collapse: collapse;
  }
  %#{$breakpoint}#{$namespace}border-image-repeat-stretch {
    border-image-repeat: stretch;
  }
  %#{$breakpoint}#{$namespace}border-image-repeat-repeat {
    border-image-repeat: repeat
  }
  %#{$breakpoint}#{$namespace}border-image-repeat-round {
    border-image-repeat: round;
  }
  %#{$breakpoint}#{$namespace}border-image-slice-0 {
    border-image-slice: 0;
  }
  %#{$breakpoint}#{$namespace}border-image-slice-100 {
    border-image-slice: 100%;
  }
  %#{$breakpoint}#{$namespace}border-image-slice-fill {
    border-image-slice: fill;
  }
  %#{$breakpoint}#{$namespace}border-image-source-none {
    border-image-source: none;
  }
  %#{$breakpoint}#{$namespace}border-image-width-0 {
    border-image-width: 0;
  }
  %#{$breakpoint}#{$namespace}border-image-width-100 {
    border-image-width: 100%;
  }
  %#{$breakpoint}#{$namespace}border-image-width-auto {
    border-image-width: auto;
  }
  %#{$breakpoint}#{$namespace}border-left-none {
    border-left: none;
  }
  %#{$breakpoint}#{$namespace}border-left-0 {
    border-left: 0;
  }
  %#{$breakpoint}#{$namespace}border-left-color-transparent {
    border-left-color: transparent;
  }
  %#{$breakpoint}#{$namespace}border-left-style-none {
    border-left-style: none;
  }
  %#{$breakpoint}#{$namespace}border-left-style-hidden {
    border-left-style: hidden;
  }
  %#{$breakpoint}#{$namespace}border-left-style-dotted {
    border-left-style: dotted;
  }
  %#{$breakpoint}#{$namespace}border-left-style-dashed {
    border-left-style: dashed;
  }
  %#{$breakpoint}#{$namespace}border-left-style-solid {
    border-left-style: solid;
  }
  %#{$breakpoint}#{$namespace}border-left-style-double {
    border-left-style: double;
  }
  %#{$breakpoint}#{$namespace}border-left-style-groove {
    border-left-style: groove;
  }
  %#{$breakpoint}#{$namespace}border-left-style-ridge {
    border-left-style: ridge;
  }
  %#{$breakpoint}#{$namespace}border-left-style-inset {
    border-left-style: inset;
  }
  %#{$breakpoint}#{$namespace}border-left-style-outset {
    border-left-style: outset;
  }
  %#{$breakpoint}#{$namespace}border-radius-100 {
    border-radius: 100%;
  }
  %#{$breakpoint}#{$namespace}border-radius-0 {
    border-radius: 0;
  }
  %#{$breakpoint}#{$namespace}border-right-none {
    border-right: none;
  }
  %#{$breakpoint}#{$namespace}border-right-0 {
    border-right: 0;
  }
  %#{$breakpoint}#{$namespace}border-right-color-white {
    border-right-color: #fff;
  }
  %#{$breakpoint}#{$namespace}border-right-color-black {
    border-right-color: #000;
  }
  %#{$breakpoint}#{$namespace}border-right-style-none {
    border-right-style: none;
  }
  %#{$breakpoint}#{$namespace}border-right-style-hidden {
    border-right-style: hidden;
  }
  %#{$breakpoint}#{$namespace}border-right-style-dotted {
    border-right-style: dotted;
  }
  %#{$breakpoint}#{$namespace}border-right-style-dashed {
    border-right-style: dashed;
  }
  %#{$breakpoint}#{$namespace}border-right-style-solid {
    border-right-style: solid;
  }
  %#{$breakpoint}#{$namespace}border-right-style-double {
    border-right-style: double;
  }
  %#{$breakpoint}#{$namespace}border-right-style-groove {
    border-right-style: groove;
  }
  %#{$breakpoint}#{$namespace}border-right-style-ridge {
    border-right-style: ridge;
  }
  %#{$breakpoint}#{$namespace}border-right-style-inset {
    border-right-style: inset;
  }
  %#{$breakpoint}#{$namespace}border-right-style-outset {
    border-right-style: outset;
  }
  %#{$breakpoint}#{$namespace}border-style-none {
    border-style: none;
  }
  %#{$breakpoint}#{$namespace}border-style-hidden {
    border-style: hidden;
  }
  %#{$breakpoint}#{$namespace}border-style-dotted {
    border-style: dotted;
  }
  %#{$breakpoint}#{$namespace}border-style-dashed {
    border-style: dashed;
  }
  %#{$breakpoint}#{$namespace}border-style-solid {
    border-style: solid;
  }
  %#{$breakpoint}#{$namespace}border-style-double {
    border-style: double;
  }
  %#{$breakpoint}#{$namespace}border-style-groove {
    border-style: groove;
  }
  %#{$breakpoint}#{$namespace}border-style-ridge {
    border-style: ridge;
  }
  %#{$breakpoint}#{$namespace}border-style-inset {
    border-style: inset;
  }
  %#{$breakpoint}#{$namespace}border-style-outset {
    border-style: outset;
  }
  %#{$breakpoint}#{$namespace}border-top-none {
    border-top: none;
  }
  %#{$breakpoint}#{$namespace}border-top-0 {
    border-top: 0;
  }
  %#{$breakpoint}#{$namespace}border-top-color-white {
    border-top-color: #fff;
  }
  %#{$breakpoint}#{$namespace}border-top-color-black {
    border-top-color: #000;
  }
  %#{$breakpoint}#{$namespace}border-top-style-none {
    border-top-style: none;
  }
  %#{$breakpoint}#{$namespace}border-top-style-hidden {
    border-top-style: hidden;
  }
  %#{$breakpoint}#{$namespace}border-top-style-dotted {
    border-top-style: dotted;
  }
  %#{$breakpoint}#{$namespace}border-top-style-dashed {
    border-top-style: dashed;
  }
  %#{$breakpoint}#{$namespace}border-top-style-solid {
    border-top-style: solid;
  }
  %#{$breakpoint}#{$namespace}border-top-style-double {
    border-top-style: double;
  }
  %#{$breakpoint}#{$namespace}border-top-style-groove {
    border-top-style: groove;
  }
  %#{$breakpoint}#{$namespace}border-top-style-ridge {
    border-top-style: ridge;
  }
  %#{$breakpoint}#{$namespace}border-top-style-inset {
    border-top-style: inset;
  }
  %#{$breakpoint}#{$namespace}border-top-style-outset {
    border-top-style: outset;
  }
  %#{$breakpoint}#{$namespace}bottom-auto {
    bottom: auto;
  }
  %#{$breakpoint}#{$namespace}bottom-0 {
    bottom: 0;
  }
  %#{$breakpoint}#{$namespace}box-shadow-none {
    box-shadow: none;
  }
  %#{$breakpoint}#{$namespace}box-sizing-content-box {
    box-sizing: content-box;
  }
  %#{$breakpoint}#{$namespace}box-sizing-border-box {
    box-sizing: border-box;
  }
  %#{$breakpoint}#{$namespace}caption-side-top {
    caption-side: top;
  }
  %#{$breakpoint}#{$namespace}caption-side-bottom {
    caption-side: bottom;
  }
  %#{$breakpoint}#{$namespace}clear-none {
    clear: none;
  }
  %#{$breakpoint}#{$namespace}clear-left {
    clear: left;
  }
  %#{$breakpoint}#{$namespace}clear-right {
    clear: right;
  }
  %#{$breakpoint}#{$namespace}clear-both {
    clear: both;
  }
  %#{$breakpoint}#{$namespace}clip-auto {
    clip: auto;
  }
  %#{$breakpoint}#{$namespace}color-white {
    color: #fff;
  }
  %#{$breakpoint}#{$namespace}color-black {
    color: #000;
  }
  %#{$breakpoint}#{$namespace}column-count-auto {
    column-count: auto;
  }
  %#{$breakpoint}#{$namespace}column-fill-auto {
    column-fill: auto;
  }
  %#{$breakpoint}#{$namespace}column-fill-balance {
    column-fill: balance;
  }
  %#{$breakpoint}#{$namespace}column-gap-normal {
    column-gap: normal;
  }
  %#{$breakpoint}#{$namespace}colum-gap-0 {
    column-gap: 0;
  }
  %#{$breakpoint}#{$namespace}column-rule-color-white {
    column-rule-color: #fff;
  }
  %#{$breakpoint}#{$namespace}column-rule-color-black {
    column-rule-color: #000;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-none {
    column-rule-style: none;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-hidden {
    column-rule-style: hidden;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-dotted {
    column-rule-style: dotted;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-dashed {
    column-rule-style: dashed;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-solid {
    column-rule-style: solid;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-double {
    column-rule-style: double;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-groove {
    column-rule-style: groove;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-ridge {
    column-rule-style: ridge;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-inset {
    column-rule-style: inset;
  }
  %#{$breakpoint}#{$namespace}column-rule-style-outset {
    column-rule-style: outset;
  }
  %#{$breakpoint}#{$namespace}column-span-1 {
    column-span: 1;
  }
  %#{$breakpoint}#{$namespace}column-span-all {
    column-span: all;
  }
  %#{$breakpoint}#{$namespace}column-width-auto {
    column-width: auto;
  }
  %#{$breakpoint}#{$namespace}columns-auto-auto {
    columns: auto;
  }
  %#{$breakpoint}#{$namespace}content {
    content: "";
  }
  %#{$breakpoint}#{$namespace}content-none {
    content: none;
  }
  %#{$breakpoint}#{$namespace}content-counter {
    content: counter;
  }
  %#{$breakpoint}#{$namespace}content-open-quote {
    content: open-quote;
  }
  %#{$breakpoint}#{$namespace}content-close-quote {
    content: close-quote;
  }
  %#{$breakpoint}#{$namespace}content-no-open-quote {
    content: no-open-quote;
  }
  %#{$breakpoint}#{$namespace}content-no-close-quote {
    content: no-close-quote;
  }
  %#{$breakpoint}#{$namespace}counter-increment-none {
    counter-increment: none;
  }
  %#{$breakpoint}#{$namespace}counter-reset-none {
    counter-reset: none;
  }
  %#{$breakpoint}#{$namespace}cursor-alias {
    cursor: alias;
  }
  %#{$breakpoint}#{$namespace}cursor-all-scroll {
    cursor: all-scroll;
  }
  %#{$breakpoint}#{$namespace}cursor-auto {
    cursor: auto;
  }
  %#{$breakpoint}#{$namespace}cursor-cell {
    cursor: cell;
  }
  %#{$breakpoint}#{$namespace}cursor-context-menu {
    cursor: context-menu;
  }
  %#{$breakpoint}#{$namespace}cursor-col-resize {
    cursor: col-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-copy {
    cursor: copy;
  }
  %#{$breakpoint}#{$namespace}cursor-crosshair {
    cursor: crosshair;
  }
  %#{$breakpoint}#{$namespace}cursor-default {
    cursor: default;
  }
  %#{$breakpoint}#{$namespace}cursor-e-resize {
    cursor: e-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-ew-resize {
    cursor: ew-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-grab {
    cursor: grab;
  }
  %#{$breakpoint}#{$namespace}cursor-grabbing {
    cursor: grabbing;
  }
  %#{$breakpoint}#{$namespace}cursor-help {
    cursor: help;
  }
  %#{$breakpoint}#{$namespace}cursor-move {
    cursor: move;
  }
  %#{$breakpoint}#{$namespace}cursor-n-resize {
    cursor: n-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-ne-resize {
    cursor: ne-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-nesw-resize {
    cursor: nesw-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-ns-resize {
    cursor: ns-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-nw-resize {
    cursor: nw-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-nwse-resize {
    cursor: nwse-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-no-drop {
    cursor: no-drop;
  }
  %#{$breakpoint}#{$namespace}cursor-none {
    cursor: none;
  }
  %#{$breakpoint}#{$namespace}cursor-not-allowed {
    cursor: not-allowed;
  }
  %#{$breakpoint}#{$namespace}cursor-pointer {
    cursor: pointer;
  }
  %#{$breakpoint}#{$namespace}cursor-progress {
    cursor: progress;
  }
  %#{$breakpoint}#{$namespace}cursor-row-resize {
    cursor: row-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-s-resize {
    cursor: s-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-se-resize {
    cursor: se-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-sw-resize {
    cursor: sw-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-text {
    cursor: text
  }
  %#{$breakpoint}#{$namespace}cursor-vertical-text {
    cursor: vertical-text;
  }
  %#{$breakpoint}#{$namespace}cursor-w-resize {
    cursor: w-resize;
  }
  %#{$breakpoint}#{$namespace}cursor-wait {
    cursor: wait;
  }
  %#{$breakpoint}#{$namespace}cursor-zoom-in {
    cursor: zoom-in;
  }
  %#{$breakpoint}#{$namespace}cursor-zoom-out {
    cursor: zoom-out;
  }
  %#{$breakpoint}#{$namespace}direction-ltr {
    direction: ltr;
  }
  %#{$breakpoint}#{$namespace}direction-rtl {
    direction: rtl;
  }
  %#{$breakpoint}#{$namespace}display-inline {
    display: inline;
  }
  %#{$breakpoint}#{$namespace}display-block {
    display: block;
  }
  %#{$breakpoint}#{$namespace}display-flex {
    display: flex;
  }
  %#{$breakpoint}#{$namespace}display-inline-block {
    display: inline-block;
  }
  %#{$breakpoint}#{$namespace}display-inline-flex {
    display: inline-flex
  }
  %#{$breakpoint}#{$namespace}display-inline-table {
    display: inline-table;
  }
  %#{$breakpoint}#{$namespace}display-list-item {
    display: list-item;
  }
  %#{$breakpoint}#{$namespace}display-run-in {
    display: run-in;
  }
  %#{$breakpoint}#{$namespace}display-table {
    display: table;
  }
  %#{$breakpoint}#{$namespace}display-table-caption {
    display: table-caption;
  }
  %#{$breakpoint}#{$namespace}display-table-column-group {
    display: table-column-group
  }
  %#{$breakpoint}#{$namespace}display-table-header-group {
    display: table-header-group;
  }
  %#{$breakpoint}#{$namespace}display-table-footer-group {
    display: table-footer-group;
  }
  %#{$breakpoint}#{$namespace}display-table-row-group {
    display: table-row-group
  }
  %#{$breakpoint}#{$namespace}display-table-cell {
    display: table-cell;
  }
  %#{$breakpoint}#{$namespace}display-table-column {
    display: table-column;
  }
  %#{$breakpoint}#{$namespace}display-table-row {
    display: table-row;
  }
  %#{$breakpoint}#{$namespace}display-none {
    display: none;
  }
  %#{$breakpoint}#{$namespace}empty-cells-hide {
    empty-cells: hide;
  }
  %#{$breakpoint}#{$namespace}empty-cells-show {
    empty-cells: show;
  }
  %#{$breakpoint}#{$namespace}flex-auto {
    flex: auto;
  }
  %#{$breakpoint}#{$namespace}flex-basis-auto {
    flex-basis: auto;
  }
  %#{$breakpoint}#{$namespace}flex-direction-row {
    flex-direction: row;
  }
  %#{$breakpoint}#{$namespace}flex-direction-row-reverse {
    flex-direction: row-reverse;
  }
  %#{$breakpoint}#{$namespace}flex-direction-column {
    flex-direction: column;
  }
  %#{$breakpoint}#{$namespace}flex-direction-column-reverse {
    flex-direction: column-reverse;
  }
  %#{$breakpoint}#{$namespace}flex-wrap-nowrap {
    flex-wrap: nowrap;
  }
  %#{$breakpoint}#{$namespace}flex-wrap-wrap {
    flex-wrap: wrap;
  }
  %#{$breakpoint}#{$namespace}flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  %#{$breakpoint}#{$namespace}float-none {
    float: none;
  }
  %#{$breakpoint}#{$namespace}float-left {
    float: left;
  }
  %#{$breakpoint}#{$namespace}float-right {
    float: right;
  }
  %#{$breakpoint}#{$namespace}font-style-normal {
    font-style: normal;
  }
  %#{$breakpoint}#{$namespace}font-style-italic {
    font-style: italic;
  }
  %#{$breakpoint}#{$namespace}font-style-oblique {
    font-style: oblique;
  }
  %#{$breakpoint}#{$namespace}font-variant-normal {
    font-variant: normal;
  }
  %#{$breakpoint}#{$namespace}font-variant-small-caps {
    font-variant: small-caps;
  }
  %#{$breakpoint}#{$namespace}font-weight-normal {
    font-weight: normal;
  }
  %#{$breakpoint}#{$namespace}font-weight-bold {
    font-weight: bold;
  }
  %#{$breakpoint}#{$namespace}font-weight-bolder {
    font-weight: bolder;
  }
  %#{$breakpoint}#{$namespace}font-weight-lighter {
    font-weight: lighter;
  }
  %#{$breakpoint}#{$namespace}font-weight-100 {
    font-weight: 100;
  }
  %#{$breakpoint}#{$namespace}font-weight-200 {
    font-weight: 200;
  }
  %#{$breakpoint}#{$namespace}font-weight-300 {
    font-weight: 300;
  }
  %#{$breakpoint}#{$namespace}font-weight-400 {
    font-weight: 400;
  }
  %#{$breakpoint}#{$namespace}font-weight-500 {
    font-weight: 500;
  }
  %#{$breakpoint}#{$namespace}font-weight-600 {
    font-weight: 600;
  }
  %#{$breakpoint}#{$namespace}font-weight-700 {
    font-weight: 700;
  }
  %#{$breakpoint}#{$namespace}font-weight-800 {
    font-weight: 800;
  }
  %#{$breakpoint}#{$namespace}font-weight-900 {
    font-weight: 900;
  }
  %#{$breakpoint}#{$namespace}height-auto {
    height: auto;
  }
  %#{$breakpoint}#{$namespace}height-0 {
    height: 0;
  }
  %#{$breakpoint}#{$namespace}height-100 {
    height: 100%;
  }
  %#{$breakpoint}#{$namespace}justify-content-flex-start {
    justify-content: flex-start;
  }
  %#{$breakpoint}#{$namespace}justify-content-flex-end {
    justify-content: flex-end;
  }
  %#{$breakpoint}#{$namespace}justify-content-center {
    justify-content: center;
  }
  %#{$breakpoint}#{$namespace}justify-content-space-between {
    justify-content: space-between;
  }
  %#{$breakpoint}#{$namespace}justify-content-space-around {
    justify-content: space-around;
  }
  %#{$breakpoint}#{$namespace}left-auto {
    left: auto;
  }
  %#{$breakpoint}#{$namespace}left-0 {
    left: 0;
  }
  %#{$breakpoint}#{$namespace}left-50 {
    left: 50%;
  }
  %#{$breakpoint}#{$namespace}left-100 {
    left: 100%;
  }
  %#{$breakpoint}#{$namespace}letter-spacing-normal {
    letter-spacing: normal;
  }
  %#{$breakpoint}#{$namespace}line-height-normal {
    line-height: normal;
  }
  %#{$breakpoint}#{$namespace}list-style-none {
    list-style: none;
  }
  %#{$breakpoint}#{$namespace}list-style-armenian {
    list-style: armenian;
  }
  %#{$breakpoint}#{$namespace}list-style-circle {
    list-style: circle;
  }
  %#{$breakpoint}#{$namespace}list-style-decimal {
    list-style: decimal;
  }
  %#{$breakpoint}#{$namespace}list-style-decimal-leading-zero {
    list-style: decimal-leading-zero;
  }
  %#{$breakpoint}#{$namespace}list-style-disc {
    list-style: disc;
  }
  %#{$breakpoint}#{$namespace}list-style-gregorian {
    list-style: georgian;
  }
  %#{$breakpoint}#{$namespace}list-style-inside {
    list-style: inside;
  }
  %#{$breakpoint}#{$namespace}list-style-lower-alpha {
    list-style: lower-alpha;
  }
  %#{$breakpoint}#{$namespace}list-style-lower-greek {
    list-style: lower-greek;
  }
  %#{$breakpoint}#{$namespace}list-style-lower-latin {
    list-style: lower-latin;
  }
  %#{$breakpoint}#{$namespace}list-style-lower-roman {
    list-style: lower-roman;
  }
  %#{$breakpoint}#{$namespace}list-style-outside {
    list-style: outside;
  }
  %#{$breakpoint}#{$namespace}list-style-square {
    list-style: square;
  }
  %#{$breakpoint}#{$namespace}list-style-unset {
    list-style: unset;
  }
  %#{$breakpoint}#{$namespace}list-style-upper-alpha {
    list-style: upper-alpha;
  }
  %#{$breakpoint}#{$namespace}list-style-upper-latin {
    list-style: upper-latin;
  }
  %#{$breakpoint}#{$namespace}list-style-upper-roman {
    list-style: upper-roman;
  }
  %#{$breakpoint}#{$namespace}list-style-position-inside {
    list-style-position: inside;
  }
  %#{$breakpoint}#{$namespace}list-style-position-outside {
    list-style-position: outside;
  }
  %#{$breakpoint}#{$namespace}list-style-type-none {
    list-style-type: none;
  }
  %#{$breakpoint}#{$namespace}list-style-type-armenian {
    list-style-type: armenian;
  }
  %#{$breakpoint}#{$namespace}list-style-type-circle {
    list-style-type: circle;
  }
  %#{$breakpoint}#{$namespace}list-style-type-decimal {
    list-style-type: decimal;
  }
  %#{$breakpoint}#{$namespace}list-style-type-decimal-leading-zero {
    list-style-type: decimal-leading-zero;
  }
  %#{$breakpoint}#{$namespace}list-style-type-disc {
    list-style-type: disc;
  }
  %#{$breakpoint}#{$namespace}list-style-type-gregorian {
    list-style-type: georgian;
  }
  %#{$breakpoint}#{$namespace}list-style-type-inside {
    list-style-type: inside;
  }
  %#{$breakpoint}#{$namespace}list-style-type-lower-alpha {
    list-style-type: lower-alpha;
  }
  %#{$breakpoint}#{$namespace}list-style-type-lower-greek {
    list-style-type: lower-greek;
  }
  %#{$breakpoint}#{$namespace}list-style-type-lower-latin {
    list-style-type: lower-latin;
  }
  %#{$breakpoint}#{$namespace}list-style-type-lower-roman {
    list-style-type: lower-roman;
  }
  %#{$breakpoint}#{$namespace}list-style-type-outside {
    list-style-type: outside;
  }
  %#{$breakpoint}#{$namespace}list-style-type-square {
    list-style-type: square;
  }
  %#{$breakpoint}#{$namespace}list-style-type-unset {
    list-style-type: unset;
  }
  %#{$breakpoint}#{$namespace}list-style-type-upper-alpha {
    list-style-type: upper-alpha;
  }
  %#{$breakpoint}#{$namespace}list-style-type-upper-latin {
    list-style-type: upper-latin;
  }
  %#{$breakpoint}#{$namespace}list-style-type-upper-roman {
    list-style-type: upper-roman;
  }
  %#{$breakpoint}#{$namespace}margin-auto {
    margin: auto;
  }
  %#{$breakpoint}#{$namespace}margin-0 {
    margin: 0;
  }
  %#{$breakpoint}#{$namespace}margin-bottom-auto {
    margin-bottom: auto;
  }
  %#{$breakpoint}#{$namespace}margin-bottom-0 {
    margin-bottom: 0;
  }
  %#{$breakpoint}#{$namespace}margin-left-auto {
    margin-left: auto;
  }
  %#{$breakpoint}#{$namespace}margin-left-0 {
    margin-left: 0;
  }
  %#{$breakpoint}#{$namespace}margin-right-auto {
    margin-right: auto;
  }
  %#{$breakpoint}#{$namespace}margin-right-0 {
    margin-right: 0;
  }
  %#{$breakpoint}#{$namespace}margin-top-auto {
    margin-top: auto;
  }
  %#{$breakpoint}#{$namespace}margin-top-0 {
    margin-top: 0;
  }
  %#{$breakpoint}#{$namespace}max-width-100 {
    max-width: 100%;
  }
  %#{$breakpoint}#{$namespace}min-width-100 {
    min-width: 100%;
  }
  %#{$breakpoint}#{$namespace}opacity-1 {
    opacity: 1;
  }
  %#{$breakpoint}#{$namespace}opacity-09 {
    opacity: .9;
  }
  %#{$breakpoint}#{$namespace}opacity-08 {
    opacity: .8;
  }
  %#{$breakpoint}#{$namespace}opacity-07 {
    opacity: .7;
  }
  %#{$breakpoint}#{$namespace}opacity-06 {
    opacity: .6;
  }
  %#{$breakpoint}#{$namespace}opacity-05 {
    opacity: .5;
  }
  %#{$breakpoint}#{$namespace}opacity-04 {
    opacity: .4;
  }
  %#{$breakpoint}#{$namespace}opacity-03 {
    opacity: .3;
  }
  %#{$breakpoint}#{$namespace}opacity-02 {
    opacity: .2;
  }
  %#{$breakpoint}#{$namespace}opacity-01 {
    opacity: .1;
  }
  %#{$breakpoint}#{$namespace}opacity-0 {
    opacity: 0;
  }
  %#{$breakpoint}#{$namespace}outline-none {
    outline: none;
  }
  %#{$breakpoint}#{$namespace}outline-color-white {
    outline-color: #fff;
  }
  %#{$breakpoint}#{$namespace}outline-color-black {
    outline-color: #000;
  }
  %#{$breakpoint}#{$namespace}outline-style-none {
    outline-style: none;
  }
  %#{$breakpoint}#{$namespace}outline-style-hidden {
    outline-style: hidden;
  }
  %#{$breakpoint}#{$namespace}outline-style-dotted {
    outline-style: dotted;
  }
  %#{$breakpoint}#{$namespace}outline-style-dashed {
    outline-style: dashed;
  }
  %#{$breakpoint}#{$namespace}outline-style-solid {
    outline-style: solid;
  }
  %#{$breakpoint}#{$namespace}outline-style-double {
    outline-style: double;
  }
  %#{$breakpoint}#{$namespace}outline-style-groove {
    outline-style: groove;
  }
  %#{$breakpoint}#{$namespace}outline-style-ridge {
    outline-style: ridge;
  }
  %#{$breakpoint}#{$namespace}outline-style-inset {
    outline-style: inset;
  }
  %#{$breakpoint}#{$namespace}outline-style-outset {
    outline-style: outset;
  }
  %#{$breakpoint}#{$namespace}overflow-visible {
    overflow: visible;
  }
  %#{$breakpoint}#{$namespace}overflow-hidden {
    overflow: hidden;
  }
  %#{$breakpoint}#{$namespace}overflow-scroll {
    overflow: scroll;
  }
  %#{$breakpoint}#{$namespace}overflow-auto {
    overflow: auto;
  }
  %#{$breakpoint}#{$namespace}overflow-x-visible {
    overflow-x: visible;
  }
  %#{$breakpoint}#{$namespace}overflow-x-hidden {
    overflow-x: hidden;
  }
  %#{$breakpoint}#{$namespace}overflow-x-scroll {
    overflow-x: scroll;
  }
  %#{$breakpoint}#{$namespace}overflow-x-auto {
    overflow-x: auto;
  }
  %#{$breakpoint}#{$namespace}overflow-y-visible {
    overflow-y: visible;
  }
  %#{$breakpoint}#{$namespace}overflow-y-hidden {
    overflow-y: hidden;
  }
  %#{$breakpoint}#{$namespace}overflow-y-scroll {
    overflow-y: scroll;
  }
  %#{$breakpoint}#{$namespace}overflow-y-auto {
    overflow-y: auto;
  }
  %#{$breakpoint}#{$namespace}padding-0 {
    padding: 0;
  }
  %#{$breakpoint}#{$namespace}padding-bottom-0 {
    padding-bottom: 0;
  }
  %#{$breakpoint}#{$namespace}padding-left-0 {
    padding-left: 0;
  }
  %#{$breakpoint}#{$namespace}padding-right {
    padding-right: 0;
  }
  %#{$breakpoint}#{$namespace}padding-top {
    padding-top: 0;
  }
  %#{$breakpoint}#{$namespace}page-break-after-auto {
    page-break-after: auto;
  }
  %#{$breakpoint}#{$namespace}page-break-after-always {
    page-break-after: always;
  }
  %#{$breakpoint}#{$namespace}page-break-after-avoid {
    page-break-after: avoid;
  }
  %#{$breakpoint}#{$namespace}page-break-after-left {
    page-break-after: left;
  }
  %#{$breakpoint}#{$namespace}page-break-after-right {
    page-break-after: right;
  }
  %#{$breakpoint}#{$namespace}page-break-before-auto {
    page-break-before: auto;
  }
  %#{$breakpoint}#{$namespace}page-break-before-always {
    page-break-before: always;
  }
  %#{$breakpoint}#{$namespace}page-break-before-avoid {
    page-break-before: avoid;
  }
  %#{$breakpoint}#{$namespace}page-break-before-left {
    page-break-before: left;
  }
  %#{$breakpoint}#{$namespace}page-break-before-right {
    page-break-before: right;
  }
  %#{$breakpoint}#{$namespace}page-break-inside-auto {
    page-break-inside: auto;
  }
  %#{$breakpoint}#{$namespace}page-break-inside-avoide {
    page-break-inside: avoid;
  }
  %#{$breakpoint}#{$namespace}perspective-none {
    perspective: none;
  }
  %#{$breakpoint}#{$namespace}position-static {
    position: static;
  }
  %#{$breakpoint}#{$namespace}position-absolute {
    position: absolute;
  }
  %#{$breakpoint}#{$namespace}position-fixed {
    position: fixed;
  }
  %#{$breakpoint}#{$namespace}position-relative {
    position: relative;
  }
  %#{$breakpoint}#{$namespace}quotes-none {
    quotes: none;
  }
  %#{$breakpoint}#{$namespace}resize-none {
    resize: none;
  }
  %#{$breakpoint}#{$namespace}resize-both {
    resize: both;
  }
  %#{$breakpoint}#{$namespace}resize-horizontal {
    resize: horizontal;
  }
  %#{$breakpoint}#{$namespace}resize-vertical {
    resize: vertical;
  }
  %#{$breakpoint}#{$namespace}right-auto {
    right: auto;
  }
  %#{$breakpoint}#{$namespace}right-0 {
    right: 0;
  }
  %#{$breakpoint}#{$namespace}table-layout-auto {
    table-layout: auto;
  }
  %#{$breakpoint}#{$namespace}table-layout-fixed {
    table-layout: fixed;
  }
  %#{$breakpoint}#{$namespace}text-align-left {
    text-align: left;
  }
  %#{$breakpoint}#{$namespace}text-align-right {
    text-align: right;
  }
  %#{$breakpoint}#{$namespace}text-align-center {
    text-align: center;
  }
  %#{$breakpoint}#{$namespace}text-align-justify {
    text-align: justify;
  }
  %#{$breakpoint}#{$namespace}text-align-last-left {
    text-align-last: left;
  }
  %#{$breakpoint}#{$namespace}text-align-last-right {
    text-align-last: right;
  }
  %#{$breakpoint}#{$namespace}text-align-last-center {
    text-align-last: center;
  }
  %#{$breakpoint}#{$namespace}text-align-last-justify {
    text-align-last: justify;
  }
  %#{$breakpoint}#{$namespace}text-align-last-start {
    text-align-last: start;
  }
  %#{$breakpoint}#{$namespace}text-align-last-end {
    text-align-last: end;
  }
  %#{$breakpoint}#{$namespace}text-decoration-none {
    text-decoration: none;
  }
  %#{$breakpoint}#{$namespace}text-decoration-underline {
    text-decoration: underline;
  }
  %#{$breakpoint}#{$namespace}text-decoration-overline {
    text-decoration: overline;
  }
  %#{$breakpoint}#{$namespace}text-decoration-line-through {
    text-decoration: line-through;
  }
  %#{$breakpoint}#{$namespace}text-indent-0 {
    text-indent: 0;
  }
  %#{$breakpoint}#{$namespace}text-overflow-clip {
    text-overflow: clip;
  }
  %#{$breakpoint}#{$namespace}text-overflow-ellipsis {
    text-overflow: ellipsis;
  }
  %#{$breakpoint}#{$namespace}text-shadow-none {
    text-shadow: none;
  }
  %#{$breakpoint}#{$namespace}text-transform-none {
    text-transform: none;
  }
  %#{$breakpoint}#{$namespace}text-transform-capitalize {
    text-transform: capitalize;
  }
  %#{$breakpoint}#{$namespace}text-transform-uppercase {
    text-transform: uppercase;
  }
  %#{$breakpoint}#{$namespace}text-transform-lowercase {
    text-transform: lowercase;
  }
  %#{$breakpoint}#{$namespace}top-auto {
    top: auto;
  }
  %#{$breakpoint}#{$namespace}top-0 {
    top: 0;
  }
  %#{$breakpoint}#{$namespace}top-50 {
    top: 50%;
  }
  %#{$breakpoint}#{$namespace}top-47 {
    top: 47%;
  }
  %#{$breakpoint}#{$namespace}top-100 {
    top: 100%;
  }
  %#{$breakpoint}#{$namespace}transform-style-flat {
    transform-style: flat;
  }
  %#{$breakpoint}#{$namespace}transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-linear {
    transition-timing-function: linear;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-ease {
    transition-timing-function: ease;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-ease-in {
    transition-timing-function: ease-in;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-ease-out {
    transition-timing-function: ease-out;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-ease-in-out {
    transition-timing-function: ease-in-out;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-step-start {
    transition-timing-function: step-start;
  }
  %#{$breakpoint}#{$namespace}transition-timing-function-step-end {
    transition-timing-function: step-end;
  }
  %#{$breakpoint}#{$namespace}unicode-bidi-normal {
    unicode-bidi: normal;
  }
  %#{$breakpoint}#{$namespace}unicode-bidi-embed {
    unicode-bidi: embed;
  }
  %#{$breakpoint}#{$namespace}unicode-bidi-bidi-overrid {
    unicode-bidi: bidi-override;
  }
  %#{$breakpoint}#{$namespace}user-select-auto {
    user-select: auto;
  }
  %#{$breakpoint}#{$namespace}user-select-none {
    user-select: none;
  }
  %#{$breakpoint}#{$namespace}user-select-text {
    user-select: text;
  }
  %#{$breakpoint}#{$namespace}user-select-all {
    user-select: all;
  }
  %#{$breakpoint}#{$namespace}vertical-align-baseline {
    vertical-align: baseline;
  }
  %#{$breakpoint}#{$namespace}vertical-align-sub {
    vertical-align: sub;
  }
  %#{$breakpoint}#{$namespace}vertical-align-super {
    vertical-align: super;
  }
  %#{$breakpoint}#{$namespace}vertical-align-top {
    vertical-align: top;
  }
  %#{$breakpoint}#{$namespace}vertical-align-text-top {
    vertical-align: text-top;
  }
  %#{$breakpoint}#{$namespace}vertical-align-middle {
    vertical-align: middle;
  }
  %#{$breakpoint}#{$namespace}vertical-align-bottom {
    vertical-align: bottom;
  }
  %#{$breakpoint}#{$namespace}vertical-align-text-bottom {
    vertical-align: text-bottom;
  }
  %#{$breakpoint}#{$namespace}visibility-visible {
    visibility: visible;
  }
  %#{$breakpoint}#{$namespace}visibility-hidden {
    visibility: hidden;
  }
  %#{$breakpoint}#{$namespace}visibility-collapse {
    visibility: collapse;
  }
  %#{$breakpoint}#{$namespace}white-space-normal {
    white-space: normal;
  }
  %#{$breakpoint}#{$namespace}white-space-nowrap {
    white-space: nowrap;
  }
  %#{$breakpoint}#{$namespace}white-space-pre {
    white-space: pre;
  }
  %#{$breakpoint}#{$namespace}white-space-pre-line {
    white-space: pre-line;
  }
  %#{$breakpoint}#{$namespace}white-space-pre-wrap {
    white-space: pre-wrap;
  }
  %#{$breakpoint}#{$namespace}width-auto {
    width: auto;
  }
  %#{$breakpoint}#{$namespace}width-0 {
    width: 0;
  }
  %#{$breakpoint}#{$namespace}width-100 {
    width: 100%;
  }
  %#{$breakpoint}#{$namespace}word-break-normal {
    word-break: normal;
  }
  %#{$breakpoint}#{$namespace}word-break-break-all {
    word-break: break-all;
  }
  %#{$breakpoint}#{$namespace}word-break-keep-all {
    word-break: keep-all;
  }
  %#{$breakpoint}#{$namespace}word-spacing-normal {
    word-spacing: normal;
  }
  %#{$breakpoint}#{$namespace}word-wrap-normal {
    word-wrap: normal;
  }
  %#{$breakpoint}#{$namespace}word-wrap-break-word {
    word-wrap: break-word;
  }
  %#{$breakpoint}#{$namespace}z-index-0 {
    z-index: 0;
  }
  %#{$breakpoint}#{$namespace}z-index-1 {
    z-index: 1;
  }
  %#{$breakpoint}#{$namespace}z-index-10 {
    z-index: 10;
  }
  %#{$breakpoint}#{$namespace}z-index-11 {
    z-index: 11;
  }
  %#{$breakpoint}#{$namespace}z-index-100 {
    z-index: 100;
  }
  %#{$breakpoint}#{$namespace}z-index-101 {
    z-index: 101;
  }
  %#{$breakpoint}#{$namespace}z-index-1000 {
    z-index: 1000;
  }
  %#{$breakpoint}#{$namespace}z-index-1001 {
    z-index: 1001;
  }
  %#{$breakpoint}#{$namespace}z-index-10000 {
    z-index: 10000;
  }
  %#{$breakpoint}#{$namespace}z-index-10001 {
    z-index: 1001;
  }
}
