@mixin animation($animationMap) {
  $userMapLength      : length($animationMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($animationMap, animationDelay) {
    animation-delay     : map-get($animationMap, animationDelay);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-delay) {
    animation-delay     : map-get($animationMap, animation-delay);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationDirection) {
    animation-direction : map-get($animationMap, animationDirection);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-direction) {
    animation-direction : map-get($animationMap, animation-direction);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationDuration) {
    animation-duration  : map-get($animationMap, animationDuration);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-duration) {
    animation-duration  : map-get($animationMap, animation-duration);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationFillMode) {
    animation-fill-mode : map-get($animationMap, animationFillMode);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-fill-mode) {
    animation-fill-mode : map-get($animationMap, animation-fill-mode);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationIterationCount) {
    animation-iteration-count: map-get($animationMap, animationIterationCount);
    $cssPropertiesNumber     : $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-iteration-count) {
    animation-iteration-count: map-get($animationMap, animation-iteration-count);
    $cssPropertiesNumber     : $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationName) {
    animation-name      : map-get($animationMap, animationName);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-name) {
    animation-name      : map-get($animationMap, animation-name);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationPlayState) {
    animation-play-state: map-get($animationMap, animationPlayState);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-play-state) {
    animation-play-state: map-get($animationMap, animation-play-state);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($animationMap, animationTimingFunction) {
    animation-timing-function: map-get($animationMap, animationTimingFunction);
    $cssPropertiesNumber     : $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($animationMap, animation-timing-function) {
    animation-timing-function: map-get($animationMap, animation-timing-function);
    $cssPropertiesNumber     : $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
