@mixin background($backgroundMap) {
  $userMapLength      : length($backgroundMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($backgroundMap, backgroundAttachment) {
    background-attachment: map-get($backgroundMap, backgroundAttachment);
    $cssPropertiesNumber : $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-attachment) {
    background-attachment: map-get($backgroundMap, background-attachment);
    $cssPropertiesNumber : $cssPropertiesNumber + 1;
  }

  @if map-has-key($backgroundMap, backgroundClip) {
    background-clip     : map-get($backgroundMap, backgroundClip);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-clip) {
    background-clip     : map-get($backgroundMap, background-clip);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($backgroundMap, backgroundColor) {
    background-color    : map-get($backgroundMap, backgroundColor);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-color) {
    background-color    : map-get($backgroundMap, background-color);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($backgroundMap, backgroundGradient) {
    background          : map-get($backgroundMap, backgroundGradient);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-gradient) {
    background          : map-get($backgroundMap, background-gradient);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  //background images logic
  @if map-has-key($backgroundMap, normalImage) {
    $normal             : map-get($backgroundMap, normalImage);

    background-image    : url($normal);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
    @if map-has-key($backgroundMap, retinaImage) {
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        $retina         : map-get($backgroundMap, retinaImage);

        background-image: url($retina);
      }
      $cssPropertiesNumber: $cssPropertiesNumber + 1;
    }
  } @else 
  if map-has-key($backgroundMap, normal-image) {
    $normal             : map-get($backgroundMap, normal-mage);

    background-image    : url($normal);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
    @if map-has-key($backgroundMap, retina-image) {
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        $retina         : map-get($backgroundMap, retina-image);

        background-image: url($retina);
      }
      $cssPropertiesNumber: $cssPropertiesNumber + 1;
    }
  }

  @if map-has-key($backgroundMap, backgroundOrigin) {
    background-origin   : map-get($backgroundMap, backgroundOrigin);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-origin) {
    background-origin   : map-get($backgroundMap, background-origin);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($backgroundMap, backgroundPosition) {
    background-position : map-get($backgroundMap, backgroundPosition);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-position) {
    background-position : map-get($backgroundMap, background-position);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($backgroundMap, backgroundRepeat) {
    background-repeat   : map-get($backgroundMap, backgroundRepeat);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-repeat) {
    background-repeat   : map-get($backgroundMap, background-repeat);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($backgroundMap, backgroundSize) {
    background-size     : map-get($backgroundMap, backgroundSize);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($backgroundMap, background-size) {
    background-size     : map-get($backgroundMap, background-size);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
