@mixin columns($columnsMap) {
  $userMapLength      : length($columnsMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($columnsMap, columnCount) {
    column-count        : map-get($columnsMap, columnCount);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-count) {
    column-count        : map-get($columnsMap, column-count);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnFill) {
    column-fill         : map-get($columnsMap, columnFill);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-fill) {
    column-fill         : map-get($columnsMap, column-fill);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnGap) {
    column-gap          : map-get($columnsMap, columnGap);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-gap) {
    column-gap          : map-get($columnsMap, column-gap);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnRule) {
    column-rule         : map-get($columnsMap, columnRule);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-rule) {
    column-rule         : map-get($columnsMap, column-rule);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnRuleColor) {
    column-rule-color   : map-get($columnsMap, columnRuleColor);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-rule-color) {
    column-rule-color   : map-get($columnsMap, column-rule-color);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnRuleStyle) {
    column-rule-style   : map-get($columnsMap, columnRuleStyle);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-rule-style) {
    column-rule-style   : map-get($columnsMap, column-rule-style);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnRuleWidth) {
    column-rule-width   : map-get($columnsMap, columnRuleWidth);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-rule-width) {
    column-rule-width   : map-get($columnsMap, column-rule-width);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($columnsMap, columnWidth) {
    column-width        : map-get($columnsMap, columnWidth);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($columnsMap, column-width) {
    column-width        : map-get($columnsMap, column-width);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
