@mixin flexPositioning($flexPositioningMap) {
  $userMapLength      : length($flexPositioningMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($flexPositioningMap, alignItems) {
    align-items         : map-get($flexPositioningMap, alignItems);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($flexPositioningMap, align-items) {
    align-items         : map-get($flexPositioningMap, align-items);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($flexPositioningMap, alignContent) {
    align-content       : map-get($flexPositioningMap, alignContent);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($flexPositioningMap, align-content) {
    align-content       : map-get($flexPositioningMap, align-content);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($flexPositioningMap, flexDirection) {
    flex-direction      : map-get($flexPositioningMap, flexDirection);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($flexPositioningMap, flex-direction) {
    flex-direction      : map-get($flexPositioningMap, flex-direction);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($flexPositioningMap, flexWrap) {
    flex-wrap           : map-get($flexPositioningMap, flexWrap);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($flexPositioningMap, flex-wrap) {
    flex-wrap           : map-get($flexPositioningMap, flex-wrap);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($flexPositioningMap, justifyContent) {
    justify-content     : map-get($flexPositioningMap, justifyContent);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($flexPositioningMap, justify-content) {
    justify-content     : map-get($flexPositioningMap, justify-content);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
