@mixin font($fontMap) {
  $userMapLength      : length($fontMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($fontMap, fontFamily) {
    font-family         : unquote(map-get($fontMap, fontFamily));
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($fontMap, font-family) {
    font-family         : unquote(map-get($fontMap, font-family));
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($fontMap, fontSize) {
    font-size           : map-get($fontMap, fontSize);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($fontMap, font-size) {
    font-size           : map-get($fontMap, font-size);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($fontMap, fontStyle) {
    font-style          : map-get($fontMap, fontStyle);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($fontMap, font-style) {
    font-style          : map-get($fontMap, font-style);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($fontMap, fontVariant) {
    font-variant        : map-get($fontMap, fontVariant);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($fontMap, font-variant) {
    font-variant        : map-get($fontMap, font-variant);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($fontMap, fontWeight) {
    font-weight         : map-get($fontMap, fontWeight);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($fontMap, font-weight) {
    font-weight         : map-get($fontMap, font-weight);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
