@mixin list($listMap) {
  @if map-has-key($listMap, listStyleImage) {
    list-style-image: map-get($listMap, listStyleImage);
  }

  @if map-has-key($listMap, listStylePosition) {
    list-style-position: map-get($listMap, listStylePosition);
  }

  @if map-has-key($listMap, listStyleType) {
    list-style-type: map-get($listMap, listStyleType);
  }
}
