@mixin list($listMap) {
  $userMapLength      : length($listMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($listMap, listStyleImage) {
    list-style-image    : map-get($listMap, listStyleImage);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($listMap, list-style-image) {
    list-style-image    : map-get($listMap, listStyleImage);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($listMap, listStylePosition) {
    list-style-position : map-get($listMap, listStylePosition);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($listMap, list-style-position) {
    list-style-position : map-get($listMap, list-style-position);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($listMap, listStyleType) {
    list-style-type     : map-get($listMap, listStyleType);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($listMap, list-style-type) {
    list-style-type     : map-get($listMap, list-style-type);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
