@mixin margin($marginMap) {
  @if map-has-key($marginMap, all) {
    margin: map-get($marginMap, all);
  }
  @else if map-has-key($marginMap, topBottom) and map-has-key($marginMap, leftRight) {
    margin: map-get($marginMap, topBottom) map-get($marginMap, leftRight);
  }
  @else if map-has-key($marginMap, top) and map-has-key($marginMap, right) and map-has-key($marginMap, bottom) and map-has-key($marginMap, left) {
    @if map-get($marginMap, top) == map-get($marginMap, left) and map-get($marginMap, top) == map-get($marginMap, bottom) and map-get($marginMap, top) == map-get($marginMap, right) {
      margin: map-get($marginMap, top);
    }
    @else if map-get($marginMap, top) == map-get($marginMap, bottom) and map-get($marginMap, left) == map-get($marginMap, right) and map-get($marginMap, top) != map-get($marginMap, left) {
      margin: map-get($marginMap, top) map-get($marginMap, left);
    }
    @else {
      margin: map-get($marginMap, top) map-get($marginMap, right) map-get($marginMap, bottom) map-get($marginMap, left);
    }
  }
  @else {
    @if map-has-key($marginMap, bottom) {
      margin-bottom: map-get($marginMap, bottom);
    }

    @if map-has-key($marginMap, left) {
      margin-left: map-get($marginMap, left);
    }

    @if map-has-key($marginMap, right) {
      margin-right: map-get($marginMap, right);
    }

    @if map-has-key($marginMap, top) {
      margin-top: map-get($marginMap, top);
    }
  }
}
