@mixin outline($outlineMap) {
  $userMapLength      : length($outlineMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($outlineMap, outline) {
    outline             : map-get($outlineMap, outline);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($outlineMap, outlineOffset) {
    outline-offset      : map-get($outlineMap, outlineOffset);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($outlineMap, outline-offset) {
    outline-offset      : map-get($outlineMap, outline-offset);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
