@mixin padding($paddingMap) {
  @if map-has-key($paddingMap, all) {
    padding: map-get($paddingMap, all);
  }
  @else if map-has-key($paddingMap, topBottom) and map-has-key($paddingMap, leftRight) {
    padding: map-get($paddingMap, topBottom) map-get($paddingMap, leftRight);
  }
  @else if map-has-key($paddingMap, top) and map-has-key($paddingMap, right) and map-has-key($paddingMap, bottom) and map-has-key($paddingMap, left) {
    @if map-get($paddingMap, top) == map-get($paddingMap, left) and map-get($paddingMap, top) == map-get($paddingMap, bottom) and map-get($paddingMap, top) == map-get($paddingMap, right) {
      padding: map-get($paddingMap, top);
    }
    @else if map-get($paddingMap, top) == map-get($paddingMap, bottom) and map-get($paddingMap, left) == map-get($paddingMap, right) and map-get($paddingMap, top) != map-get($paddingMap, left) {
      padding: map-get($paddingMap, top) map-get($paddingMap, left);
    }
    @else {
      padding: map-get($paddingMap, top) map-get($paddingMap, right) map-get($paddingMap, bottom) map-get($paddingMap, left);
    }
  }
  @else {
    @if map-has-key($paddingMap, bottom) {
      padding-bottom: map-get($paddingMap, bottom);
    }

    @if map-has-key($paddingMap, left) {
      padding-left: map-get($paddingMap, left);
    }

    @if map-has-key($paddingMap, right) {
      padding-right: map-get($paddingMap, right);
    }

    @if map-has-key($paddingMap, top) {
      padding-top: map-get($paddingMap, top);
    }
  }
}
