@mixin text($textMap) {
  $userMapLength      : length($textMap);
  $cssPropertiesNumber: 0;
  @if map-has-key($textMap, color) {
    color               : map-get($textMap, color);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textAlign) {
    text-align          : map-get($textMap, textAlign);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-align) {
    text-align          : map-get($textMap, text-align);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textDecoration) {
    text-decoration     : map-get($textMap, textDecoration);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-decoration) {
    text-decoration     : map-get($textMap, text-decoration);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textDecorationColor) {
    text-decoration-color: map-get($textMap, textDecorationColor);
    $cssPropertiesNumber : $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-decoration-color) {
    text-decoration-color: map-get($textMap, text-decoration-color);
    $cssPropertiesNumber : $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textDecorationLine) {
    text-decoration-line: map-get($textMap, textDecorationLine);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-decoration-line) {
    text-decoration-line: map-get($textMap, text-decoration-line);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textDecorationStyle) {
    text-decoration-style: map-get($textMap, textDecorationStyle);
    $cssPropertiesNumber : $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-decoration-style) {
    text-decoration-style: map-get($textMap, text-decoration-style);
    $cssPropertiesNumber : $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textIndent) {
    text-indent         : map-get($textMap, textIndent);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-indent) {
    text-indent         : map-get($textMap, text-indent);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textTransform) {
    text-transform      : map-get($textMap, textTransform);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-transform) {
    text-transform      : map-get($textMap, text-transform);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($textMap, textShadow) {
    text-shadow         : map-get($textMap, textShadow);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($textMap, text-shadow) {
    text-shadow         : map-get($textMap, text-shadow);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
