@mixin typography($typographyMap) {
  $userMapLength      : length($typographyMap);
  $cssPropertiesNumber: 0;

  @if map-has-key($typographyMap, letterSpacing) {
    letter-spacing      : map-get($typographyMap, letterSpacing);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($typographyMap, letter-spacing) {
    letter-spacing      : map-get($typographyMap, letter-spacing);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($typographyMap, lineHeight) {
    line-height         : map-get($typographyMap, lineHeight);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($typographyMap, line-height) {
    line-height         : map-get($typographyMap, line-height);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($typographyMap, verticalAlign) {
    vertical-align      : map-get($typographyMap, verticalAlign);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($typographyMap, vertical-align) {
    vertical-align      : map-get($typographyMap, vertical-align);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($typographyMap, wordBreak) {
    word-break          : map-get($typographyMap, wordBreak);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($typographyMap, word-break) {
    word-break          : map-get($typographyMap, word-break);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($typographyMap, wordSpacing) {
    word-spacing        : map-get($typographyMap, wordSpacing);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($typographyMap, word-spacing) {
    word-spacing        : map-get($typographyMap, word-spacing);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if map-has-key($typographyMap, wordWrap) {
    word-wrap           : map-get($typographyMap, wordWrap);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  } @else 
  if map-has-key($typographyMap, word-wrap) {
    word-wrap           : map-get($typographyMap, word-wrap);
    $cssPropertiesNumber: $cssPropertiesNumber + 1;
  }

  @if $cssPropertiesNumber < $userMapLength {
    @warn "One or more keys passed to the mixin are invalid";
  }
  @if $userMapLength == 0 {
    @warn "The passed map is empty";
  }
}
