//input size
@mixin input-size ($fontSize, $lineHeight, $minWidth, $paddingVertical, $paddingHorizontal) {
  font-size: $fontSize;
  line-height: $lineHeight;
  min-width: $minWidth;
  padding: $paddingVertical $paddingHorizontal;
}
//
//Input default style
@mixin input-default ($color, $background, $border, $placeholderColor, $textSelectionColor, $transitionSpeed, $transitionEasing) {
  background-color: $background;
  border: $border;
  color: $color;
  @if $placeholderColor !=0 {
    @include placeholder-color ($placeholderColor);
  }
  @if $textSelectionColor !=0 {
    @include text-selection-color ($textSelectionColor);
  }
  @if $transitionSpeed > 0 {
    @include triple-transition (background-color $transitionSpeed $transitionEasing, border $transitionSpeed $transitionEasing, color $transitionSpeed $transitionEasing);
  }
}
//
//Input focus styles
@mixin input-focus ($color, $background, $border, $boxShadow) {
  &:focus,
  &:active {
    background-color: $background;
    border: $border;
    @if $boxShadow !=0 {
      @include box-shadow($boxShadow);
    }
    color: $color;
  }
}

@mixin input-valid ($color, $background, $border, $boxShadow) {
  &.form-group__field_valid {
    background-color: $background;
    border: $border;
    @if $boxShadow !=0 {
      @include box-shadow($boxShadowV);
    }
    color: $color;
  }
}

@mixin input-error ($color, $background, $border, $boxShadow) {
  &.form-group__field_error {
    background-color: $background;
    border: $border;
    @if $boxShadow !=0 {
      @include box-shadow($boxShadow);
    }
    color: $color;
  }
}