
$appColors: (
  primary  : #4788de,
  secondary: #826fe0,
  tertiary : #540658
)
!default;

$socialMediaColors: (
  facebook   : (chambray: #3B5998, chambrayLight: #4267B2, chambrayDark: #365899),
  twitter    : #1DA1F2,
  youtube    : #FF0000,
  instagram  : (magenta: #C32AA3, royalBlue: #4C5FD7, purpleHearth: #7232BD, flamingo: #F46F30, kournikova: #FFDC7D),
  pinterest  : #BD081C,
  google     : (cornflouwerBlue: #4285F4, cinnabar: #EA4335, chateuGreen: #34A853, selectiveYellow: #FBBC05),
  googlePlus : #DB4437,
  linkedIn   : #007BB5,
  snapchat   : #FFFC00,
  tumblr     : #35465D,
  whatsApp   : (mountainMeadow: #25D366, deepSeaGreen: #075E54, sourfieGreen: #128C7E, gossip: #DCF8C6, pictonBlue: #34B7F1),
  vimeo      : #1AB7EA,
  foursquare : #F94877,
  skype      : #00AFF0,
  android    : #A4C639,
  stumbleUpon: #E94826,
  flickr     : (rose: #F40083, scienceBlue: #006ADD),
  yahoo      : #430297,
  soundcloud : #FF5500,
  spotify    : #1ED760,
  dribble    : #EA4C89,
  reddit     : #FF4500,
  deviantArt : #05CC47,
  quora      : #AA2200,
  vk         : #4A76A8,
  vine       : #00b489,
  tripadvisor: #00af87
)
!default;