//-------------------------------
//MARGINS SETTINGS
//-------------------------------
$stepsMargin: 24 !default;
$intervalMargin: 0.2rem !default;
$firstMargin: 0 !default;
$marginsTabletMultiplyFactor: 1.25 !default;
$marginsDesktopMultiplyFactor: 1.5 !default; 
//------------------------------- 
//PADDINGS SETTINGS
//-------------------------------
$stepsPadding: 24 !default;
$intervalPadding: 0.2rem !default;
$firstPadding: 0 !default;
$paddingsTabletMultiplyFactor: 1.25 !default;
$paddingsDesktopMultiplyFactor: 1.5 !default;
//-------------------------------
//FONT SIZES SETTINGS
//-------------------------------
$stepsFontSize: 24 !default;
$intervalFontSize: 0.2rem !default;
$firstFontSize: 0 !default;
$fontSizeTabletMultiplyFactor: 1.25 !default;
$fontSizeDesktopMultiplyFactor: 1.5 !default;
$lineHeightMultiplyFactor: 1.2 !default;
//-------------------------------
//ACCESSIBILITY
//-------------------------------
$accessFocusTransitionSpeed: 0.3s !default;
$accessFocusTransitionTimingFunction: ease !default;