<!doctype html>
<html>

<head>
  <title>test</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../style.css" />
</head>

<body>

  <form class="form" id="form--1" name="form--1" action="." method="post" novalidate>
    <div role="group" aria-labelledby="form__legend--1" class="form__fieldset">
      <h3 class="form__legend" id="form__legend--1">Legend</h3>
      <div class="form__item form__item_1">
        <div style="background-color: aquamarine;">Input</div>
      </div>
      <div class="form__item form__item_1">
        <div style="background-color: aquamarine;">Input</div>
      </div>
      <div class="form__item form__item_1">
        <div style="background-color: aquamarine;">Input</div>
      </div>
    </div>

    <div role="group" aria-labelledby="form__legend--2" class="form__fieldset">
      <h3 class="form__legend" id="form__legend--2">Legend</h3>
      <div class="form__item form__item_2">
        <div style="background-color: aquamarine;">Input</div>
      </div>
      <div class="form__item form__item_2">
        <div style="background-color: aquamarine;">Input</div>
      </div>
      <div class="form__item form__item_2">
        <div style="background-color: aquamarine;">Input</div>
      </div>
    </div>

    <div class="form__fieldset" aria-label="Personal data">
      <div class="form__item form__item_3">
        <div style="background-color: aquamarine;">Input</div>
      </div>
      <div class="form__item form__item_3">
        <div style="background-color: aquamarine;">Input</div>
      </div>
      <div class="form__item form__item_3">
        <div style="background-color: aquamarine;">Input</div>
      </div>
    </div>

  </form>

</body>

</html>
