html, body {
  font-family: Helvetica, "sans-serif";
}

body {
  margin-top: 10rem;
}

h2 {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem 0;
}

p {
  margin: 0 0 1rem 0;
  max-width: 40rem;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.col_colored div {
  background-color: #651ad7;
  color: #fff;
  border: 0.04rem solid #fff;
  border-radius: 0.2rem;
  display: flex;
  width: 100%;
  min-height: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.row_vcenter {
  min-height: 15rem;
  background-color: #d3cae2;
}


.main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #49119e;
}

.main-nav .container {
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}

.main-nav h1 {
  font-size: 2rem;
}


.col_text {
  background-color: #f1f1f1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.text-right {
  text-align: right;
}

.back-link {
  color: #fff;
  margin-top: 0.8rem;
  display: block;
  font-size: 0.8rem;
}
