//---------------------
//BORDER
//---------------------
@mixin border ($borderStyle, $borderWidth, $borderColor, $borderRadius) {
  @if $borderSide==top {
    @if $borderColor !=skip {
      border-top-color: $borderColor;
    }
    @if $borderStyle !=skip {
      border-top-style: $borderStyle;
    }
    @if $borderRadius !=skip {
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }
    @if $borderWidth !=skip {
      border-top-width: $borderWidth;
    }
  }
  else if $borderSide==bottom {
    @if $borderColor !=skip {
      border-bottom-color: $borderColor;
    }
    @if $borderStyle !=skip {
      border-bottom-style: $borderStyle;
    }
    @if $borderRadius !=skip {
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
    @if $borderWidth !=skip {
      border-bottom-width: $borderWidth;
    }
  }
  else if $borderSide==left {
    @if $borderColor !=skip {
      border-left-color: $borderColor;
    }
    @if $borderStyle !=skip {
      border-left-style: $borderStyle;
    }
    @if $borderRadius !=skip {
      border-top-left-radius: $borderRadius;
      border-bottom-left-radius: $borderRadius;
    }
    @if $borderWidth !=skip {
      border-left-width: $borderWidth;
    }
  }
  else if $borderSide==right {
    @if $borderColor !=skip {
      border-right-color: $borderColor;
    }
    @if $borderStyle !=skip {
      border-right-style: $borderStyle;
    }
    @if $borderRadius !=skip {
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
    @if $borderWidth !=skip {
      border-right-width: $borderWidth;
    }
  }
  else if $borderSide==all {
    @if $borderColor !=skip {
      border-color: $borderColor;
    }
    @if $borderStyle !=skip {
      border-style: $borderStyle;
    }
    @if $borderRadius !=skip {
      border-radius: $borderRadius;
    }
    @if $borderWidth !=skip {
      border-width: $borderWidth;
    }
  }
}
