@mixin size ($width, $height, $minWidth, $minHeight, $padding, $margin) {
  @if $height !=skip {
    height: $height;
  }
  @if $minHeight !=skip {
    min-height: $height;
  }
  @if $minWidth !=skip {
    min-width: $minWidth;
  }
  @if $width !=skip {
    width: $width;
  }
}
