//---------------------------
//mixin for text 
//---------------------------
@mixin font-sizing ($fontSize, $lineHeight, $letterSpacing) {
  font-size: $fontSize;
  @if $letterSpacing !=inherit {
    letter-spacing: $letterSpacing;
  }
  @if $lineHeight !=inherit {
    line-height: $lineHeight;
  }
}
@mixin text-style ($color, $fontWeight, $fontStyle, $textTransform, $textDecoration) {
  color: $color;
  @if $fontStyle !=normal {
    font-style: $fontStyle;
  }
  @if $fontWeight !=normal {
    font-weight: $fontWeight;
  }
  @if $textDecoration !=none {
    text-decoration: $textDecoration;
  }
  @if $textTransform !=none {
    text-transform: $textTransform;
  }
}
@mixin text-variation ($color, $fontWeight, $fontStyle, $textTransform, $textDecoration) {
  color: $color;
  @if $fontStyle !=normal {
    font-style: $fontStyle;
  }
  @if $fontWeight !=normal {
    font-weight: $fontWeight;
  }
  @if $textDecoration !=none {
    text-decoration: $textDecoration;
  }
  @if $textTransform !=none {
    text-transform: $textTransform;
  }
}
@mixin text-selection-color ($color) {
  &::selection {
    background: $color;
  }
  &::-moz-selection {
    background: $color;
  }
}
