<!-- THUMBANIL WITH HTML IMG -->
<a href="#" class="thumbnail">
  <img src="#" alt="Check out our new awesome product" class="thumbnail__img" />
</a>

<!-- THUMBANIL WITH HTML IMG AND CAPTION-->
<a href="#" class="thumbnail">
  <img src="#" alt="" role="none presentation" class="thumbnail__img" />
  <span class="thumbnail__caption">
    Thumbnail caption
  </span>
</a>


<!-- THUMBANIL WITH CSS IMG -->
<a href="#" class="thumbnail" aria-label="Check out our new awesome product">
  <span class="thumbnail__img thumbnail__img_bg" style="background-image: url(image/url/img.png)"></span>
</a>

<!-- THUMBANIL WITH CSS IMG AND CAPTION-->
<a href="#" class="thumbnail">
  <span class="thumbnail__img thumbnail__img_bg" style="background-image: url(image/url/img.png)"></span>
  <span class="thumbnail__caption">
    Thumbnail caption
  </span>
</a>

<!--
MODIFIERS:
thumbnail__caption_overlap -> position caption over the image
-->
